/**
 * Editor styles for the admin
 */

#wpwrap .edit-post-visual-editor a.uagb-icon-list__link {
	color: #3a3a3a;
}

#wpwrap .uagb-icon-list__outer-wrap .uagb-icon-list__label-wrap {
	cursor: text;
}

[data-type="uagb/icon-list"] .uagb-icon-list__layout-horizontal .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
}

[data-type="uagb/icon-list"] .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
	width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
