/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


.uagb-icon-list__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.wp-block-uagb-icon-list-child {
	padding: 0;
	transition: all 0.2s;
	display: inline-flex;
	color: #3a3a3a;
	align-items: center;
	text-decoration: none;
	box-shadow: none;

	span.uagb-icon-list__source-wrap {
		display: block;
		align-items: center;
	}
}

.uagb-icon-list__source-wrap svg {
	display: block;
}

.uagb-icon-list__source-image {
	width: 40px;
}
// Deprecated classes.
.uagb-icon-list__outer-wrap .uagb-icon-list__content-wrap {
	color: #3a3a3a;
	display: flex;
	align-items: center;
}
