.uag-global-nav-menu {
	background: var(--metabox-background-color);
	padding: 20px 20px 0px 20px;
	z-index: 2;
	text-align: center;

	.uag-global-nav__title{
		a:focus,
		a:hover {
			box-shadow: none;
			outline: 0;
		}
		.uag-logo {
			width: 250px;
		}
	}
	.uag-global-nav__desc{
		padding: 10px;
	}
	.uag-global-nav__items {
		display: inline-flex;
		justify-content: center;
    	flex-wrap: wrap;
		padding: 15px 15px 0px 15px;
	}
	.uag-global-nav-menu__tab {
		& {
			background: transparent;
			border: none;
			color: #444;
			cursor: pointer;
			padding: 15px 25px 15px 25px;
			font-size: 14px;
			line-height: 1em;
			letter-spacing: 0.225px;
			font-weight: 400;
			margin: 0 0 -1px 0;
			max-width: 100%;
			text-align: center;
			text-decoration: none;
			outline: none;
			box-shadow: none;
		}
		&:hover {
			color: #2F4F4F;
		}
		&.uag-global-nav-menu__tab--active {
			background: var(--background-light-color);
			color: #2F4F4F;
		}
	}
}

/* New FIxed header */

.uag-menu-page-content {
	font-size: 14px;
	font-weight: 400;
}

.uag-global-nav-menu .uag-global-nav__title {
	padding: 10px;
}

body.folded .uag-global-nav-menu {
    position: fixed;
    width: calc(100% - 75px);
    left: 55px;
    top: 32px;
    z-index: 2;
}

/* New FIxed header End */
