.uag-global-nav-menu {
	display: inline-flex;
	z-index: 2;
	width: 100%;
	height: 60px;
	background: var(--metabox-background-color);
	box-shadow: 0 5px 20px rgba(190, 190, 190, 0.1);

	.uag-global-nav__title {
		padding: 11px;

		a:focus,
		a:hover {
			outline: 0;
		}

		.uag-logo {
			width: 178.65px;
			max-width: 250px;
		}

		a {
			display: inline-flex;
		}
	}

	.uag-global-nav__items {
		display: flex;
		margin-left: auto;
	}

	.uag-global-nav-menu__tab {
		display: flex;
		align-items: center;
		padding: 1.2rem;
		color: #444;
		margin-bottom: -1px;
		cursor: pointer;
		font-size: 14px;
		line-height: 1em;
		font-weight: var(--heading-weight-400);
		text-decoration: none;
	}

	.uag-global-nav-menu__tab:hover {
		color: #135e96;
	}
}

.uag-menu-page-wrapper .uag-global-nav-menu__tab.uag-global-nav-menu__tab--active,
.uag-menu-page-wrapper a.uag-global-nav-menu__tab.uag-global-nav-menu__tab--active:active {
	color: #135e96;
	box-shadow: inset 0 -4px 0 -2px #135e96;
	font-weight: var(--heading-weight-500);
}

/* New FIxed header */

.uag-menu-page-content {
	font-size: 14px;
	font-weight: var(--heading-weight-500);
}

body.folded .uag-global-nav-menu {
	position: fixed;
	width: calc(100% - 75px);
	left: 55px;
	top: 32px;
	z-index: 2;
}

/* New FIxed header End */
