.uag-global-nav-menu {
	margin: 0px;
	padding: 2px 20px 0 20px;
	display: flex;
	background: #ffffff;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: none;

	.uag-title {
		max-width: 170px;

		a:focus,
		a:hover {
			box-shadow: none;
			outline: 0;
		}
		.uag-logo {
			width: 120px;
		}
	}

	.uag-global-nav__items {
		display: flex;
		align-items: center;
	}
	.uag-global-nav-menu__tab {
		& {
			background: transparent;
			border: none;
			color: #444;
			cursor: pointer;
			padding: 25px 30px 23px 30px;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.225px;
			font-weight: 400;
			margin: 0 0 -1px 0;
			max-width: 100%;
			text-align: center;
			text-decoration: none;
			outline: none;
			box-shadow: none;
			border-bottom: 2px solid #ffffff00;
		}
		&:hover {
			color: #f06335;
			border-bottom: 2px solid #f06335;
		}
		&.uag-global-nav-menu__tab--active {
			background: none;
			color: #f06335;
			border-bottom: 2px solid #f06335;
		}
	}
}

/* New FIxed header */

.uag-menu-page-content {
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
}

.uag-global-nav-menu .uag-title {
	max-width: 140px;
	border-right: 1px solid #dddddd;
	display: flex;
	align-items: center;
}

body.folded .uag-global-nav-menu {
    position: fixed;
    width: calc(100% - 75px);
    left: 55px;
    top: 32px;
    z-index: 2;
}

.uag-global-nav-menu {
	position: fixed;
	width: calc(100% - 160px);
	left: 160px;
	top: 32px;
	z-index: 2;
}
/* New FIxed header End */
