.uag-global-nav-menu {
	background: var(--metabox-background-color);
	padding: 0 20px;
	display: inline-flex;
	z-index: 2;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eee;

	.uag-global-nav__title {
		padding: 10px 20px 10px 0;
		display: inline-flex;
		border-right: 1px solid #eee;

		a:focus,
		a:hover {
			outline: 0;
		}

		.uag-logo {
			width: 178.65px;
		}

		a {
			display: inline-flex;
			align-items: center;
			text-decoration: none;
		}
	}

	.uagb-plugin-version {
		color: #b3b3b3;
		display: flex;
		align-items: center;
		text-align: right;
		font-size: 13px;
		margin-left: auto;
	}

	.uag-global-nav__items {
		display: inline-flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.uag-global-nav-menu__tab {
		box-shadow: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 16px 27px;
		color: #444;
		margin-bottom: -1px;
		cursor: pointer;
		font-size: 14px;
		line-height: 1em;
		letter-spacing: 0.225px;
		font-weight: var(--heading-weight-400);
		max-width: 100%;
		text-align: center;
		text-decoration: none;
		box-sizing: unset;
	}

	.uag-global-nav-menu__tab:hover {
		box-shadow: inset 0 -4px 0 -2px #d2cece;
	}
}

.uag-menu-page-wrapper .uag-global-nav-menu__tab.uag-global-nav-menu__tab--active,
.uag-menu-page-wrapper a.uag-global-nav-menu__tab.uag-global-nav-menu__tab--active:active {
	color: #135e96;
	box-shadow: inset 0 -4px 0 -2px #135e96;
}

/* New FIxed header */

.uag-menu-page-content {
	font-size: 14px;
	font-weight: var(--heading-weight-400);
}

body.folded .uag-global-nav-menu {
	position: fixed;
	width: calc(100% - 75px);
	left: 55px;
	top: 32px;
	z-index: 2;
}

/* New FIxed header End */
