.uag-global-settings-metabox {
	font-size: 14px;
	max-width: 100%;

	table td {
		padding: 10px 10px 15px 0;
	}

	table th:first-child {
		font-weight: 500;
	}

	table {
		width: 100%;
	}

	form {
		margin: 0;
	}

	h3 {
		border-bottom: 1px solid #ddd;
		padding: 0px 10px 20px;
		margin: 30px 0 25px;
	}

	h4 {
		margin: 25px 0 0;
	}

	.uag-select-option label {
		font-weight: 500;
	}

	.uag-field__desc {
		color: #666;
		line-height: 1.5;
		margin-top: 15px;
	}

	.uag-global-settings-metabox__tabs nav {
		background: #fafafa;
	}

	h3:first-child {
		margin-top: 5px;
	}

	.uag-settings-form .uag-submit-settings {
		min-width: 165px;
	}

	.uag-global-settings-metabox__tabs {
		position: relative;
		width: 100%;
		display: flex;
		min-height: 750px;

		nav {
			float: unset;
			width: 20%;
			background: var(--background-light-color);

			a:focus {
				box-shadow: none;
			}
		}

		.uag-global-settings-metabox__tabs-menu {
			border-right: 1px solid #dedede;
			a {
				display: block;
				border-bottom: 1px solid #dedede;
				color: #444;
				cursor: pointer;
				padding: 23px;
				text-decoration: none;
				font-weight: 400;

				&:hover {
					color: #434343;
					background: #e4e4e7;
					box-shadow: none;
					font-weight: normal;

					.uag-settings-nav__active {
						background: #ececec;
					}
				}
			}
		}
	}

	.uag-global-settings-metabox__current-tab {
		background: var(--background-light-color);
		padding: 20px 30px;
		padding-bottom: 250px;
		float: unset;
		width: 80%;
		display: unset;

		.input-field {
			font-weight: 400;
			margin-left: 20px;
		}
		.uag-setting-select-option {
			font-weight: 400;
			padding: 4px 15px;
			height: 40px;
			border-color: #ccc;
		}
	}

	h3 {
		font-weight: 500;
		color: #444;
	}

	/* New Css */
	.uag-radio-field__option {
		padding: 0 0 25px;
	}

	/* Field specific css */
	.uag-field-row-ga-event-ini-checkout,
	.uag-field-row-ga-event-add-to-cart,
	.uag-field-row-ga-event-payment-info,
	.uag-field-row-ga-event-purchase-complete,
	.uag-field-row-pixel-event-ini-checkout,
	.uag-field-row-pixel-event-payment-info {
		td {
			padding: 0;
		}
	}

	.uag-field-row-pixel-event-purchase-complete {
		td {
			padding-top: 0;
		}
	}
}
.uag-blocks-settings-metabox {
	background: var(--background-light-color);
    padding: 20px 30px;
    padding-bottom: 250px;
    float: unset;
    width: 100%;
}
