.uag-global-settings-metabox {
	font-size: 14px;
	max-width: 100%;
	form {
		margin: 0;
	}

	h3 {
		text-align: left;
	}

	h4 {
		margin: 25px 0 0;
	}

	.uag-select-option label {
		font-weight: var(--heading-weight-500);
	}

	.uag-field__desc {
		color: #666;
		line-height: 1.55em;
		margin-top: 15px;
	}

	.uag-settings-form .uag-submit-settings {
		min-width: 165px;
	}

	/* New Css */
	.uag-radio-field__option {
		padding: 0 0 25px;
	}

	/* Field specific css */
	.uag-field-row-ga-event-ini-checkout,
	.uag-field-row-ga-event-add-to-cart,
	.uag-field-row-ga-event-payment-info,
	.uag-field-row-ga-event-purchase-complete,
	.uag-field-row-pixel-event-ini-checkout,
	.uag-field-row-pixel-event-payment-info {
		td {
			padding: 0;
		}
	}

	.uag-field-row-pixel-event-purchase-complete {
		td {
			padding-top: 0;
		}
	}
}
.uag-blocks-settings-metabox {
	background: var(--background-light-color);
    padding: 50px 30px;
    width: 80%;
    margin: 0 auto;
}
.uag-extension__metabox{
	margin: 20px 0px;
	.uag-individual-block-settings-metabox{
		width: 30%;
	}
	h2{
		margin:10px;
	}
}
