.uag-global-settings-metabox {
	font-size: 14px;
	max-width: 100%;
	border-top: 1px solid #eee;
	form {
		margin: 0;
	}

	h3 {
		text-align: left;
	}

	h4 {
		margin: 25px 0 0;
	}

	.uag-select-option label {
		font-weight: var(--heading-weight-500);
	}

	.uag-field__desc {
		color: #666;
		line-height: 1.55em;
		margin-top: 15px;
	}

}
.uag-blocks-settings-metabox {
	background: var(--background-light-color);
    padding: 50px 30px;
    width: 80%;
    margin: 0 auto;
	border-top: 1px solid #eee;
}
.uag-extension__metabox{
	margin: 20px 0px;
	display: grid;
    grid-template-columns: repeat(3,1fr);
	.uag-individual-block-settings-metabox{
		grid-row-start: 3;
		grid-column-start: 1;
	}
	h2{
		margin:15px;
	}
}
