.uag-metabox {
	background: var(--background-light-color);
	box-shadow: none;
	padding: 30px 20px;
	border-radius: 2px;
}

.uag-metabox__footer {
	padding-bottom: 0px;
}

.uag-metabox__footer p {
	margin-top: 10px;
	font-size: 14px;
}
