.uag-home-page-wrapper {
	display: block;
	P {
		margin: 0 0 0.5em;
	}
	.uag-col--row {
		display: flex;
		width: 100%;
		padding: 0;
	}
	.uag-col--20 {
		width: 20%;
	}
	.uag-col--30 {
		width: 30%;
	}
	.uag-col--33 {
		width: 33.33%;
	}
	.uag-col--50 {
		width: 50%;
	}
	.uag-col--70 {
		width: 70%;
		margin: 0 25px 0px 0px;
	}
	.uag-col--100 {
		width: 100%;
	}
	.uag-col--flex {
		display: flex;
	}
	.uag-button--action-button {
		background: #fff;
		border-radius: 0;
		vertical-align: top;
	}
	.uag-button--primary {
		color: #fff;
		border-color: #0071a1;
		background: #0071a1;
	}

	.uag-display--none {
		display: none;
	}
}

.uag-metabox {
	background: #fff;
	box-shadow: none;
	margin-bottom: 20px;
	border: 0;
	padding: 30px 20px;
	border-radius: 2px;
	h2 {
		font-size: 18px;
		margin: 0px;
		font-weight: 400;
	}
}
.uag-metabox__header,
.uag-metabox__body,
.uag-metabox__footer {
	padding: 10px;
	border-bottom: 0;
}

.uag-metabox__footer {
	padding-bottom: 0px;
}

.uag-metabox__footer p {
	margin-top: 10px;
	font-size: 14px;
}
