.uag-global-settings-metabox {
    max-width: 80%;
    margin: 0 auto;
    background: var(--background-light-color);
    h2{
        text-align: left;
        padding: 50px 0px 25px;
        margin:0px;
    }
    p{
        text-align: justify;
    }
}