.uag-global-settings-metabox {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background: var(--background-light-color);
    padding: 30px 30px;
    h2{
        text-align: center;
    }
}