.uag-global-settings-metabox {
    position: relative;
    max-width: 1100px;
	min-height: 500px;
    margin: 0 auto;
    background: var(--background-light-color);
    padding: 30px 30px;
    h2{
        text-align: center;
    }
}