.editor-styles-wrapper {

	.uagb-modal-wrapper {

		.uagb-modal-popup {

			.uagb-modal-popup-wrap {
				margin: 30px;
				// .block-editor-block-list__layout {
				// 	.block-list-appender.wp-block button svg {
				// 		fill: #fff;
				// 	}
				// 	button.components-button.block-editor-button-block-appender {
				// 		padding: 0px;
				// 		width: auto;
				// 		height: auto;
				// 		background: #1e1e1e;
				// 		position: absolute;
				// 		right: 0;
				// 	}
				// }
			}

			&.active {
				background: rgba(0, 0, 0, 0.6);
				border: 2px none #ddd;
				display: flex;
				margin-top: 20px;
				padding: 30px;
				position: relative;
			}
		}
	}
}

.rtl .editor-styles-wrapper {

	.uagb-modal-button-link .uagb-modal-content-wrapper > svg { // Fixed 5px left/right margin when before/after button icon.
		margin-left: 5px;
		margin-right: 5px;
	}
}
