body {

	&.hide-scroll {
		overflow: hidden;
	}

	.uagb-modal-popup-wrap {

		.wp-block {
			max-width: none !important;
			margin: 0 !important;
		}
	}
}

.uagb-modal-popup {
	visibility: hidden;
	position: fixed;

	&.active {
		top: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.7);
		left: 0;
		right: 0;
		display: flex;
		z-index: 99999;
		visibility: visible;

		.uagb-modal-popup-close {
			opacity: 1;
			display: flex;
			align-items: center;
			position: absolute;
			text-align: center;
			cursor: pointer;
			fill: #fff;
		}
	}

	.uagb-modal-popup-close {
		display: none;
	}

	.uagb-modal-popup-content {
		padding: 35px 35px;
		overflow-x: hidden;
		overflow-y: overlay;
	}

	.uagb-modal-popup-wrap {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 700px;
		height: 450px;
		max-width: 100%;
		box-sizing: border-box;
		background: #fff;
		color: #333;
		position: relative;
		z-index: 99999;

		.uagb-modal-popup-content::-webkit-scrollbar {
			width: 5px;
		}

		.uagb-modal-popup-content::-webkit-scrollbar-thumb {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			border-radius: 100px;
		}
	}
}

.entry {

	.entry-content {

		a.uagb-modal-button-link {
			text-decoration: none;
			align-items: center;
		}

		a.uagb-modal-button-link:hover {
			color: inherit;
		}
	}
}

.uagb-modal-trigger {

	svg {
		font-size: 30px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		cursor: pointer;
	}
}

img.uagb-modal-trigger {
	cursor: pointer;
}

div.uagb-spectra-button-wrapper {
	line-height: 1;

	a.uagb-modal-button-link.uagb-modal-trigger {
		display: inline-flex;
		text-decoration: none;
		align-items: center;
		cursor: pointer;

		svg {
			fill: currentColor;
			font-style: normal;
			vertical-align: top;
			width: 15px;
			height: 15px;
			font-size: 15px;
		}
	}
}

.components-popover {
	z-index: 1000000 !important;
}

/* Effect 1: Fade in and scale up */
.uagb-effect-default {

	.uagb-modal-popup-wrap {
		opacity: 0;
	}

	&.active {

		.uagb-modal-popup-wrap {
			opacity: 1;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
	}
}
