.wp-block-uagb-faq-child {

	.uagb-faq-questions-button {

		display: flex;
		align-items: center;

		.uagb-faq-icon-wrap {
			display: flex;
			align-items: center;
		}

		.uagb-question {
			width: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.uagb-icon svg,
	.uagb-icon-active svg {

		width: 15px;
		height: 15px;
		font-size: 15px;
	}

	&.uagb-faq-child__outer-wrap.uagb-faq-item .uagb-icon-active,
	&.uagb-faq-child__outer-wrap.uagb-faq-item.uagb-faq-item-active .uagb-icon,
	&.uagb-faq-child__outer-wrap .uagb-faq-item .uagb-icon-active,
	&.uagb-faq-child__outer-wrap .uagb-faq-item.uagb-faq-item-active .uagb-icon {
		display: none;
		width: 0;
		padding: 0;
		height: 0;
		margin: 0;
	}

	&.uagb-faq-child__outer-wrap.uagb-faq-item .uagb-icon,
	&.uagb-faq-child__outer-wrap.uagb-faq-item.uagb-faq-item-active .uagb-icon-active,
	&.uagb-faq-child__outer-wrap .uagb-faq-item .uagb-icon,
	&.uagb-faq-child__outer-wrap .uagb-faq-item.uagb-faq-item-active .uagb-icon-active {
		display: flex;
		width: auto;
		height: auto;
	}
}


.uagb-faq-layout-grid .uagb-faq-child__outer-wrap.uagb-faq-item .uagb-icon,
.uagb-faq-layout-grid .uagb-faq-child__outer-wrap.uagb-faq-item.uagb-faq-item-active .uagb-icon-active,
.uagb-faq-layout-grid .uagb-faq-child__outer-wrap .uagb-faq-item .uagb-icon,
.uagb-faq-layout-grid .uagb-faq-child__outer-wrap .uagb-faq-item.uagb-faq-item-active .uagb-icon-active {
	display: none;
}


.uagb-faq-layout-grid .uagb-faq-child__outer-wrap.uagb-faq-item span.uagb-icon-active.uagb-faq-icon-wrap,
.uagb-faq-layout-grid .uagb-faq-child__outer-wrap.uagb-faq-item.uagb-faq-item-active .uagb-icon-active,
.uagb-faq-layout-grid .uagb-faq-child__outer-wrap .uagb-faq-item span.uagb-icon-active.uagb-faq-icon-wrap,
.uagb-faq-layout-grid .uagb-faq-child__outer-wrap .uagb-faq-item.uagb-faq-item-active .uagb-icon-active {
	display: none;
}

