/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-uagb-cf7-styler {
	.wpcf7 form{
		position:relative
	}
	.wpcf7 form>div,.wpcf7 form>p{
		margin-bottom:1.2em
	}
	.wpcf7 .wpcf7-form-control-wrap{
		width:100%;
		display:block
	}
	.wpcf7 input:not([type=submit]):focus,.wpcf7 select:focus,.wpcf7 textarea:focus{
		background:#fff;
		border-color:#eaeaea;
		outline:0;
		-webkit-box-shadow:none;
		box-shadow:none
	}
	.wpcf7 input:not([type=submit]),.wpcf7 select,.wpcf7 textarea{
		width:100%;
		padding:.75em
	}
	.wpcf7 input[type=file]{
		color:#666;
		height:auto;
		border-width:1px;
		border-style:solid;
		border-color:#eaeaea;
		-webkit-border-radius:2px;
		border-radius:2px;
		background:#fafafa;
		-webkit-box-shadow:none;
		box-shadow:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transition:all .2s linear;
		transition:all .2s linear
	}
	.wpcf7 input[type=checkbox],.wpcf7 input[type=radio]{
		//display:inline-block;
		background:#e9eef2;
		color:#555;
		clear:none;
		cursor:pointer;
		line-height:0;
		height:1.2em;
		margin:-3px 4px 0 0;
		outline:0;
		padding:0;
		-webkit-border-radius:.2em;
		border-radius:.2em;
		text-align:center;
		vertical-align:middle;
		width:1.4em;
		min-width:1.4em;
		-webkit-transition:all .2s linear;
		transition:all .2s linear;
		display: none;
	}
	.wpcf7 .wpcf7-validation-errors{
		border-color:red
	}

	div.wpcf7 {
		margin: 0;
		padding: 0;
	}

	div.wpcf7 .screen-reader-response {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		margin: 0;
		padding: 0;
		border: 0;
	}

	div.wpcf7-response-output {
		margin: 2em 0.5em 1em;
		padding: 0.2em 1em;
		border: 2px solid #ff0000;
	}

	div.wpcf7-mail-sent-ok {
		border: 2px solid #398f14;
	}

	div.wpcf7-mail-sent-ng,
	div.wpcf7-aborted {
		border: 2px solid #ff0000;
	}

	div.wpcf7-spam-blocked {
		border: 2px solid #ffa500;
	}

	div.wpcf7-validation-errors,
	div.wpcf7-acceptance-missing {
		border: 2px solid #f7e700;
	}

	.wpcf7-form-control-wrap {
		position: relative;
	}

	span.wpcf7-not-valid-tip {
		color: #f00;
		font-size: 1em;
		font-weight: normal;
		display: block;
	}

	.use-floating-validation-tip span.wpcf7-not-valid-tip {
		position: absolute;
		top: 20%;
		left: 20%;
		z-index: 100;
		border: 1px solid #ff0000;
		background: #fff;
		padding: .2em .8em;
	}

	span.wpcf7-list-item {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	span.wpcf7-list-item-label::before,
	span.wpcf7-list-item-label::after {
		content: " ";
	}

	.wpcf7-display-none {
		display: none;
	}

	div.wpcf7 .ajax-loader {
		visibility: hidden;
		display: inline-block;
		width: 16px;
		height: 16px;
		border: none;
		padding: 0;
		margin: 0 0 0 4px;
		vertical-align: middle;
	}

	div.wpcf7 .ajax-loader.is-active {
		visibility: visible;
	}

	div.wpcf7 div.ajax-error {
		display: none;
	}

	div.wpcf7 .placeheld {
		color: #888;
	}

	div.wpcf7 input[type="file"] {
		cursor: pointer;
	}

	div.wpcf7 input[type="file"]:disabled {
		cursor: default;
	}

	div.wpcf7 .wpcf7-submit:disabled {
		cursor: not-allowed;
	}
}

.block-editor-page #wpwrap .edit-post-visual-editor .wp-block-uagb-cf7-styler .button,
.block-editor-page #wpwrap .edit-post-visual-editor .wp-block-uagb-cf7-styler button,
.block-editor-page #wpwrap .edit-post-visual-editor .wp-block-uagb-cf7-styler input,
.block-editor-page #wpwrap .edit-post-visual-editor .wp-block-uagb-cf7-styler select,
.block-editor-page #wpwrap .edit-post-visual-editor .wp-block-uagb-cf7-styler textarea{
	font-size: 100%;
	color:inherit;
}
