/** Common **/

.uag-icon {
	vertical-align: middle;
}

.uag-label {
	font-size: 18px;
	vertical-align: middle;
	display: block;
	&.bottom-space {
		margin-bottom: 20px;
	}
}

/** Row & Columns CSS */
.uag-row {
	.uag-col {
		width: 100%;
		background: #fff;
		padding: 15px;
	}
	.uag-col:nth-of-type(odd) {
		margin-bottom: 30px;
	}
}