/** Common **/

.uag-icon {
	vertical-align: middle;
}

.uag-label {
	font-size: 18px;
	vertical-align: middle;
	display: block;
	&.bottom-space {
		margin-bottom: 20px;
	}
}

/** Row & Columns CSS */
.uag-row {
	column-gap: 20px;
	.uag-col {
		width: 100%;
		background: var(--metabox-background-color);
		padding: 15px;
	}
}