.uag-fb-pixel-settings__form-table {
  min-width: 200px;
  height: 34px;
  line-height: 34px;
  text-align: left;
}

// Common settings for setting page
.uag-fb-pixel-settings__form-table th {
  padding: 15px 10px 15px 0;
}

.uag-fb-pixel-settings{
  margin: 1.33em 0 0;
}