.wcf-other-settings__form-table {
	min-width: 200px;
	height: 34px;
	line-height: 34px;
	text-align: left;
}

// Common settings for setting page
.wcf-other-settings__form-table th {
	padding: 15px 10px 15px 0;
}
.wcf-regenerate-css {
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;

	.wcf-regenerate-css__option {
		margin-bottom: 20px;

		.wcf-regenerate-css-label {
			font-weight: 500;
		}
		.wcf-regenerate-css-button {
			margin-left: 20px;
		}

		.wcf-icon {
			vertical-align: middle;
			margin-right: 6px;
		}

		.wcf-spinner {
			float: none;
			margin: 0;
			// vertical-align: middle;
			-webkit-animation: spin 2s linear infinite; /* Safari */
			animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
			0% {
				-webkit-transform: rotate( 0deg );
			}
			100% {
				-webkit-transform: rotate( 360deg );
			}
		}

		@keyframes spin {
			0% {
				transform: rotate( 0deg );
			}
			100% {
				transform: rotate( 360deg );
			}
		}
	}
	.wcf-regenerate-css__desc {
		margin-bottom: 20px;
	}
}

.wcf-field-row-delete_data {
	.wcf-field__desc {
		padding: 15px;
		border-left: 2px solid red;
		margin: 0 0 15px 6px;
		line-height: 1.5;
	}
}
