.editor-styles-wrapper [data-type="uagb/inline-notice"] {
	.uagb-notice-title {
		margin: 0;
	}

	p.block-editor-rich-text__editable.uagb-notice-text.rich-text {
		margin: 0;
	}

	p.block-editor-rich-text__editable.uagb-notice-title.rich-text {
		margin-bottom: 0;
	}
}
