.uagb-inline_notice__outer-wrap {

    &.uagb-inline_notice__align-right {
        text-align:right;
        span.uagb-notice-dismiss {
            left: 13px;
        }
    }
    &.uagb-inline_notice__align-center {
        text-align:center;
        span.uagb-notice-dismiss {
            right: 13px;
        }
    }
    &.uagb-inline_notice__align-left {
        text-align:left;
        span.uagb-notice-dismiss {
            right: 13px;
        }
    }
}

.wp-block-uagb-inline-notice{
    &.uagb-notice__active {
        display: none;
    }
    position: relative;
    .uagb-notice-title {
        margin: 0;       
        width: 100%;
        display: inline-block
    }
    span.uagb-notice-dismiss svg{
        width: 16px;
        height: 16px;
    }
    span.uagb-notice-dismiss {
        position: absolute;
        cursor: pointer;
        top: 13px;
        opacity: .8;
        padding: 0;
        background: none;
        transition: .3s ease;
    }
}