.uagb-inline_notice__outer-wrap {

    &.uagb-inline_notice__align-right {
        text-align:right
    }
    &.uagb-inline_notice__align-center {
        text-align:center
    }
    &.uagb-inline_notice__align-left {
        text-align:left
    }

}

.wp-block-uagb-inline-notice{
    position: relative;
    h4 {
        font-weight: bold;
        padding: .5em 1em;
        margin: 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        display: inline-block
    }
    .uagb-notice-text{
        padding: 1em;
        border: solid 2px #000;
        background: #fff;
        font-family: inherit;
        font-size: inherit;
     }
     span.uagb-notice-dismiss svg{
        width: 16px;
        height: 16px;
    }
    span.uagb-notice-dismiss {
        position: absolute;
        cursor: pointer;
        top: 13px;
        right: 13px;
        opacity: .8;
        padding: 0;
        background: none;
        transition: .3s ease;
    }
}

