.uagb-forms-checkbox-wrap input[type="checkbox"],
.uagb-form-checkbox-option input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 15px;
}

.uagb-forms-checkbox-controls {
	margin-top: 10px;
}

.uagb-form-checkbox-option-delete.has-icon {
	vertical-align: middle;
	padding: 10px;
	margin: 0;
}
