@import "../../styles/variables";

.spectra-separator {
	width: 100%;
	height: 1px;
	background-color: $spectra-color-border;

	&__margin {

		&--top {
			margin-top: $spectra-control-vertical-gap;
		}

		&--bottom {
			margin-bottom: $spectra-control-vertical-gap;
		}
	}	
}

.uagb-inspector-tab .components-panel__body .spectra-separator {
	width: auto;
	margin: $spectra-control-vertical-gap (-$spectra-panel-body-padding);
}
