.uagb-slider-editor-wrap {

	.swiper-wrapper {
		width: 100%;
	}

	.swiper-pagination {
		position: relative;
	}

	.block-editor-block-list__layout .block-list-appender {
		padding: 30px;

		.block-editor-button-block-appender {
			width: auto;
			margin: 0 auto;
		}
	}
}
