.uagb-swiper {
	position: relative;
	overflow: hidden;
}

.uagb-slider-container {
	position: relative;
	width: 100%;
	min-width: 0;

	.swiper-notification {
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		z-index: -1000;
	}

	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		pointer-events: all;
	}

	.swiper-pagination {
		&.swiper-pagination-bullets {
			max-width: 100%;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		border-style: none;
		background: rgb(239, 239, 239);
	}
}
