.uag-metabox{
    background: #fff;
    box-shadow: none;
    margin-bottom: 20px;
    border:0;
    padding: 30px 20px;
    border-radius: 2px;
    h2{
        font-size: 18px;
        margin: 0px;
        font-weight: 400;
    }
}
.uag-metabox__header,
.uag-metabox__body,
.uag-metabox__footer{
    padding: 10px;
    border-bottom: 0;
}

.uag-metabox__footer{
    padding-bottom: 0px;
}

.uag-metabox__footer p{
    margin-top: 10px;
    font-size: 14px;
}