/* The switch - the box around the slider */
.uagb-switch {
	position: relative;
	display: inline-block;

	input {
		width: 0;
		height: 0;
		opacity: 0;

	}

	/* The slider */
	.uagb-slider {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;
		transition: 0.4s;
		-webkit-transition: 0.4s;
	}

	.uagb-slider::before {
		position: absolute;
		bottom: 4px;
		left: 4px;
		background-color: white;
		transition: 0.4s;
		content: "";
		-webkit-transition: 0.4s;
	}
}

.uagb-switch input:checked + .uagb-slider::before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.uagb-slider.round {
	border-radius: 34px;
}

.uagb-slider.round::before {
	border-radius: 50%;
}
