.uagb-forms-select-controls {
    margin-top: 10px;
}
.uagb-form-select-option-delete.has-icon {
    margin: 0;
    padding: 10px;
    vertical-align: middle;
}
.uagb-forms-main-form .uagb-inner-input-view {
    width: 35% !important;
    margin: 0 10px !important;
    vertical-align: middle;
}