.uag-settings-nav__active {
	background: #e4e4e7;
	box-shadow: none;
}
.uag-global-settings-metabox
	.uag-global-settings-metabox__tabs
	.uag-global-settings-metabox__tabs-menu
	a.uag-settings-nav__active {
	color: #444;
}
