.uag-button-style {
	background: #fff;
	border: none;
	border-radius: 3px;
	text-align: center;
	text-shadow: none;
	text-decoration: none;
	border: 1px solid #2F4F4F;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	padding: 6px 20px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transition: all 100ms linear;
	transition: all 100ms linear;
}

.uag-btn-primary {
	background: #2F4F4F;
	color: #fff;
	-webkit-transition: all linear 250ms;
	transition: all linear 250ms;
}

/* Button Hover Effect */
.uag-btn-primary:active,
.uag-btn-primary:focus,
.uag-btn-primary:hover {
	color: #fff;
	background: #2F4F4F;
}

.uag-btn-primary:active,
.uag-btn-primary:focus,
.uag-button-style:hover {
	outline: 0;
	text-decoration: none;
	box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.19 ),
		0 6px 6px rgba( 0, 0, 0, 0.23 );
}

@keyframes uag-saving {
	0% {
		background-position: 200px 0;
	}
}

.uag-button-field {
	.uag-success-notice {
		max-width: 300px;
		display: inline-block;
		margin: 0;
	}
	.dashicons {
		vertical-align: middle;
	}
	.uag-success-message {
		font-weight: 400;
		font-size: 14px;
	}

	.uag-saving {
		animation: uag-saving 2.5s linear infinite;
		opacity: 1;
		background-size: 100px 100%;
		background-image: linear-gradient(
			-45deg,
			#2F4F4F 28%,
			#426F6F 0,
			#426F6F 72%,
			#2F4F4F 0
		);
	}
}
