{
	"extends": [ "@wordpress/stylelint-config" ],
	"rules": {
		"selector-class-pattern": null,
		"no-descending-specificity": null,
		"font-weight-notation": null,
		"declaration-property-unit-allowed-list": {
			"line-height": [ "px", "em" ]
		}
	}
}
