/* - Blockquote */
.uagb-blockquote__skin-border blockquote.uagb-blockquote{
  border-left-width:0px !important;
} 
/* - Testimonial  */
/* [dir="rtl"] .uagb-tm__arrow-outside.uagb-slick-carousel .slick-prev {
  left: -45px !important;
  right: auto !important;
} */
/* - Review star rating */
.uagb_review_block .uagb_review_entry{
  display:unset !important;
}
/* - Content Timeline & Post Timeline
- Oriantation left  */
  .rtl .uagb-timeline__left-block .uagb-timeline__line {
      left: auto;
      right: calc(2em / 2) !important;
  }
  .rtl .uagb-timeline__left-block .uagb-timeline__day-right .uagb-timeline__arrow:after {
      border-left: 13px solid #eeeeee !important;
      border-right: none !important;
  }
  .rtl .uagb-timeline__left-block .uagb-timeline__day-left .uagb-timeline__arrow:after {
      border-left: 13px solid #eeeeee !important;
      border-right: none !important;
  }
/* - Oriantation right */
  .rtl .uagb-timeline__right-block .uagb-timeline__line {
      left: calc(2em / 2) !important;
      right: auto;
  }
  .uagb-timeline__day-right .uagb-timeline__arrow:after {
      right: 970px !important;
  }
  .uagb-timeline__day-left .uagb-timeline__arrow:after {
      right: -970px !important;
  }
  .rtl .uagb-timeline__right-block .uagb-timeline__day-left .uagb-timeline__arrow:after {
      border-left: none !important;
      border-right: 13px solid #eeeeee !important;
  }
/* - Oriantation center */
  .rtl .uagb-timeline__center-block .uagb-timeline__day-right .uagb-timeline__arrow:after{
      border-right: 13px solid #eeeeee !important;
      border-left:none !important;
  }
  .uagb-timeline__center-block .uagb-timeline__line {
      right: 50% !important;
      left: auto !important;
  }
  .uagb-timeline__center-block .uagb-timeline__day-left .uagb-timeline__arrow:after {
      border-left: 13px solid #eeeeee !important;
      border-right: none !important;
  }
  .uagb-timeline__center-block .uagb-timeline__day-right .uagb-timeline__arrow:after {
      right: 470px !important;
  }
  .uagb-timeline__arrow-center .uagb-timeline__day-left .uagb-timeline__arrow:after {
    right: -470px !important;
    }
  /* Post Layout */
  .rtl .uagb-post-grid .uagb-post__text{
    text-align:right;
}
