<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>
	<rule ref="PHPCompatibility">
		<exclude name="WordPress.NamingConventions.ValidVariableName.VariableNotSnakeCase" />
	</rule>
	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress.Security.EscapeOutput" />
	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>
	<!-- Skip classname issues in admin-core dir-->
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>*/admin-core/*</exclude-pattern>
		<exclude-pattern>*/legacy-admin/*</exclude-pattern>
	</rule>
	<!-- Show sniff codes in all reports -->
	<arg value="s"/>
	<exclude-pattern>*/src/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/bin/*</exclude-pattern>
	<exclude-pattern>*/lib/*</exclude-pattern>
	<exclude-pattern>*/assets/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/scripts/*</exclude-pattern>
	<exclude-pattern>*/admin/assets/*</exclude-pattern>
	<exclude-pattern>*/admin/bsf-analytics/*</exclude-pattern>
</ruleset>

