/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .block-editor-page #wpwrap {

	.edit-post-visual-editor a.uagb-infobox-link-wrap {
		color: inherit;
		z-index: -1;
	}
}

