/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.block-editor-page #wpwrap {

	.edit-post-visual-editor a.uagb-infobox-link-wrap {
		z-index: -1;
		color: inherit;
	}

	.uagb-ifb-title-wrap {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
		}
	}
}

