/** Typography & Box Shadow Popup CSS*/
.uag-typography-option-actions {
	display: flex;
	justify-content: space-between;
	margin: 0;
	align-items: center;
	& > .components-base-control {
		.components-base-control__field {
			margin: 0;
		}
	}
}
.uag-typography-options {
	border: 1px solid lightgrey;
	border-radius: 8px;
	padding: 15px;
	margin: 1.5em 0;
	.components-toggle-control
		.components-base-control__field
		.components-form-toggle {
		padding: 0;
		margin: 0;
	}
}
.uagb-inspector-tab .components-panel__body.is-opened .uag-typography-options {
	.components-base-control {
		padding: 0;
		width: 100%;
	}
}
.uagb-inspector-tab .components-panel__body.is-opened .uag-typography-options {
	.components-base-control.components-toggle-control {
		padding: 0;
		width: auto;
	}
}
.block-editor-block-inspector .components-base-control:last-child {
	margin-bottom: 0px;
}
.uagb-box-shadow-advanced > .components-base-control {
	margin-top: 16px;
}
