/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 #wpwrap .edit-post-visual-editor .uagb-timeline__widget a {
	color: inherit;
	text-decoration: none;
}

#wpwrap .edit-post-visual-editor .uagb-timeline__heading a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor a {
	margin: 0;
	color: inherit;
	font-size: inherit;
}

#wpwrap .edit-post-visual-editor .uagb-timeline__heading {
	margin: 0;
}

#wpwrap .edit-post-visual-editor a {
	pointer-events: none;
}
