/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.uagb-post-content p{
	text-align:inherit;
	font-size:inherit;
	color :inherit;
	margin-bottom:inherit;
}
.edit-post-block-sidebar__panel .components-panel__body .components-panel__body-toggle[aria-expanded="true"] {
    background-color: #eee;
}