{
	"extends": "@wordpress/stylelint-config/scss",
	"rules": {
		"function-parentheses-space-inside": "always",
		"selector-pseudo-class-parentheses-space-inside": "always",
		"font-family-name-quotes": "always-where-recommended",
		"function-url-quotes": "always",
		"max-line-length": 500,
		"declaration-property-unit-allowed-list": {
			"/^line-height/": [ "em", "rem", "px" ]
		},
		"rule-empty-line-before": null,
		"comment-empty-line-before": null,
		"selector-class-pattern": null,
		"selector-id-pattern": null,
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"scss/at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [ "tailwind" ]
			}
		]
	}
}
