/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-uagb-gf-styler {

	.uagb-gf-styler__gform-heading-none .gform_heading,
	.uagb-gf-styler__gform-heading-no .gform_heading,
	.uagb-gf-styler__gform-heading-yes .gform_heading.custom_gform_heading {
		display: none;
	}

	.uagb-gf-styler__gform-heading-no .gform_heading.custom_gform_heading,
	.uagb-gf-styler__gform-heading-yes .gform_heading {
		display: block;
	}

	.uagb-gf-styler__check-style-enabled input[type="radio"],
	.uagb-gf-styler__check-style-enabled input[type="checkbox"] {
		-webkit-appearance: none;
	}

	input[type="radio"] {
		-webkit-appearance: radio;
	}

	input[type="checkbox"] {
		-webkit-appearance: checkbox;
	}

	input[type="radio"]:focus,
	input[type="checkbox"]:focus,
	input[type="radio"]:checked:focus,
	input[type="checkbox"]:checked:focus {
		box-shadow: none;
	}

	input[type="radio"]:checked::before,
	input[type="checkbox"]:checked::before {
		content: "";
		display: inline;
		float: unset;
	}

	input[type="number"] {
		height: auto;
	}
}

.block-editor-page #wpwrap .edit-post-visual-editor .wp-block-uagb-gf-styler {

	.button,
	button,
	input,
	select,
	textarea {
		color: inherit;
		font-size: 100%;
		line-height: inherit;
	}

	select,
	.gform_button.button {
		height: auto;
	}
}
