.wp-block-uagb-counter {
	&--bars {
		.wp-block-uagb-counter-bars-container {
			width: 100%;
			background-color: #eaeaea;
			.wp-block-uagb-counter__number {
				width: 5%;
				min-height: 5px;
				padding: 5px;
				text-align: right;
				line-height: 1;
				white-space: nowrap;
				overflow: hidden;
				background: #f7951e;
			}
		}
	}
	&--circle {
		.wp-block-uagb-counter-circle-container {
			position: relative;
			display: inline-block;
			svg circle {
				stroke-dashoffset: 0;
				stroke: #666;
				stroke-width: 1em;
			}
			svg #bar {
				stroke: #FF9F1E;
			}
			&__content {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
		}
	}
}
