.wp-block-uagb-counter {
	&--bars {
		.wp-block-uagb-counter-bars-container {
			width: 100%;
			background-color: #eaeaea;
			.wp-block-uagb-counter__number {
				width: 5%;
				min-height: 5px;
				line-height: 1;
				white-space: nowrap;
				overflow: hidden;
				background: #f7951e;
			}
		}
	}
}
