.wp-block-uagb-counter {

	.wp-block-uagb-counter__icon,
	.wp-block-uagb-counter__image-wrap {
		display: inline-block;
		line-height: 0;
	}

	&--number {

		.wp-block-uagb-counter__number {
			font-size: 69px;
		}

		.wp-block-uagb-counter__title {
			font-size: 20px;
		}
	}

	&--bars {

		.wp-block-uagb-counter-bars-container {

			width: 100%;
			background-color: #eaeaea;

			.wp-block-uagb-counter__number {
				width: 0%;
				min-height: 5px;
				text-align: right;
				line-height: 1;
				white-space: nowrap;
				overflow: hidden;
				background: #007cba;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				& > :last-child {
					margin-right: 5px;
				}
			}
		}

		.wp-block-uagb-counter__title {
			margin-top: 15px;
		}
	}

	&--circle {

		.wp-block-uagb-counter-circle-container {
			position: relative;
			display: inline-block;

			.wp-block-uagb-counter__icon svg {
				width: 30px;
			}

			svg {
				// overflow: visible;
				pointer-events: none; // To make title editable/clickable, since it is behind the circle.
			}

			& > svg {
				// transform: rotate(-90deg);
				width: 100%;
				height: 100%;

				circle {
					stroke: #eaeaea;
					stroke-width: 1em;
				}

				#bar {
					stroke: #007CBA;
				}
			}

			&__content {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
		}

		.wp-block-uagb-counter__number {
			margin-top: 5px;
			font-size: 69px;
		}

		.wp-block-uagb-counter__title {
			margin-top: 5px;
		}
	}
}

.wp-block-uagb-counter__icon svg {
	width: 30px;  // To reduce jerk while loading SVG (SVG appears oversized for a moment, without this).
}

.wp-block-uagb-counter__title {
	margin-bottom: 17px;
}

// These fixes are specific to the Astra theme.
// Astra theme adds line-height on frontend which interferes with the WYSIWYG experience.
body[class*="astra"] {

	.wp-block-uagb-counter__title,
	.wp-block-uagb-counter__number {
		line-height: normal;
	}
}
