.uag-user-info {
	padding-top: 25px;
	padding-bottom: 25px;
	.uag-metabox__element, .uag-starter-tmp__img , .uag-starter-tmp__details,.uag-astra-theme__elements{
		margin: 15px;
	}
	.uag-metabox__header{
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
			p{
			max-width: 100%;
			width: 50%;
			display: inline-block;
		}
	}
	.uag-metabox__body {
		padding-top: 0px;	
		max-width: 1100px;
		min-height: 500px;
    	margin: 0 auto;
	}
	.uag-metabox__elements {
		display: flex;
		flex-wrap: wrap;
	}
	.uag-metabox__element {
		flex: 1 0 0%;
		box-shadow: 0px 3px 15px rgba(190, 190, 190, 0.08);
		border-radius: 2px;
		background-color: var(--metabox-background-color);
		padding: 25px;
	}
	.uag-starter-site__elements{
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: row;
		img{
			height: auto;
			max-width: 100%;
		}
		.uag-starter-tmp__details{
			align-self: center;
		}
		.uag-starter-tmp__img , .uag-starter-tmp__details{
			padding: 20px;
			flex: 1 0 1%;
		}
	}
	.uag-astra-theme__elements{
		text-align: center;
		background: var(--metabox-background-color);
		box-shadow: 0px 3px 15px rgba(190, 190, 190, 0.08);
		border-radius: 2px;
		padding: 20px;
		.uag-astra__cta{
			justify-content: center;
			display: inline-flex;
			flex-wrap: wrap;	
			.uag-field{
				margin:10px;
			}
		}
		p{
			text-align: center;
			display: inline-block;		
			max-width: 100%;
			width: 60%;
		}
	}
}
