.uag-user-info {
	padding-top: 25px;
	padding-bottom: 25px;
	.uag-metabox__title h1, p , .uag-button, h3,h2, .uag-metabox__element, .uag-starter-tmp__img , .uag-starter-tmp__details,.uag-astra-theme__elements{
		margin: 15px;
	}
	.uag-metabox__title h1 {
		font-size: 32px;
		font-weight: 400;
		padding: 4px 0;
		line-height: 1;
	}
	h2{
		font-size: 25px;
	}

	.uag-metabox__header {
		padding-bottom: 0px;
	}

	.uag-metabox__body {
		padding-top: 0px;

		p {
			line-height: 25px;
			color: #555;
			font-size: 15px;
		}
		.uag-button {
			background: #2F4F4F;
			color: #fff;
			border-radius: 5px;
		}
	}
	.uag-metabox__elements {
		display: flex;
	}
	.uag-metabox__element {
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		background-color: #fff;
		padding: 20px;
	}
	.uag-starter-site__elements{
		display: flex;
		.uag-starter-tmp__details{
			align-self: center;
		}
		.uag-starter-tmp__img , .uag-starter-tmp__details{
			padding: 20px;
			width: 50%;
		}
		.uag-starter-tmp__img{
			text-align: center;
			img{
				max-width: 80%;
				height: auto;
			}
		}
	}
	.uag-astra-theme__elements{
		border-radius: 2px;
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
		padding: 20px;
		display: flex;
		background-color: #fff;
		.uag-astra__content{
			width:70%;
		}
		.uag-astra__cta{
			width: 30%;
			text-align: right;
    		align-self: center;
		}
	}
}
