.uagb-social-share__layout-horizontal .uagb-social-share__wrap .block-list-appender {
    margin-top: 0;
    margin-left: 20px;
}

.wp-block-uagb-how-to span.uagb-howto__time-wrap {
    display:flex;
}

.wp-block-uagb-how-to span.uagb-howto__cost-wrap {
    display:flex;
}