.wp-block-uagb-how-to {

	span.uagb-howto__time-wrap {
	    display: inline-flex;
	}
}

.uagb-howto__cost-wrap {
    display: block;
    .uagb-howto-estcost-text,
    .uagb-howto-estcost-value,
    .uagb-howto-estcost-type {
        font-family: inherit;
        line-height: inherit;
        display: inline-flex;
    }
}

.uagb-howto__time-wrap {
    display: inline-flex;
    .uagb-howto-timeNeeded-text,
    .uagb-howto-timeNeeded-value,
    .uagb-howto-timeINmin-text {
        font-family: inherit;
        line-height: inherit;
    }
}