.spectra-responsive-icons__wrap{
	margin-right: 15px;
	.components-button-group .components-button{
		margin-right: 0;
	}
	svg{
		height: 25px;
		width: 25px;
	}
	.uagb-responsive-tabs.active-tab > svg {
		fill: #007cba;
		color: #007cba;
	}
}
