.uag-color-field {
	display: flex;
	align-items: center;
	line-height: 1;

	.uag-colorpicker-swatch-wrap {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.uag-colorpicker-swatch {
		padding: 0px;
		background: #fafafa;
		display: inline-block;
		margin: 0;
		border-right: 1px solid #ddd;
		box-shadow: inset 0 0 0 3px #fff;
	}

	.uag-color-picker-popover {
		position: absolute;
		z-index: 2;
		margin: 8px 0;
	}
	.uag-color-picker-cover {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}

	.sketch-picker {
		font-weight: 400;
	}

	.uag-field__data--content {
		.uag-colorpicker-selector {
			display: flex;
			align-items: center;
		}
		.uag-colorpicker-swatch-wrap {
			border: 1px solid #ddd;
			border-radius: 2px;
			background: #fff;
			color: #444;
		}

		.uag-colorpicker-label {
			font-weight: 400;
			padding: 5px 7px;
		}

		.uag-colorpicker-reset {
			padding: 6px;
			cursor: pointer;
		}
	}

	.uag-color-picker {
		position: relative;

		input {
			margin: 0;
		}

		input[id^='rc-editable-input-'] {
			width: 100% !important;
		}
	}
}
