.uag-coupon-field {
	.uag-selection-field {
		display: flex;
		align-items: center;

		.uag-select2-input .uag__control {
			cursor: pointer;
		}

		.uag__value-container {
			.css-1g6gooi,
			div:last-child {
				margin: 0;
				padding: 0;
				color: #444;

				input:focus {
					box-shadow: none;
				}
			}
		}

		.uag__control .css-1hwfws3m,
		.uag__value-container {
			height: 36px;
			font-weight: 400;
			color: #444;
		}

		.uag-select2-input {
			border-color: #ddd;
			border-radius: 2px;
			width: 300px;
			.uag__menu {
				font-weight: 400;
				line-height: 1.1;
				border-radius: 2px;
				color: #555;
				background-color: #fff;

				.uag__menu-list {
					max-height: 200px;
				}
				.uag__option:active,
				.uag__option:hover {
					background-color: #f1f1f1;
					cursor: pointer;
					color: #444;
				}
			}

			.uag__option--is-focused,
			.uag__option--is-selected {
				cursor: pointer;
				background-color: #f1f1f1;
				color: #444;
			}
		}

		.uag__control {
			border-color: #ddd;
			border-radius: 2px;
			width: 300px;
		}

		.uag__value-container,
		.uag__control .uag__value-container--has-value,
		.uag__control .uag__value-container--has-value .uag__single-value {
			color: #444;
		}

		.uag__control:hover,
		.uag__control:active,
		.uag__control.uag__control--is-focused {
			border-color: #aaa;
			box-shadow: none;
		}
	}

	.uag-selection-field label {
		display: inline-block;
	}
	.css-2b097c-container {
		display: inline;
		margin: 0px 0px 0px 30px;
		width: 450px;
	}
}
