.uag-field__desc {
	margin-top: 10px;
	font-style: italic;
	font-weight: normal;
	color: #666;
	line-height: 1.5;
}

.uag-tooltip-icon {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
