.wcf-radio-field {
	.wcf-field__data {
		display: block;
	}

	.wcf-field__data--label {
		padding: 0 0 10px;
	}

	input[type='radio'] {
		margin: 0 7px 0 0;
	}

	.wcf-radio-field__option-desc {
		color: #777;
		line-height: 1.5;
		margin-top: 15px;
		margin-top: 10px;
		font-style: italic;
		font-weight: normal;
	}

	.wcf-radio-field__option.wcf-child-field {
		margin-left: 15px;
	}
}
