.wcf-select-option select {
	font-weight: 400;
	max-width: 100%;
	margin: 0 15px 0 0;
	height: 36px;
	padding: 4px 15px;
	border: 1px solid #ddd;
	border-radius: 2px;
	width: 300px;
	background-size: 15px;
	background-position: right 10px top 55%;
	&:focus {
		box-shadow: none;
		border-color: #aaa;
		color: #444;
	}
	&:hover {
		color: #444;
	}
}
