.uag-btn-primary {
	background: #f06335;
	color: #fff;
	-webkit-transition: all linear 250ms;
	transition: all linear 250ms;
}

/* Button Hover Effect */
.uag-btn-primary:active,
.uag-btn-primary:focus,
.uag-btn-primary:hover {
	color: #fff;
	background: #f06335;
}

.uag-btn-primary:active,
.uag-btn-primary:focus{
	outline: 0;
	text-decoration: none;
	box-shadow: 0 10px 20px rgba( 0, 0, 0, 0.19 ),
		0 6px 6px rgba( 0, 0, 0, 0.23 );
}

@keyframes uag-saving {
	0% {
		background-position: 200px 0;
	}
}

.uag-submit-field {
	.uag-success-notice {
		max-width: 300px;
		display: inline-block;
		margin: 0;
	}
	.dashicons {
		vertical-align: middle;
	}
	.uag-success-message {
		font-weight: 400;
		font-size: 14px;
	}

	.uag-saving {
		animation: uag-saving 2.5s linear infinite;
		opacity: 1;
		background-size: 100px 100%;
		background-image: linear-gradient(
			-45deg,
			#f06335 28%,
			#f78860 0,
			#f78860 72%,
			#f06335 0
		);
	}
}
