.uag-text-field input {
	font-weight: 400;
	max-width: 100%;
	margin: 0;
	width: 300px;
	height: 36px;
	background: #fff;
	border-color: #ddd;
	padding: 4px 15px;
	border-radius: 2px;

	&:focus {
		box-shadow: none;
		border-color: #aaa;
	}

	&.readonly,
	&[readonly] {
		background-color: #eee !important;
	}
}

.uag-field__data {
	display: flex;
	align-items: center;
}
