.uag-toggle-field {
    .components-form-toggle {
        order: 2;
        margin-left: 15px;
    }
    .components-toggle-control__label {
        font-size: 18px;
    }
    .components-form-toggle.is-checked .components-form-toggle__track {
        background: #00d024;
    }
    .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #00d024;
    }
}