.uag-toggle-field {
    .components-form-toggle {
        order: 2;    
        margin-left: auto;
    }
    .components-form-toggle.is-checked .components-form-toggle__track {
        background: var(--link-color);
    }
    .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--link-color);
    }
}
#wpwrap .components-toggle-control .components-base-control__field .components-form-toggle{
    margin-right: 0px;
}