.uagb-forms__outer-wrap {
    .uagb-forms-main-form {
        .uagb-forms-form-hidden-data {
            display:none;
		}
		.uagb-forms-required-wrap {
			float: right;
		}
	}
	.uagb-forms-success-message.uagb-forms-success-message-hide {
		display: none;
	}
	.uagb-forms-success-message.uagb-forms-success-message-show {
		display: block;
		border-left: 2px solid green;
		padding: 20px 20px;
		background: #00800030;
	}
	
}
//width for select box in editor
select.uagb-forms-select-box.uagb-forms-input {
    max-width: 100%;
}
.uagb-padding-control.submit-btn-control {
    display: inline-block;
}
.uagb-form-emailto {
    margin-top: 10px;
}
.uagb-email-controls-tabs .components-tab-panel__tabs {
    margin-right: 0;
}
.uagb-forms-recaptcha-button {
	display: block;
	width: 50%;
	margin-bottom: 15px;
}
[data-type="uagb/forms"] .block-editor-block-variation-picker__variations {
	display: flex;
  justify-content: center;
}