.uagb-forms__outer-wrap {
    .uagb-forms-main-form {
        .uagb-forms-form-hidden-data {
            display:none;
		}
		.uagb-forms-required-wrap {
			float: right;
		}
	}
	.uagb-forms-success-message.uagb-forms-success-message-hide {
		display: none;
	}
	.uagb-forms-success-message.uagb-forms-success-message-show {
		display: block;
		border-left: 2px solid green;
		padding: 20px 20px;
		background: #00800030;
	}
	
}
//width for select box in editor
select.uagb-forms-select-box.uagb-forms-input {
    max-width: 100%;
}
.uagb-padding-control.submit-btn-control {
    display: inline-block;
}
