.uagb-forms__outer-wrap {
	border: 2px solid #007cba;
    .uagb-forms-main-form {
        .uagb-forms-form-hidden-data {
            display:none;
		}
		.uagb-forms-required-wrap {
			float: right;
		}
		input[type=checkbox] , input[type=radio]{
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	
	
	.block-editor-block-list__block {
		padding: 0;
		margin: 0;
	}
	
}


.uagb-form-notice{
	background-color: #FFF8E5;
    border-left: 5px solid #FFB901;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 20px;
	color: #32373c;
}
//width for select box in editor
select.uagb-forms-select-box.uagb-forms-input {
    max-width: 100%;
}

.uagb-form-emailto {
    margin-top: 10px;
}
.uagb-size-type-field-tabs.uagb-size-type-field__common-tabs.uagb-inline-margin.uagb-email-controls-tabs .components-tab-panel__tabs {
    margin-right: 0;
}
.uagb-forms-recaptcha-button {
	display: block;
	width: 50%;
	margin-bottom: 15px;
}
[data-type="uagb/forms"] .block-editor-block-variation-picker__variations {
	display: flex;
  justify-content: center;
}
[data-type="uagb/forms"] .block-editor-block-variation-picker__variation.components-button.has-icon {
	width: 90px;
}
