.uagb-forms__outer-wrap {
	padding: 25px;

	.uagb-forms-main-form {
		.uagb-forms-form-hidden-data {
			display: none;
		}

		.uagb-forms-required-wrap {
			float: right;

			.components-toggle-control {
				.components-base-control__field {
					.components-form-toggle {
						margin-left: 5px;
						margin-top: 4px;
					}

					.components-toggle-control__label {
						margin-right: 5px;
					}
				}
			}
		}

		input[type="checkbox"],
		input[type="radio"] {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}

	.block-editor-block-list__block {
		padding: 0;
		margin: 0;
	}
}

.uagb-form-notice {
	padding: 8px 10px;
	background-color: #fff8e5;
	border-left: 5px solid #ffb901;
	color: #32373c;
	font-size: 13px;
	line-height: 20px;
}
//width for select box in editor
select.uagb-forms-select-box.uagb-forms-input {
	max-width: 100%;
}

.uagb-form-emailto {
	margin-top: 10px;
}

.uagb-forms-recaptcha-button {
	display: block;
	width: 50%;
	margin-bottom: 15px;
}

.uagb-forms-variations {
	.components-button,
	.components-button.is-secondary,
	.components-button.is-tertiary,
	.components-button:hover:not( :disabled ) {
		box-shadow: none;
		outline: none;
	}

	.block-editor-block-variation-picker__variations {
		display: flex;
		justify-content: flex-start;
	}

	.block-editor-block-variation-picker__variation.components-button.has-icon {
		width: 34px;
	}
}

.uagb-forms-phone-wrap {
	& .uagb-forms-phone-flex {
		display: flex;
		width: 100%;

		& .components-base-control__field {
			height: calc(100% - 8px);
		}

		& .uagb-form-phone-country {
			width: auto !important;
		}

		& .uagb-forms-phone-input {
			margin-bottom: 8px;
		}
	}
}

// Intentionally placed outside for lover specificity, and to override the user agent stylesheet of browsers.
.uagb-forms-main-submit-button {
	border-width: 0;
}
