.uagb-forms__outer-wrap {

	.uagb-forms-main-form {

		input:not([type="checkbox"]):not([type="radio"]):not([type="file"]),
		textarea,
		select {
			width: 100%;
		}

		.uagb-forms-checkbox-wrap .uagb-form-checkbox-option input.uagb-inner-input-view {
			width: 33%;
		}
		//Phone block css.
		.uagb-form-phone-country {
			width: 23%;
			margin-right: 5px;
		}

		input.uagb-forms-phone-input.uagb-forms-input {
			width: 75% !important;
		}

		.required::after {
			color: #f00;
			content: " *";
		}

		.uagb-forms-form-hidden-data {
			display: none;
		}
	}

	.uagb-forms-submit-message-hide {
		display: none;
	}

	.uagb-forms-success-message {
		padding: 20px 20px;
	}

	.uagb-forms-failed-message {
		padding: 20px 20px;
	}

	span.components-spinner {
		float: none;
	}

	//Ready Classes.
	.uag-col-2-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 15px;
	}

	.uag-col-3-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 15px;
	}

	.uag-col-4-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 15px;
	}

	/* The switch - the box around the slider */

	.uagb-switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 25px;
	}


	/* Hide default HTML checkbox */

	.uagb-switch input {
		width: 0;
		height: 0;
		opacity: 0;
	}

	/* The slider */

	.uagb-slider {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		cursor: pointer;
		transition: 0.4s;
		-webkit-transition: 0.4s;
	}

	.uagb-switch .uagb-slider::before {
		position: absolute;
		top: 3px;
		bottom: 3px;
		left: 4px;
		width: 20px;
		height: 20px;
		background-color: #000;
		transition: 0.4s;
		content: "";
		-webkit-transition: 0.4s;
	}

	.uagb-switch input:checked + .uagb-slider::before {

		background-color: #fff;
		transform: translateX(22px);
		-webkit-transform: translateX(22px);
		-ms-transform: translateX(22px);
	}

	/* Rounded sliders */
	.uagb-slider.round {
		border-radius: 34px;
	}

	.uagb-slider.round::before {
		border-radius: 50%;
	}
	// Toggle Css End
}

.uagb-forms-radio-wrap input[type="radio"]:checked + label::before {
	box-shadow: inset 0 0 0 4px #fafafa;
	line-height: 1.2;
	content: " ";
}

.uagb-forms-radio-wrap input[type="radio"] + label::before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 5px;
	box-sizing: content-box;
	border-radius: 100%;
	text-align: center;
	line-height: 1.2;
	content: "";
}

select::after,
select::before {
	padding: 10px;
}

.uagb-forms-radio-wrap input[type="radio"],
.uagb-forms-checkbox-wrap input[type="checkbox"],
.uagb-forms-accept-wrap input[type="checkbox"] {
	display: none;
}

.uagb-forms-checkbox-wrap input[type="checkbox"]:checked + label::before,
.uagb-forms-accept-wrap input[type="checkbox"]:checked + label::before {
	line-height: 1.2;
	content: "\2714";
}

.uagb-forms-checkbox-wrap input[type="checkbox"] + label::before,
.uagb-forms-accept-wrap input[type="checkbox"] + label::before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 5px;
	box-sizing: content-box;
	text-align: center;
	line-height: 1.2;
	content: " ";
}

.uagb-forms__small-btn .uagb-forms-main-submit-button-wrap button.uagb-forms-main-submit-button {
	padding: 5px 10px;
}

.uagb-forms__medium-btn .uagb-forms-main-submit-button-wrap button.uagb-forms-main-submit-button {
	padding: 12px 24px;
}

.uagb-forms__large-btn .uagb-forms-main-submit-button-wrap button.uagb-forms-main-submit-button {
	padding: 20px 30px;
}

.uagb-forms__extralarge-btn .uagb-forms-main-submit-button-wrap button.uagb-forms-main-submit-button {
	padding: 30px 65px;
}

.uagb-forms__full-btn .uagb-forms-main-submit-button-wrap button.uagb-forms-main-submit-button {
	width: 100%;
	padding: 10px 15px;
}

