/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-star-rating {
	display: flex;

	.uag-star-rating__title {
		margin: 0;
		// Vertically center the title.
		display: flex;
		align-items: center;
	}

	.uag-star-rating {
		display: flex;
		align-items: center;
	}

	.uag-star {
		color: #ccd6df;
		display: inline-block;
		line-height: 0.75em;
	}
}
