/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uag-star-rating__wrapper {
	display: flex;
	align-items: center;
	.uag-star-rating__title{
		margin: 0;
		margin-right: 10px;
	}
	.uag-star {
		color: #ccd6df;
	}
}
