.uagb-picker {
	width: 300px;
	position: relative;
	margin-bottom: 10px;
	.uagb-picker-saturation {
		width: 100%;
		padding-bottom: 50%;
		position: relative;
		overflow: hidden;
	}
	.uagb-flexbox-fix-wrap {
		padding: 10px 0;
		.uagb-flexbox-fix {
			display: flex;
			.uagb-flexbox-fix-slider-wrap {
				padding: 4px 0;
				flex: 1;
				.uagb-hue-wrap {
					height: 10px;
					position: relative;
					margin-bottom: 8px;
				}
				.uagb-alpha-wrap {
					height: 10px;
					position: relative;
				}
			}
			.uagb-flexbox-fix-color-wrap {
				width: 30px;
				height: 30px;
				position: relative;
				margin-top: 3px;
				margin-left: 10px;
				border-radius: 50%;
				overflow: hidden;
				.uagb-flexbox-fix-active-color-wrap {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					border-radius: 50%;
					box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
	.uagb-flexbox-fix {
		display: flex;
		padding-top: 4px;
		.uagb-single-rgb-r-input,
		.uagb-single-rgb-b-input,
		.uagb-single-rgb-g-input,
		.uagb-single-hsl-h-input,
		.uagb-single-hsl-s-input,
		.uagb-single-hsl-h-input {
			flex: 1;
			padding-left: 6px;
		}
		.uagb-single-rgb-alpha-input,
		.uagb-single-hsl-alpha-input {
			flex: 1;
			padding-left: 6px;
		}
		.uagb-double-wrap {
			flex: 2;
		}
		input {
			width: 100%;
			padding: 4px 10% 3px;
			border: none;
			border-radius: 2px;
			box-shadow: rgb(218, 218, 218) 0px 0px 0px 1px inset;
			font-size: 11px;
		}
		label {
			display: block;
			text-align: center;
			font-size: 11px;
			color: #222;
			padding-top: 3px;
			padding-bottom: 4px;
			text-transform: capitalize;
		}
		.uagb-single-toggle {
			width: 32px;
			text-align: right;
			position: relative;
		}
	}
}
.uagb-advanced-color-settings-container {
	display: flex;
	align-items: center;
}
.uagb-beside-color-click {
	display: flex;
	align-items: center;
}
.uagb-advanced-color-settings-container .uagb-color-icon-indicate {
	height: auto;
	position: relative;
	transform: scale(1);
	transition: transform 0.1s ease;
	border-radius: 50%;
	padding: 0;
}
.uagb-advanced-color-settings-container .uagb-has-alpha {
	background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
		linear-gradient(-45deg, #ddd 25%, transparent 0),
		linear-gradient(45deg, transparent 75%, #ddd 0),
		linear-gradient(-45deg, transparent 75%, #ddd 0);
	background-size: 10px 10px;
	background-position: 0 0, 0 5px, 5px -5px, -5px 0;
}
.uagb-advanced-color-settings-container
	.uagb-color-icon-indicate
	.component-color-indicator.uagb-advanced-color-indicate {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin: 0;
}
.uagb-advanced-color-settings-container h2.uagb-beside-color-label {
	flex-grow: 1;
	font-weight: 400;
	margin: 0;
}

.components-popover.uagb-popover-color.new-uagb-advanced-colors-pop
	.components-popover__content {
	overflow: hidden;
}

.components-circular-option-picker {
	padding: 2px 0 10px 5px;
}

.components-circular-option-picker
	.components-circular-option-picker__swatches {
	margin-right: 0px;
	text-align: center;
}
