.uagb-beside-color-click {
	display: flex;
	align-items: center;
}

.uagb-advanced-color-settings-container {
	display: flex;
	align-items: center;
	.uagb-color-icon-indicate {
		height: auto;
		position: relative;
		transform: scale(1);
		transition: transform 0.1s ease;
		border-radius: 50%;
		padding: 0;
	}
	.uagb-has-alpha {
		background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
			linear-gradient(-45deg, #ddd 25%, transparent 0),
			linear-gradient(45deg, transparent 75%, #ddd 0),
			linear-gradient(-45deg, transparent 75%, #ddd 0);
		background-size: 10px 10px;
		background-position: 0 0, 0 5px, 5px -5px, -5px 0;
	}
	.uagb-beside-color-label {
		flex-grow: 1;
		margin: 0;
	}
	.uagb-color-icon-indicate
	.component-color-indicator.uagb-advanced-color-indicate {
		width: 28px;
		height: 28px;
		border-radius: 50%;
		margin: 0;
	}
	
}
.uagb-popover-color {
	.components-popover__content {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.components-circular-option-picker {
		padding: 2px 0 10px 5px;
		.components-circular-option-picker__swatches {
			margin-right: 0px;
			text-align: left;
			padding-left: 10px ;
		}
	}	
}
