.uagb-post-grid-byline {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    .uagb-post__author,
.uagb-post__date {
    display: inline-block;
    word-break: break-all;

    &:not(:last-child):after {
        content: "\B7";
        vertical-align: middle;
        margin: 0 5px;
        line-height: 1;
    }
}
.uagb-post__author a {
    box-shadow: none;

    &:hover {
        color: inherit;
        box-shadow: 0 -1px 0 inset;
    }
}
.uagb-post__author span,
.uagb-post__comment span,
.uagb-post__taxonomy span,
.uagb-post__date span {
    font-size: inherit;
    line-height: inherit;
    width: inherit;
    height: inherit;
    margin-right: 4px;
}
}
.uagb-post-grid-byline a,
.uagb-post-grid-byline a:focus,
.uagb-post-grid-byline a:active {
    color: inherit;
    font-size: inherit;
}

