.uagb-container-variation-picker {

	.components-button,
	.components-button:hover:not(:disabled) {
		box-shadow: none;
		outline: none;
		color: #d5dadf;

		svg {
			width: 100px;
			height: 50px;
			color: #d5dadf;
		}
	}

	.components-button:hover:not(:disabled) {
		color: #9eaab5;
	}

	.block-editor-block-variation-picker__skip {

		.components-button {
			color: #0073aa;
		}
	}

	.components-placeholder {
		align-items: center;

		.components-placeholder__label {
			font-size: 22px;
			font-weight: 500;
		}
	}

	.block-editor-block-variation-picker__variation::before {
		padding-bottom: 0;
	}

	.components-placeholder__fieldset {
		align-items: center;
	}

	.block-editor-block-variation-picker__variations {
		justify-content: center;
		width: 70%;

		> li {
			margin: 8px 30px 0 0;
			width: 80px;
		}
	}
}


.wp-block-uagb-container::before {
	content: "";
	position: absolute;
	border: 1px dashed #035cff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.wp-block-uagb-container {
	display: flex;

	.block-editor-inner-blocks,
	.block-editor-block-list__layout {
		display: flex;
		width: 100%;
		max-width: 100%;
		height: 100%;

		.block-list-appender {

			.block-editor-inserter {
				display: none;
			}
		}
	}

	.wp-block-paragraph {
		width: 100%;
	}
}

.block-editor-block-list__empty-block-inserter .block-editor-inserter {
	right: -35px;
}

.editor-styles-wrapper .wp-block[data-type="uagb/container"] {
	margin: 0;
	max-width: none;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-type="uagb/container"] {
	margin: 0 !important;
}

.uag-container-block-inserter .components-button {
	color: #4a01e0;
}
