/**
 * Editor styles for the admin
 */

#wpwrap .edit-post-visual-editor a.uagb-ss__link,
#wpwrap .edit-post-visual-editor a.uagb-ss__link {
	color: #3a3a3a;
}

.uagb-social-share__layout-vertical .uagb-social-share__outer-wrap > .block-editor-inner-blocks {
	width: 100%;
}

[data-type="uagb/social-share"] .uagb-social-share__layout-horizontal .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
}

[data-type="uagb/social-share"] .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
	width: auto;
	padding-right: 0;
	padding-left: 0;
	margin-right: 10px;
	margin-left: 10px;
}
