/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-social-share__outer-wrap {

	.uagb-social-share__wrap {
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	a.uagb-button__link:focus {
		box-shadow: none;
	}

	.uagb-ss__wrapper {
		padding: 0;
	    margin-left: 5px;
		margin-right: 5px;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		display: inline-flex;
		text-align: center;
	}

	.uagb-ss__source-wrap {
		display: inline-block;
	}

	.uagb-ss__link {
		color: #3a3a3a;
		display: inline-table;
		line-height: 0;
		cursor: pointer;
	}

	.uagb-ss__source-icon {
		font-size: 40px;
		width: 40px;
		height: 40px;
	}

	.uagb-ss__source-image {
		width: 40px;
	}

	.uagb-ss__wrapper:first-child {
		margin-left: 0;
	}

	.uagb-ss__wrapper:last-child {
		margin-right: 0;
	}
}
