.size-2\.5 {
	width: 0.625rem;
	height: 0.625rem;
}

.uagb-remove-ring input[type="checkbox"],
.uagb-remove-ring a,
.uagb-remove-ring {
	outline: none !important;
	--tw-ring-inset: auto !important;
	box-shadow: unset !important;
}
