.uag-ultimate-addons-for-gutenberg-logo-img [class^="ultimate-addons-for-gutenberg-icon"], .uag-ultimate-addons-for-gutenberg-logo-img [class*=" ultimate-addons-for-gutenberg-icon"], /* For Pro Compatibility */
[class^="ultimate-addons-for-gutenberg-logo-icon"], [class*=" ultimate-addons-for-gutenberg-logo-icon"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ultimate-addons-for-gutenberg-logo-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uag-ultimate-addons-for-gutenberg-logo-img .ultimate-addons-for-gutenberg-icon:before, /* For Pro Compatibility */
.ultimate-addons-for-gutenberg-logo-icon:before {
	content: '\e900';
	color: #f16334;
}

/**
* *********************
* Cartflows Font Icon
* *********************
*/

.uag-menu-page-wrapper,
.uag-menu-page-wrapper * {
	box-sizing: border-box;
}

#wpbody-content > .notice:not( .uag-notice ),
#wpbody-content > .error {
	display: none !important;
}

.uag-flex {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	margin-bottom: 30px;
}

.uag-container {
	margin: 0 auto;
	padding: 0px;
	box-sizing: border-box;
}

.uag-menu-page-wrapper a:focus,
.uag-menu-page-wrapper button:focus,
.uag-menu-page-wrapper input:focus {
	box-shadow: none;
	outline: none;
}
/* Admin Base */
.uag-menu-page-wrapper {
	font-family: var(--heading-font-family);
	left: -20px;
	position: relative;
	width: calc( 100% + 20px );
}

/* Page header */
.uag-page-header {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.uag-page-header h2 {
	margin: 0;
}
