
/* Header */
.uag-menu-page-header {
	background-color: var(--metabox-background-color);
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	/* margin: 0; */
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	position: relative;
}
.uag-logo {
	max-width: 250px;
}
.uag-top-links {
	flex: auto;
	text-align: right;
	font-weight: var(--heading-weight-500);
	margin-right: -20px;
}

.uag-top-links a {
	text-decoration: none;
	padding: 20px 22px;
	color: #7d7d7d;
	display: inline-block;
	height: 66px;
	border-left: 1px solid #dddddd;
}
.uag-top-links a:hover {
	color: #444;
	background: #fdfdfd;
	border-bottom: 2px solid #ddd;
	transition: unset;
}
