.wp-block.block-editor-block-list__block[data-type="uagb/social-share-child"] {
	margin-top: 15px;
	margin-bottom: 15px;
}

.uagb-social-share__layout-vertical .block-list-appender {
	width: 60px;
	margin-top: 28px;
}

.uagb-social-share__layout-horizontal .block-list-appender {
	margin-top: 0;
	margin-left: 20px;
}