/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-social-share__outer-wrap {

	.uagb-social-share__wrap {
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: flex-start;
		-webkit-align-items: flex-start;
		-moz-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
		-webkit-box-pack: flex-start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: flex-start;
		-ms-flex-pack: flex-start;
		justify-content: flex-start;
	}

	&.wp-block-uagb-social-share .uagb-social-share__wrap a.uagb-social-share__wrapper,
	&.wp-block-uagb-social-share .uagb-social-share__wrap a.uagb-social-share__wrapper:focus,
	&.wp-block-uagb-social-share .uagb-social-share__wrap a.uagb-social-share__wrapper:active,
	&.wp-block-uagb-social-share .uagb-social-share__wrap a.uagb-social-share__wrapper:visited {
		text-decoration: none;
	}

	a.uagb-button__link:focus {
		box-shadow: none;
	}

	.uagb-social-share__wrapper > p {
		display:none;
	}

	.uagb-social-share__wrapper {
		padding: 0;
	    margin-left: 5px;
		margin-right: 5px;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		display: inline-flex;
		text-align: center;
	}

	.uagb-social-share__content-wrap,
	.uagb-social-share__source-wrap {
		width: inherit;
		display: inline-block;
	}

	.uagb-social-share__source-wrap {
		display: inherit;
		align-items: center;
	}
	.uagb-social-share__content-wrap {
		color: #3a3a3a;
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.uagb-social-share__source-icon,
	.uagb-social-share__source-icon:before {
		font-size: 40px;
		width: 40px;
		height: 40px;
	}

	.uagb-social-share__source-icon svg{
		display: block;
	}

	.uagb-social-share__source-image {
		width: 40px;
	}

	.uagb-social-share__wrapper:first-child {
		margin-left: 0;
	}

	.uagb-social-share__wrapper:last-child {
		margin-right: 0;
	}

	.uagb-social-share__wrap > p {
		display: none;
	}

	.uagb-social-share__wrapper[href="/"] {
	    pointer-events: none;
	    cursor: text;
	}
}

.wp-block-uagb-social-share .uagb-social-share__wrap .uagb-social-share__wrapper {
	text-decoration: none;
}

.uagb-social-share__wrap .uagb-social-share__wrapper {
	box-shadow: none;
}

.uagb-social-share__outer-wrap:not(.uagb-social-share__no-label) .uagb-social-share__source-wrap {
	margin-right: 15px;
}

.uagb-social-share__outer-wrap.uagb-social-share__icon-at-top .uagb-social-share__source-wrap{
	-ms-flex-item-align: flex-start;
	align-self: flex-start;
	margin-top: 5px;
}
