/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-team {
	display: flex;

	.uagb-team__content {
		width: 100%;
	}

	&.uagb-team__outer-wrap.uagb-team__image-position-left .uagb-team__wrap,
	&.uagb-team__outer-wrap.uagb-team__image-position-right .uagb-team__wrap {
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	}

	.uagb-team__prefix {
		color: #888;
		font-size: 15px;
		font-style: normal;
	}

	.uagb-team__title,
	span.uagb-team__title {
		display: block;
		margin-top: 0;
	}

	.uagb-team__image-wrap img {
		display: inline;
		width: inherit;
		height: auto !important;
		max-width: 100%;
		box-sizing: content-box;
		border-radius: inherit;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-border-radius: inherit;
	}

	.uagb-team__image-wrap.uagb-team__image-crop-circle img { // For Backword.
		-webkit-border-radius: 100%;
		border-radius: 100%;
	}

	img.uagb-team__image-crop-circle {
		-webkit-border-radius: 100%;
		border-radius: 100%;
	}

	.uagb-team__image-wrap.uagb-team__image-crop-square img { // For Backword.
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	img.uagb-team__image-crop-square {
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	.uagb-team__social-icon-wrap ul {
		display: flex;
		list-style: none;
	}

	.uagb-team__social-icon a {
		display: block;
		width: 20px;
		height: 20px;
		color: #333;
		font-size: 20px;
	}

	.uagb-team__social-icon {
		margin-right: 20px;
		margin-left: 0;
	}

	.uagb-team__social-list {
		padding: 0;
		margin: 0;
	}

	&.uagb-team__image-position-above {

		&.uagb-team__align-center {
			text-align: center;

			.uagb-team__content {
				text-align: center;
			}
		}

		&.uagb-team__align-left {
			text-align: left;

			.uagb-team__content {
				text-align: left;
			}
		}

		&.uagb-team__align-right {
			text-align: right;

			.uagb-team__content {
				text-align: right;
			}
		}

		ul.uagb-team__social-list {
			display: flex;
			list-style: none;
		}

		.uagb-team__social-icon-wrap { // For Backword.
			display: inline-block;
		}

	}


	&.uagb-team__image-position-left {

		ul.uagb-team__social-list {
			display: flex;
			list-style: none;
			justify-content: flex-start;
		}

		.uagb-team__content {
			text-align: left;
		}

		.uagb-team__social-icon-wrap ul { // For Backword.
			justify-content: flex-start;
			padding: 0;
			margin: 0;
		}

		li {
			margin-right: 5px;
		}
	}

	&.uagb-team__image-position-right {

		ul.uagb-team__social-list {
			display: flex;
			list-style: none;
			justify-content: flex-end;
		}

		.uagb-team__content {
			text-align: right;
		}

		.uagb-team__social-icon-wrap ul { // For Backword.
			justify-content: flex-end;
			padding: 0;
			margin: 0;
		}

		li {
			margin-left: 5px;
		}

	}

	.uagb-team__image-position-left .uagb-team__wrap,
	.uagb-team__image-position-right .uagb-team__wrap { // For Backword.
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	}

	img {
		display: inline;
		max-width: 100%;
		width: inherit;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
}

@media only screen and (max-width: 976px) {

	.wp-block-uagb-team {

		&.uagb-team__image-position-left ul.uagb-team__social-list {
			justify-content: center;
		}

		&.uagb-team__image-position-right ul.uagb-team__social-list {
			justify-content: center;
		}

		&.uagb-team__stack-tablet {
			text-align: center;
			display: block;

			.uagb-team__content {
				text-align: center;
			}

			.uagb-team__wrap {
				display: inline-block;
			}

			.uagb-team__image-wrap,
			img {
				margin-right: auto !important;
				margin-left: auto !important;
			}

			.uagb-team__social-icon-wrap ul {
				justify-content: center;
			}
		}
	}

}

@media screen and (max-width: 767px) {

	.wp-block-uagb-team {

		&.uagb-team__image-position-left ul.uagb-team__social-list {
			justify-content: center;
		}

		&.uagb-team__image-position-right ul.uagb-team__social-list {
			justify-content: center;
		}

		&.uagb-team__stack-mobile {
			text-align: center;
			display: block;

			.uagb-team__content {
				text-align: center;
			}

			.uagb-team__wrap {
				display: inline-block;
			}

			.uagb-team__image-wrap {
				margin-right: auto !important;
				margin-left: auto !important;
			}

			.uagb-team__social-icon-wrap ul {
				justify-content: center;
			}
		}
	}


}
