@import "../../styles/variables";

.uag-number-control {

	.uagb-number-control__mobile-controls {
		// Full-width Control.
		&.uag-number-control__full-width {
			color: $spectra-color-body;

			.uag-control-label {
				margin-bottom: $spectra-control-label-bottom-margin;
			}

			.components-number-control .components-input-control__input {
				padding: 0 7px 0 12px !important;
			}
		}

		// Inline Control.
		&.uag-number-control__inline {
			align-items: center;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			color: $spectra-color-body;

			.uag-control-label {
				margin-bottom: 0;
			}

			.components-number-control .components-input-control__input {
				padding: 0 7px 0 12px !important;
			}

			.components-input-control__container {
				width: 100%;
			}
		}
	}

	.uagb-control__header {
		display: grid;
		grid-template-columns: 100%;
		justify-items: end;
		justify-content: end;
	}

	.uag-responsive-label-wrap {
		grid-column: 1 / span 2;
	}
}
