.editor-styles-wrapper [data-type="uagb/review"] {
  .rating-schema-notices {
      background-color: #FFF8E5;
      border-left: 5px solid #FFB901;
      padding: 8px 10px;
      font-size: 13px;
      line-height: 20px;
      color: #32373c;

      ul {
          margin: 0;
          padding-bottom: 0;
      }
      h6 {
          margin: 0;
          font-size: inherit;
          line-height: inherit;
      }
      p {
          margin: 0;
          margin-top: 15px;
          font-size: inherit;
          color: #555d66;
      }
  } 

}
.dashicons.dashicons-plus-alt{
    left: 50%;
    width: 100%;
}

.dashicons.dashicons-trash{
  margin-left: 50px;
}
  .uagb_review_average_stars, .uagb_review_entry .dashicons-trash {
	float: right;
  }