.editor-styles-wrapper [data-type="uagb/review"] {

	.rating-schema-notices {
		padding: 8px 10px;
		background-color: #fff8e5;
		border-left: 5px solid #ffb901;
		color: #32373c;
		font-size: 13px;
		line-height: 20px;

		ul {
			padding-bottom: 0;
			margin: 0;
		}

		h6 {
			margin: 0;
			font-size: inherit;
			line-height: inherit;
		}

		p {
			margin: 15px 0 0;
			color: #555d66;
			font-size: inherit;
		}
	}

}

.dashicons.dashicons-plus-alt {
	left: 50%;
	width: 100%;
}

.dashicons.dashicons-trash {
	margin-left: 50px;
}

.uagb_review_average_stars,
.uagb_review_entry .dashicons-trash {
	float: right;
}

.uagb-bg-image {
    border-radius: 2px;
    background-color: #f0f0f0;
    min-height: 90px;
    padding: 8px 0;
    text-align: center;
    display: block;
    width: 100%;
    transition: all .1s ease-out;
    box-shadow: 0 0 0 0 #0085ba;
    margin-top:10px;
    button.components-button.is-secondary {
        margin-top:20px;
        margin-right:30px;
    }
    button.components-button.uagb-rm-btn.is-link.is-destructive {
        margin-top:28px
    }
    .components-button:focus:not(:disabled){
        box-shadow:0 0;
        color:0 0;
    }
    
    .components-button.is-secondary:hover:not(:disabled), .components-button.is-tertiary:hover:not(:disabled){
        box-shadow:0 0;
        color:0 0;
    }
    .components-button.is-secondary, .components-button.is-tertiary{
        box-shadow:0 0;
        color:0 0;
    }
}