/* Reset Gutenberg Css */
.block-editor-block-inspector .uag-typography-options {

	.components-base-control,
	.components-base-control__field {
		margin: 0;
	}

	.components-base-control {
		padding: 0;
		width: 100%;
	}
}

.uag-typography-options {

	margin-bottom: 24px;

	/* Label & actions */
	.uag-typography-option-actions {

		/** Typography & Box Shadow Popup CSS*/
		display: flex;
		justify-content: space-between;
		margin: 0;
		align-items: center;

		.uag-typography-main-label {
			font-size: 13px;
		}

		.uag-typography-button {
			margin: 0;
			height: 28px;
			width: 28px;
			padding: 5px;
			border: 1px solid #d3d3d3;
			border-radius: 14px;

			.dashicons-edit {
				font-size: 15px;
				line-height: 20px;
			}

			&:focus:not(:disabled) {
				box-shadow: none;
				outline: none;
			}
		}
	}

	/* Advanced panel */
	.uagb-typography-advanced {
		border: 1px solid #d3d3d3;
		border-radius: 3px;
		padding: 15px;
		margin: 10px 0;
		position: relative;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);

		/* Common component control css */
		.components-select-control {
			height: auto;
		}

		&::after,
		&::before {
			bottom: 100%;
			right: 8px;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&::after {
			right: 9px;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 5px;
			margin-left: -5px;
		}

		&::before {
			border-color: rgba(211, 211, 211, 0);
			border-bottom-color: #d3d3d3;
			border-width: 6px;
			margin-left: -6px;
		}
	}


	/* Font options common */
	.uag-typography-weight-style-wrap,
	.uag-typography-transform-decoration-wrap {
		display: flex;
		justify-content: space-between;
	}

	/* Font options - family width subset */
	.uag-typography-font-family-options {

		margin: 0 0 20px;

		.uag-typography-font-family {
			display: flex;
			width: 100%;
			flex-direction: column;

			& > label {
				padding-bottom: 4px;
			}

			.uag-font-family-select__input input {
				box-shadow: none;
				border: none;
				min-height: 22px;
			}

			.uag-font-family-select__control:hover {
				border: 1px solid #757575;
			}

			.uag-font-family-select__menu {
				z-index: 99999;
			}

			.uag-font-family-select__indicators {
				height: 30px;
			}

			.uag-font-family-select__dropdown-indicator {

				svg {
					height: 14px;
					width: 14px;
				}
			}

			.uag-font-family-select__dropdown-indicator:hover {
				color: #000;
			}

			.uag-font-family-select__value-container div:nth-child(2) {
				margin: 0;
				padding: 0;
			}
		}

		.uag-typography-font-family-subset {
			display: flex;
		}

		.uag-typography-font-family,
		.uag-typography-weight-style-wrap {
			margin: 0 0 16px;
		}
	}

	/* Range options */
	.uag-typography-range-options {

		margin-bottom: 16px;
	}

	.uag-typography-transform,
	.uag-typography-decoration,
	.uag-typography-font-family-weight,
	.uag-typography-style {
		display: flex;
		width: 48%;
	}
}
