.uag-typography-range-options .components-base-control__label {
	width: auto;
	display: block;
	margin-bottom: 8px;
}
.uag-typography-range-options {
	margin-bottom: 16px;
}
.components-button-group.components-tab-panel__tabs {
	padding-right: 26px;
}

.components-button-group.uagb-size-type-field {
	padding-right: 26px;
}

.uagb-field-child {
	padding-top: 12px;
	padding-bottom: 16px;
}

.uag-typography-font-family {
	display: flex;
}

label.uag-typography-font-family-label {
	margin-top: 10px;
	margin-right: 88px;
}

.css-1pcexqc-container.react-select-container {
	margin-top: 10px;
	width: 100px;
}

.components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
	margin-right: 20px;
}

label.uag-typography-font-family-weight-label {
	margin-right: 84px;
}

.uag-typography-font-family-subset {
	display: flex;
}

label.uag-typography-font-family-subset-label {
	margin-right: 86px;
}

.block-editor-block-inspector .components-base-control:last-child {
	margin-bottom: 0px;
}
.uagb-typography-advanced .components-select-control {
	height: auto;
}
/** Typography & Box Shadow Popup CSS*/
.uag-typography-option-actions {
	display: flex;
	justify-content: space-between;
	margin: 0;
	align-items: center;
	& > .components-base-control {
		.components-base-control__field {
			margin: 5px 0 0 0;
		}
	}
}
.uag-typography-options {
	border: 1px solid lightgrey;
	border-radius: 8px;
	padding: 10px;
	margin: 1.5em 0;
}
.uag-typography-options.active {
	margin: 1.5em 0;
	.uag-typography-option-actions {
		margin: unset;
	}
	.uag-typography-font-family-options {
		.components-base-control {
			width: 100%;
		}
	}
	.uag-typography-font-family {
		width: 100%;
		margin: 0.5em 0px;
	}
	.uag-typography-font-family-weight {
		width: 45%;
		display: inline-flex;
		margin-right: 10%;
	}
	.uag-typography-font-family-subset {
		width: 45%;
		display: inline-flex;
	}
	.uag-typography-decoration,
	.uag-typography-transform {
		display: inline-flex;
		margin: 0;
	}
	.uag-typography-transform {
		width: 45%;
		margin-right: 5%;
	}
	.uag-typography-decoration {
		width: 50%;
	}
}
