/* Reset Gutenberg Css */

@import '../../styles/variables';

.spectra-control-popup__options {
	/* Font options - family width subset */
	.uag-typography-font-family-options {

		.uag-typography-font-family {
			display: flex;
			width: 100%;
			flex-direction: column;

			& > label {
				padding-bottom: 4px;
			}

			.uag-font-family-select__input input {
				box-shadow: none;
				border: none;
				min-height: 22px;
			}

			.uag-font-family-select__control {
				cursor: pointer;

				&:hover {
					border: 1px solid #757575;
				}
			}

			.uag-font-family-select__menu {
				z-index: 99999;
			}

			.uag-font-family-select__indicators {
				height: 30px;
			}

			.uag-font-family-select__dropdown-indicator {

				svg {
					height: 14px;
					width: 14px;
				}
			}

			.uag-font-family-select__dropdown-indicator:hover {
				color: #000;
			}

			.uag-font-family-select__value-container {

				> div {
					margin: 0;
					padding: 0;
				}
			}
		}

		.uag-typography-font-family-subset {
			display: flex;
		}

		.uag-typography-font-family,
		.uag-typography-weight-style-wrap {
			margin: 0 0 16px;
		}
	}
}
