.uag-typography-range-options .components-base-control__label {
	width: auto;
	display: block;
	margin-bottom: 8px;
}

.components-button-group.components-tab-panel__tabs {
    padding-right: 26px;
}

.components-button-group.uagb-size-type-field {
    padding-right: 26px;
}

.uagb-field-child {
    padding-top:12px;
    padding-bottom:16px;
 }


 .uag-typography-font-family {
    display: flex;
}

label.uag-typography-font-family-label {
    margin-top:10px;
    margin-right:88px;
}

.css-1pcexqc-container.react-select-container {
    margin-top: 10px;
    width: 100px;
}

.components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
    margin-right:20px
}

label.uag-typography-font-family-weight-label {
    margin-right:84px
}

.uag-typography-font-family-subset {
    display:flex;
}

label.uag-typography-font-family-subset-label {
    margin-right:86px
}

.block-editor-block-inspector .components-base-control:last-child{
    margin-bottom:0px;
}