body {
	&.settings_page_spectra-pro-manage-license {
		&.auto-fold #wpcontent {
			width: 100%;
		}
		.notice {
			display: block;
		}
		background: #fff;
		#wpwrap {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#wpcontent {
			width: 100%;
		}

		#wpbody {
			padding: 0;
		}

		.wrap h1 {
			display: none;
		}

		.wrap .notice.notice-error {
			color: rgb( 245, 8, 8 );
		}

		.notice.notice-success {
			color: rgb( 24, 146, 24 );
		}

		#wpbody-content {
			padding-bottom: 0;
		}

		.wrap {
			margin: 0;
		}

		.wrap .notice {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: none !important;
			width: 100%;
			max-width: 615px;
			box-shadow: none;
			padding: 0 0 15px 0;
			margin: 0 auto;
		}

		.wrap .notice p {
			margin: 0;
		}

		.wrap .notice .notice-dismiss {
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.spectrapro-form-container form {
			padding-top: 0;
			padding-bottom: 0;
			max-width: 100%;
		}
		#wpadminbar,
		#adminmenu,
		#adminmenumain,
		#wpfooter,
		.page-title-action,
		#screen-meta-links,
		.subsubsub {
			display: none !important;
		}

		html.wp-toolbar {
			padding-top: 0;
		}

		#wpcontent,
		#wpfooter {
			margin-left: 0;
		}
		.notice {
			display: none;
		}
	}
}

@media only screen and ( max-width: 960px ) {
	.auto-fold #wpcontent,
	.auto-fold #wpfooter {
		margin-left: 0;
		padding: 0;
	}
}
