body {
	&.settings_page_spectra-pro-manage-license {
		&.auto-fold #wpcontent {
			width: 100%;
		}
		.notice {
			display: block;
		}
		background: #fff;
		#wpwrap {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: auto;
		}

		#wpcontent {
			width: 100%;
		}

		#wpbody {
			padding: 0;
		}

		.wrap h1 {
			display: none;
		}

		.wrap .notice.notice-error {
			color: rgb( 245, 8, 8 );
		}

		.notice.notice-success {
			color: rgb( 24, 146, 24 );
		}

		#wpbody-content {
			padding-bottom: 0;
			background: #fff;
		}

		.wrap {
			margin: 0;
			background: #fff;
		}

		.wrap .notice {
			display: flex;
			align-items: center;
			border: none !important;
			width: 100%;
			max-width: 615px;
			box-shadow: none;
			margin-left: 30px;
			margin-bottom: 15px;
			background: #f9f9f9;
			padding: 10px;
		}

		.wrap .notice p {
			margin: 0;
		}

		.wrap .notice .notice-dismiss {
			padding: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.spectrapro-form-container form {
			padding-top: 0;
			padding-bottom: 0;
			max-width: 100%;
			h2 {
				font-size: 1.125rem;
				color: #111827;
				font-weight: 500;
			}
			label {
				color: #64748b;
				font-size: 14px;
    			line-height: 22.4px;
			}
			.widefat {
				color: #64748b;
				background-color: #fff;
				border: 1px solid #e2e8f0;
				border-radius: 0.375rem;
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				line-height: 1.25rem;
			}
			.widefat:focus {
				outline: none;
				border-color: #94a3b8;
				box-shadow: none;
			}
			.button-primary {
				padding: 0.5rem 1rem;
				color: #fff;
				background-color: #6104ff;
				border-radius: 0.375rem;
				border-width: 1px;
				border-color: transparent;
				font-weight: 500;
				font-size: 0.875rem;
				line-height: 1.25rem;
			}
			.button-primary:hover {
				background-color: #5300e0;
			}
		}
		#wpadminbar,
		#adminmenu,
		#adminmenumain,
		#wpfooter,
		.page-title-action,
		#screen-meta-links,
		.subsubsub {
			display: none !important;
		}

		html.wp-toolbar {
			padding-top: 0;
		}

		#wpcontent,
		#wpfooter {
			margin-left: 0;
		}
		.notice {
			display: none;
		}
	}
}

@media only screen and ( max-width: 960px ) {
	.auto-fold #wpcontent,
	.auto-fold #wpfooter {
		margin-left: 0;
		padding: 0;
	}
}