:root {
	--accent-color:#2271B1;
	--accent-hv-color:#0a4b78;
	--background-light-color:#f7f8fa;
	--heading-color:#1D2327;
	--content-color:#3C434A;
	--link-color:#2271B1;
	--link-hv-color:#0a4b78;
	--metabox-background-color:#FFFFFF;

}
