:root {
	--accent-color: #2271b1;
	--accent-hv-color: #0a4b78;
	--background-light-color: #f7f8fa;
	--heading-color: #1d2327;
	--content-color: #3c434a;
	--link-color: #2271b1;
	--link-hv-color: #0a4b78;
	--metabox-background-color: #fff;

}
