.uag-menu-page-wrapper {

    // Button CSS.
    .uag-normal-button-control {

        .uag-button {
            padding: 10px 25px;
            display: inline-block;
            vertical-align: middle;
            align-items: center;
            cursor: pointer;
            margin: 0;
            letter-spacing: 0em;
            text-align: center;
            font-family: var(--heading-font-family);
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;
        }
        .uag-button--primary:hover,
        .uag-button--primary:focus,
        .uag-button--primary:active {
            background:var(--accent-hv-color);
            color: var(--metabox-background-color);
        }
        .uag-button--primary{
            border: none;
            background: var(--accent-color);
            color: var(--background-light-color);
            border-radius: 2px;
        }
        .uag-button--secondary{
            color: var(--link-color);
            border-color: var(--link-color);
            background: var(--metabox-background-color);
            border-width: 1px;
            border-style: solid;    
            border-radius: 3px;
        }
        .uag-button--secondary:hover,
        .uag-button--secondary:focus,
        .uag-button--secondary:active {
            background: #f0f0f1;
            border-color: #0a4b78;
            color: #0a4b78;
        }	
    }
    .uag-setting{
        background-color: black;
    }
    // Headings CSS.
    h1 {
        color: var(--heading-color);
        font-weight: 500;
    }
    h2{
        font-family: var(--heading-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: var(--heading-color);
    }
    h3 {
        margin-top: 0px;
        color: var(--heading-color);
        font-family: var(--heading-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }
    .uag-field{
        border-radius: 2px; 
    }
    // Paragraph CSS.
    p {
        color: var(--content-color);
        line-height: 1.2;
        font-family: var(--heading-font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }
    .components-base-control__field {
        font-family: var(--heading-font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}
#wpbody-content{
    padding-bottom: 0px;
}