.uag-menu-page-wrapper {

    // Button CSS.
    .uag-normal-button-control {

        .uag-button {
            background: var(--accent-color);
            color: var(--background-light-color);
            border-radius: 2px;
            padding: 10px 25px;
            display: inline-block;
            vertical-align: middle;
            align-items: center;
            cursor: pointer;
            margin: 0;
            border: none;
            letter-spacing: 0em;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;
        }
        .uag-button:hover,
        .uag-button:focus,
        .uag-button:active {
            background:var(--accent-hv-color);
        }
    }

    // Headings CSS.
    h1 {
        color: var(--heading-color);
    }
    h3 {
        color: var(--heading-color);
    }
    .uag-field{
        border-radius: 2px; 
    }
    // Paragraph CSS.
    p {
        color: var(--content-color);
        line-height: 1.2;
        margin: 0.5em 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
    }
}
