.uagb-res {
	// Media query for mobile devices (less than 768px)
	@media (min-width: 1024px) and (max-width: 1400px) {
		flex-direction: column;
		align-items: center !important;
		gap: 12px !important;

		> .icon {
			align-self: flex-start;
		}
	}
}
