:root {
    --heading-font-family: 'Roboto';
    --heading-font-style: normal;
    --heading-weight-400: 400;
    --heading-weight-500: 500;
    --heading-weight-600: 600;
    --heading-font-size: 18px;
    --heading-line-height: 24px;
}