// // [data-type="uagb/restaurant-menu-child"] {
// //     display: inline-block;
// //     width: 49%;
// // }
// // // // .wp-block-uagb-restaurant-menu-child.uagb-rest_menu__outer-wrap .uagb-rest_menu__wrap {
// // // //     width: 100%;
// // // // }

// // // .uagb-columns__columns-1 .block-editor-block-list__block[data-type="uagb/column"] { width: 100%; }
// // // .uagb-columns__columns-2 .block-editor-block-list__block[data-type="uagb/column"] { width: 50%; }
// // // .uagb-columns__columns-3 .block-editor-block-list__block[data-type="uagb/column"] { width: 33.33%; }

// // .wp-block-uagb-restaurant-menu-child .uagb-rest_menu__wrap.uagb-rm__desk-column-2 {
// //     width: 100%;
// // }
// // .wp-block-uagb-restaurant-menu-child .uagb-rest_menu__wrap.uagb-rm__desk-column-3 {
// //     width: 50%;
// // }

// [data-type="uagb/restaurant-menu"] .block-editor-inner-blocks > .block-editor-block-list__layout {
// 	display: flex;
// }

// [data-type="uagb/restaurant-menu"]>[data-type="uagb/restaurant-menu-child"] {
//          d
//   }