.uagb-post__cta {
    display: inline-block;
    margin-bottom:15px;
    background: #333333;
    border-color: #3b3b3b;
    border-style: none;
    border-width: 1px;
    border-radius: 0;
    color: #ffffff;
}
.uagb-post__link {
    display: inline-block;
    padding: 5px 10px;
    box-shadow: none;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transition: .3s ease;
}
