@import "../../styles/variables";

.uagb-responsive-select-control {

	.uagb-size-type-field-tabs {
		align-items: center;
		display: grid;
		grid-template-columns: 50% 50%;

		.uagb-control__header {
			margin-bottom: 0;
		}
	}
}

.components-base-control .components-base-control.uagb-responsive-select-control {
	margin-bottom: $spectra-control-vertical-gap !important;
}
