/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uagb-ifb-separator {
    display: inline-block;
    width: 30%;
    margin: 0;
}

.uagb-infobox__content-wrap.uagb-infobox-icon-above-title{
    text-align:center;
}

.block-editor-page #wpwrap .edit-post-visual-editor a.uagb-infobox-link-wrap {
    color: inherit;
}

.block-editor-page #wpwrap .editor-rich-text .uagb-ifb-title-prefix {
    margin-bottom: 5px;
}

.block-editor-page #wpwrap .editor-rich-text .uagb-ifb-title {
    margin-bottom: 10px;
}

.block-editor-page #wpwrap .uagb-ifb-separator-parent {
    margin-bottom: 10px;
}

.block-editor-page #wpwrap .editor-rich-text .uagb-ifb-desc {
    margin-bottom: 10px;
}
