/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.uagb-cta__content-wrap.uagb-cta__button-position-above-title{
    text-align:center;
}

.block-editor-page #wpwrap .edit-post-visual-editor a.uagb-cta-block-link-wrap {
    color: inherit;
}

.block-editor-page #wpwrap .editor-rich-text .uagb-cta-title {
    margin-bottom: 10px;
}

.block-editor-page #wpwrap .uagb-cta-separator-parent {
    margin-bottom: 10px;
}

.block-editor-page #wpwrap .editor-rich-text .uagb-cta-desc {
    margin-bottom: 10px;
}
.block-editor-page #wpwrap .uagb-cta-block-link i {
    font-style: normal;
}