/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-cta-block__outer-wrap{

    .uagb-cta-content {
        display: inline-block;
    }

    .cta-block-icon-above-title .uagb-cta-left-right-wrap {
        text-align: center;
    }

    a.uagb-cta-block-link span {
        font-size: inherit;
    }
    .uagb-cta__content-right .uagb-cta-link-wrapper{
        width:30%;    
    }
    .uagb-cta__content-right .uagb-cta-content{
        width:70%;    
    }

    .uagb-cta__content-right .uagb-cta-button-wrapper {
        display: inline-block;
        float: right;
    }

    .uagb-cta-link-wrapper.uagb-cta-block-link-style:empty {
        display: none;
    }
    a.uagb-cta-block-link,
    .entry .entry-content a.uagb-cta-block-link,
    a.uagb-cta-block-link-wrap,
    .entry .entry-content a.uagb-cta-block-link-wrap{
        text-decoration:none;
    }
    a.uagb-cta-block-link:hover,
    .entry .entry-content a.uagb-cta-block-link:hover,
    a.uagb-cta-block-link-wrap:hover,
    .entry .entry-content a.uagb-cta-block-link-wrap:hover
    .entry .entry-content a.uagb-cta-block-link:hover{
        color:inherit;
    }

    .uagb-cta-block-center {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        justify-content: center;
    }

    .uagb-cta__content-right {
        text-align: right;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        justify-content: flex-end;
    }

    .uagb-cta-left-right-wrap {
        width: 100%;
        word-break: break-word;
    }

    .uagb-cta__button-position-above-title .uagb-cta-left-right-wrap,
    .uagb-cta__button-position-below-title .uagb-cta-left-right-wrap {
        display: block;
        min-width: 100%;
        width: 100%;
    }

    /* Left/Right */
    .uagb-cta__button-position-left .uagb-cta-left-right-wrap,
    .uagb-cta__button-position-right .uagb-cta-left-right-wrap,
    .uagb-cta__button-position-left-title .uagb-cta-left-title-image,
    .uagb-cta__button-position-right-title .uagb-cta-right-title-image {
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
    }

    .uagb-cta__button-position-right .uagb-cta-left-right-wrap,
    .uagb-cta__button-position-right-title .uagb-cta-right-title-image {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        justify-content: flex-end;
    }

    /* Complete box link css */
    .uagb-cta-block-module-link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 4;
    }

    .uagb-edit-mode .uagb-cta-block-module-link {
        z-index: 2;
    }

    .uagb-cta-block-link-icon-after {
        margin-left: 5px;
        margin-right: 0;
    }

    .uagb-cta-block-link-icon-before {
        margin-left: 0;
        margin-right: 5px;
    }

    .uagb-cta-block-link-icon {
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .uagb-cta-block {
        position: relative;
    }

    .uagb-cta-link-button-wrapper {
        display: inline-block;
        line-height: 1;
        background-color: #818a91;
        color: #fff;
        text-align: center;   
    }
    .uagb-cta__content-right .uagb-cta-link-button-wrapper,
    .uagb-cta__content-right .uagb-cta-block-link{
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .uagb-cta__content-right.uagb-cta__button-valign-middle .uagb-cta-left-right-wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        align-items: center;
    }

    .uagb-cta-link-wrapper a {
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
    }

    .uagb-cta-title-wrap .uagb-cta-title{
      padding:0;
      margin:0;
      display:block;
    }

    .uagb-cta-block{
        position: relative
    }

    .uagb-cta-block,
    .uagb-cta-content,
    svg.dashicon.dashicons-upload {
        z-index: 1;
    }
    .uagb-cta-left-right-wrap,
    button.components-button {
        z-index: 1;
    }
    .uagb-cta-block-link {
        cursor: pointer;
    }
    a.uagb-cta-block-link-wrap {
        color: inherit;
    }
    .uagb-cta-content p:empty {
       display: none;
    }
    .uagb-cta__button-type-none .uagb-cta-content {
        width: 100%;
    }

    .uagb-cta-align-icon-after {
        margin-left: 5px;
    }
    .uagb-cta-align-icon-before {
        margin-right: 5px;
    }
    .uagb-cta-block-link i {
        font-style: normal;
    }
}

@media only screen and (max-width: 976px) {   
    .uagb-cta__content-stacked-tablet .uagb-cta-left-right-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: column;
        flex-direction: column;
        text-align: center;
    }   
    .uagb-cta__content-stacked-tablet.uagb-cta__content-right .uagb-cta-link-wrapper,
    .uagb-cta__content-stacked-tablet.uagb-cta__content-right .uagb-cta-content{
        width:100%;    
    }
    .uagb-cta__content-stacked-tablet.uagb-cta__content-right .uagb-cta-button-wrapper {
        display: inline-block;
        float: none;
        margin:0 auto;
    }
}

@media screen and (max-width: 767px) {
    .uagb-cta__content-stacked-mobile .uagb-cta-left-right-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: column;
        -moz-box-direction: column;
        flex-direction: column;
        text-align: center;
    }  
    .uagb-cta__content-stacked-mobile.uagb-cta__content-right .uagb-cta-link-wrapper,
    .uagb-cta__content-stacked-mobile.uagb-cta__content-right .uagb-cta-content{
        width:100%;    
    }
    .uagb-cta__content-stacked-mobile.uagb-cta__content-right .uagb-cta-button-wrapper {
        display: inline-block;
        float: none;
        margin:0 auto;
    }
}