/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-cta__outer-wrap{

    .uagb-cta__content {
        display: inline-block;
    }

    .cta-block-icon-above-title .uagb-cta__left-right-wrap {
        text-align: center;
    }

    a.uagb-cta__block-link span {
        font-size: inherit;
    }
    .uagb-cta__content-right .uagb-cta__link-wrapper{
        width:30%;    
    }
    .uagb-cta__content-right .uagb-cta__content{
        width:70%;    
    }

    .uagb-cta__content-right .uagb-cta__button-wrapper {
        display: inline-block;
        float: right;
    }

    .uagb-cta__link-wrapper.uagb-cta__block-link-style:empty {
        display: none;
    }
    a.uagb-cta__block-link,
    .entry .entry-content a.uagb-cta__block-link,
    a.uagb-cta__block-link-wrap,
    .entry .entry-content a.uagb-cta__block-link-wrap{
        text-decoration:none;
    }
    a.uagb-cta__block-link:hover,
    .entry .entry-content a.uagb-cta__block-link:hover,
    a.uagb-cta__block-link-wrap:hover,
    .entry .entry-content a.uagb-cta__block-link-wrap:hover
    .entry .entry-content a.uagb-cta__block-link:hover{
        color:inherit;
    }

    .uagb-cta__content-right {
        text-align: right;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        justify-content: flex-end;
    }

    .uagb-cta__left-right-wrap {
        width: 100%;
        word-break: break-word;
    }

    .uagb-cta__icon-position-above-title .uagb-cta__left-right-wrap,
    .uagb-cta__icon-position-below-title .uagb-cta__left-right-wrap {
        display: block;
        min-width: 100%;
        width: 100%;
    }

    .uagb-cta__icon-position-left .uagb-cta__left-right-wrap,
    .uagb-cta__icon-position-right .uagb-cta__left-right-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
    }

    .uagb-cta__icon-position-right .uagb-cta__left-right-wrap {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        justify-content: flex-end;
    }

    .uagb-cta__block-link-icon-after {
        margin-left: 5px;
        margin-right: 0;
    }

    .uagb-cta__block-link-icon-before {
        margin-left: 0;
        margin-right: 5px;
    }

    .uagb-cta__block-link-icon {
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .uagb-cta__block {
        position: relative;
    }

    .uagb-cta__button-link-wrapper {
        display: inline-block;
        line-height: 1;
        background-color: #818a91;
        color: #fff;
        text-align: center;   
    }
    .uagb-cta__content-right .uagb-cta__button-link-wrapper,
    .uagb-cta__content-right .uagb-cta__block-link{
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .uagb-cta__content-right.uagb-cta__button-valign-middle .uagb-cta__left-right-wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        align-items: center;
    }

    .uagb-cta__link-wrapper a {
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
    }

    .uagb-cta__title-wrap .uagb-cta__title{
      padding:0;
      margin:0;
      display:block;
    }

    .uagb-cta__block,
    .uagb-cta__content {
        z-index: 1;
    }
    .uagb-cta__left-right-wrap {
        z-index: 1;
    }
    .uagb-cta__block-link {
        cursor: pointer;
    }
    .uagb-cta__content-right .uagb-cta__block-link {
        display: inline-block;
        float: right;
        padding:10px 14px;
    }
    a.uagb-cta__block-link-wrap {
        color: inherit;
    }
    .uagb-cta__content p:empty {
       display: none;
    }
    .uagb-cta__button-type-none .uagb-cta__content {
        width: 100%;
    }

    .uagb-cta__align-button-after {
        margin-left: 5px;
    }
    .uagb-cta__align-button-before {
        margin-right: 5px;
    }
    .uagb-cta__block-link i {
        font-style: normal;
    }
}

@media only screen and (max-width: 976px) {   
    .uagb-cta__content-stacked-tablet .uagb-cta__left-right-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: column;
        flex-direction: column;
        text-align: center;
    }   
    .uagb-cta__content-stacked-tablet.uagb-cta__content-right .uagb-cta__link-wrapper,
    .uagb-cta__content-stacked-tablet.uagb-cta__content-right .uagb-cta__content{
        width:100%;    
    }
    .uagb-cta__content-stacked-tablet.uagb-cta__content-right .uagb-cta__button-wrapper {
        display: inline-block;
        float: none;
        margin:0 auto;
    }
}

@media screen and (max-width: 767px) {
    .uagb-cta__content-stacked-mobile .uagb-cta__left-right-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: column;
        -moz-box-direction: column;
        flex-direction: column;
        text-align: center;
    }  
    .uagb-cta__content-stacked-mobile.uagb-cta__content-right .uagb-cta__link-wrapper,
    .uagb-cta__content-stacked-mobile.uagb-cta__content-right .uagb-cta__content{
        width:100%;    
    }
    .uagb-cta__content-stacked-mobile.uagb-cta__content-right .uagb-cta__button-wrapper {
        display: inline-block;
        float: none;
        margin:0 auto;
    }
}