.uagb-tabs__wrap {
	.uagb-tabs-editor-controls {
		left: 0;
		background-color: #000;
		position: absolute;
		top: -21px;
		display: none;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding-left: 2px;
		padding-right: 2px;
		border-radius: 2px;
		font-size: 5px;
	}

	span.uagb-tabs__remove {
		color: #fff;
		cursor: pointer;
		z-index: 1;
	}

	li.uagb-tab:hover span.uagb-tabs__remove {
		display: block;
	}

	.uagb-tab-item__move-forward,
	.uagb-tab-item__move-back {
		color: #fff;
		cursor: pointer;
		z-index: 1;
	}

	li.uagb-tab:hover .uagb-tabs-editor-controls {
		display: inline-flex;
	}

	.uagb-tab.uagb-tabs__add-tab {
		.dashicon {
			vertical-align: middle;
		}
	}
}

.edit-post-visual-editor .uagb-tabs__wrap .block-editor-button-block-appender {
	display: none;
}
//Horizonatal Styles
.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__hstyle1-tablet {
	flex-direction: column;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	.uagb-tab {
		border-style: solid;
		margin: 10px 10px 10px 0;
		padding: 6px 12px;
		border-radius: 4px;
	}

	p {
		margin: 0;
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__hstyle2-tablet {
	flex-direction: column;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		padding: 0;
		border-bottom-style: solid;
	}

	.uagb-tab {
		margin: 10px 10px -1px 0;
		padding: 6px 12px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	p {
		margin: 0;
	}

	.uagb-tabs__active {
		border-bottom-style: solid;
	}

	.uagb-tabs__body-wrap {
		border: none;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__hstyle3-tablet {
	flex-direction: column;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		padding: 0;
	}

	.uagb-tab {
		border-top-right-radius: 7px;
		border-top-left-radius: 7px;
		border-top-style: solid;
		border-left-style: solid;
		border-right-style: solid;
		margin: 10px 10px 0 0;
		padding: 6px 12px;

		p {
			margin: 0;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__hstyle4-tablet {
	flex-direction: column;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		padding: 0;
	}

	.uagb-tab {
		border-radius: 30px;
		border-style: solid;
		margin: 10px 10px 10px 0;
		padding: 6px 12px 6px 12px;

		p {
			margin: 0;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__hstyle5-tablet {
	flex-direction: column;
	border-style: solid;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	.uagb-tab {
		padding: 6px 12px;
		margin: 10px 10px 10px 10px;
		width: 100%;
		text-align: center;

		p {
			margin: 0;
		}
	}

	.uagb-tab.uagb-tabs__active {
		border-bottom: 1px solid;
	}
}
//Vertical Styles
.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__vstyle6-tablet {
	flex-direction: row;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;

		.uagb-tab {
			border-style: solid;
			margin: 0 10px 10px 0;
			padding: 6px 12px;
			border-radius: 4px;

			p {
				margin: 0;
			}
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__vstyle7-tablet {
	flex-direction: row;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;
		margin: 0;
		padding: 0;
		border-bottom-style: solid;

		.uagb-tab {
			margin: 10px 10px 0 0;
			padding: 6px 12px;

			p {
				margin: 0;
			}
		}

		.uagb-tabs__active {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		border: none;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__vstyle8-tablet {
	flex-direction: row;
	display: flex;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: grid;
		flex-grow: 1;
		min-width: 25%;
		max-width: 25%;

		.uagb-tab {
			border-top-style: solid;
			border-left-style: solid;
			border-bottom-style: none;
			padding: 6px 12px;
			border-top-left-radius: 4px;

			p {
				margin: 0;
			}
		}

		.uagb-tab:last-child {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__vstyle9-tablet {
	flex-direction: row;
	display: flex;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;

		.uagb-tab {
			border-radius: 30px;
			border-style: solid;
			margin: 0 10px 10px 0;
			padding: 6px 12px 6px 12px;

			p {
				margin: 0;
			}
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-tablet.uagb-tabs__wrap.uagb-tabs__vstyle10-tablet {
	border-style: solid;
	flex-direction: row;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;
		margin: 0;
		padding: 0;

		.uagb-tab {
			padding: 6px 12px;
			margin: 10px 10px 10px 10px;
			text-align: center;

			p {
				margin: 0;
			}
		}

		.uagb-tab.uagb-tabs__active {
			border-right-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		flex-grow: 3;
		max-width: 75%;
	}
}

//Horizonatal Styles
.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__hstyle1-mobile {
	flex-direction: column;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}

	.uagb-tab {
		border-style: solid;
		margin: 10px 10px 10px 0;
		padding: 6px 12px;
		border-radius: 4px;
	}

	p {
		margin: 0;
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-direction: row;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__hstyle2-mobile {
	flex-direction: column;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		border-bottom: 1px solid #b3b6b9;
	}

	.uagb-tab {
		margin: 10px 10px -1px 0;
		padding: 6px 12px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	p {
		margin: 0;
	}

	.uagb-tabs__active {
		border-bottom-style: solid;
	}

	.uagb-tabs__body-wrap {
		border: none;
		flex-direction: row;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__hstyle3-mobile {
	flex-direction: column;

	ul.uagb-tabs__panel {
		display: flex;
		flex-grow: 1;
		margin-bottom: 0;
		flex-direction: row;
		padding: 0;
	}

	.uagb-tab {
		border-top-right-radius: 7px;
		border-top-left-radius: 7px;
		border-top-style: solid;
		border-left-style: solid;
		border-right-style: solid;
		margin: 10px 10px 0 0;
		padding: 6px 12px;

		p {
			margin: 0;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-direction: row;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__hstyle4-mobile {
	flex-direction: column;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		flex-direction: row;
		display: flex;
		flex-grow: 1;
	}

	.uagb-tab {
		border-radius: 30px;
		border-style: solid;
		margin: 10px 10px 10px 0;
		padding: 6px 12px 6px 12px;

		p {
			margin: 0;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		max-width: 100%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__hstyle5-mobile {
	flex-direction: column;
	border-style: solid;

	ul.uagb-tabs__panel {
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	.uagb-tab {
		padding: 6px 12px;
		margin: 10px 10px 10px 10px;
		text-align: center;
		width: 100%;

		p {
			margin: 0;
		}
	}

	.uagb-tab.uagb-tabs__active {
		border-bottom-style: solid;
	}

	.uagb-tabs__body-wrap {
		max-width: 100%;
	}
}
//Vertical Styles
.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__vstyle6-mobile {
	flex-direction: row;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;

		.uagb-tab {
			border-style: solid;
			margin: 0 10px 10px 0;
			padding: 6px 12px;
			border-radius: 4px;

			p {
				margin: -9px;
			}
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__vstyle7-mobile {
	flex-direction: row;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;
		margin: 0;
		padding: 0;

		.uagb-tab {
			border-top-style: none;
			border-left-style: none;
			border-right-style: none;
			border-bottom-style: solid;
			margin: 10px 10px 0 0;
			padding: 6px 12px;

			p {
				margin: 0;
			}
		}

		.uagb-tabs__active {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		border: none;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__vstyle8-mobile {
	flex-direction: row;
	display: flex;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: grid;
		flex-grow: 1;
		min-width: 25%;
		max-width: 25%;

		.uagb-tab {
			border-top-style: solid;
			border-left-style: solid;
			border-bottom-style: none;
			padding: 6px 12px;
			border-top-left-radius: 4px;

			p {
				margin: 0;
			}
		}

		.uagb-tab:last-child {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__vstyle9-mobile {
	flex-direction: row;
	display: flex;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;

		.uagb-tab {
			border-radius: 30px;
			border-style: solid;
			margin: 0 10px 10px 0;
			padding: 6px 12px 6px 12px;

			p {
				margin: 0;
			}
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__vstyle10-mobile {
	border-style: solid;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 24%;
		max-width: 24%;
		margin: 0;
		padding: 0;

		.uagb-tab {
			padding: 6px 12px;
			margin: 10px 10px 10px 10px;
			text-align: center;

			p {
				margin: 0;
			}
		}

		.uagb-tab.uagb-tabs__active {
			border-right-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		flex-grow: 3;
		max-width: 75%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__stack1-mobile {
	border-style: none;
	display: grid;

	ul.uagb-tabs__panel {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		max-width: 100%;
		flex-grow: unset;

		.uagb-tab {
			border-style: solid;
			margin: 0 0 10px 0;
			padding: 6px 12px;

			p {
				margin: 0;
			}
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		max-width: 100%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__stack2-mobile {
	border-style: none;
	display: grid;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		flex-grow: unset;
		width: 100%;
		margin: 0;
		padding: 0;
		border-bottom-style: solid;

		.uagb-tab {
			margin: 0 0 10px 0;
			padding: 6px 12px;

			p {
				margin: 0;
			}
		}

		.uagb-tabs__active {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		max-width: 100%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__stack3-mobile {
	border-style: none;
	display: grid;

	ul.uagb-tabs__panel {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		max-width: 100%;
		flex-grow: unset;
		width: 100%;

		.uagb-tab {
			border-radius: 30px;
			border-style: solid;
			margin: 0 0 10px 0;
			padding: 6px 12px 6px 12px;

			p {
				margin: 0;
			}
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		max-width: 100%;
	}
}

.uagb-editor-preview-mode-mobile.uagb-tabs__wrap.uagb-tabs__stack4-mobile {
	display: grid;
	border-style: solid;
	margin: auto;

	ul.uagb-tabs__panel {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		flex-grow: unset;
		width: 100%;
		margin: 0;
		padding: 0;

		.uagb-tab {
			padding: 6px 12px;
			margin: 0 0 10px 0;
			text-align: center;

			p {
				margin: 0;
			}
		}

		.uagb-tab.uagb-tabs__active {
			border-right-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		max-width: 100%;
	}
}
