.uagb-tabs-select-style.uagb-size-type-field-tabs .components-tab-panel__tabs{
    position: relative;
    z-index: 999999999999;
    margin-right: 0px;
   
}
.uagb-tabs-select-style.uagb-size-type-field-tabs .components-tab-panel__tab-content{
    .components-flex.wp-components-flex.components-wp-components-flex.wp-components-wp-components-flex.components-select-control{
        display: block;
    }
}
.uagb-tabs__wrap{
    display: flex;
    margin: 15px;
        ul.uagb-tabs__panel{
            list-style-type: none;
            display: inherit;
            li.uagb-tab{
                float: left;
                position: relative;
            }
            .uagb-tabs__icon-position-left{
                display: inline-flex;
            }
            .uagb-tabs__icon-position-top{
                display: block;
                .uagb-tabs__icon{
                    display: block;
                    text-align: center;
                }
            }
            .uagb-tabs__icon-position-bottom{
                display: block;
                .uagb-tabs__icon{
                    display: block;
                    text-align: center;
                }
            }
            .uagb-tabs__icon-position-right{
                display: inline-flex;
            }
        }   
    .uagb-tabs__body-wrap{
        position:relative;
        max-width: 100%;
        padding: 10px;
    }
    span.uagb-tabs__remove {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 20px;
        color: #fff;
        background-color: #000000;
        border-radius: 50%;
        cursor: pointer;
        display: none;
        z-index: 1;
    }
    li.uagb-tab:hover span.uagb-tabs__remove {
        display: block;
    }
    .uagb-tab.uagb-tabs__add-tab{
        .dashicon{
            vertical-align: middle;
        }
    }
}
