.uagb-tabs__wrap{
    display: flex;
    margin: 15px;
    ul.uagb-tabs__panel{
        list-style-type: none !important;
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom:5px!important;
        li.uagb-tab{
            float: left;
            margin: 0 8px 8px 0;
            padding: 5px;
        }
    }
    .uagb-tabs__body-wrap{
        max-width: 100%;
        padding: 20px;
    }
    .uagb-tabs__body{
        cursor: pointer;
        padding: 10px 15px;
        display: none;
    }
}

    .uagb-tabs__wrap.uagb-tabs__horz-desktop {
        flex-direction: column;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-desktop ul.uagb-tabs__panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 25%;
        max-width: 25%;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-desktop ul.uagb-tabs__panel span.uagb-tabs__remove {
        left: -8px;
        right: unset;
    }   

    .uagb-tabs__wrap.uagb-tabs__vert-desktop .uagb-tabs__body-wrap {
        flex-grow: 3;
        max-width: 75%;
    }

@media (max-width: 1023px) {
      /* Tabs */
      .uagb-tabs__wrap.uagb-tabs__horz-tablet {
        flex-direction: column;
    }

    .uagb-tabs__wrap.uagb-tabs__horz-tablet ul.uagb-tabs__panel,
    .uagb-tabs__wrap.uagb-tabs__horz-tablet .uagb-tabs__body-wrap {
        max-width: 100%;
        display: block;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-tablet {
        flex-direction: row;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-tablet .uagb-tabs__panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 25%;
        max-width: 25%;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-tablet ul.uagb-tabs__panel span.uagb-tabs__remove {
        left: -8px;
        right: unset;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-tablet .uagb-tabs__body-wrap {
        flex-grow: 3;
        max-width: 75%;
    }
}
/* Mobile */
@media (max-width: 425px) {
    .uagb-tabs__wrap.uagb-tabs__horz-mobile {
        flex-direction: column;
    }

    .uagb-tabs__wrap.uagb-tabs__horz-mobile ul.uagb-tabs__panel,
    .uagb-tabs__wrap.uagb-tabs__horz-mobile .uagb-tabs__body-wrap {
        max-width: 100%;
        display: block;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-mobile {
        flex-direction: row;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-mobile ul.uagb-tabs__panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 25%;
        max-width: 25%;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-mobile ul.uagb-tabs__panel span.uagb-tabs__remove {
        left: -8px;
        right: unset;
    }

    .uagb-tabs__wrap.uagb-tabs__vert-mobile .uagb-tabs__body-wrap {
        flex-grow: 3;
        max-width: 75%;
    }

    .uagb-tabs__wrap.uagb-tabs__stack-mobile .uagb-tabs__panel {
        display: none !important;
    }

    .uagb-tabs__wrap.uagb-tabs__stack-mobile .uagb-tabs__body-header {
        display: block;
    }

    .uagb-tabs__wrap.uagb-tabs__stack-mobile .uagb-tabs__body-wrap {
        max-width: 100%;
    }

    .uagb-tabs__wrap.uagb-tabs__stack-mobile .uagb-tabs__body-wrap .uagb-tabs__body-container {
        margin-bottom: 10px;
    }

    .uagb-tabs__wrap.uagb-tabs__stack-mobile .uagb-tabs__body-wrap .uagb-tabs__body-container:last-child {
        margin-bottom: 0;
    }

}  