.uagb-tabs__wrap {
	display: flex;
	margin: 15px;

	ul.uagb-tabs__panel {
		margin: 0;
		list-style-type: none;
		display: inherit;

		&.uagb-tabs__align-center {
			justify-content: center;
		}

		&.uagb-tabs__align-left {
			justify-content: flex-start;
		}

		&.uagb-tabs__align-right {
			justify-content: flex-end;
		}

		li.uagb-tab a {
			position: relative;
			padding: 6px 12px;
		}

		p {
			margin: 0;
		}
		.uagb-tabs__icon {
			vertical-align: text-top;
		}
		.uagb-tabs__icon-position-left {
			display: block;
			align-items: center;

			.uagb-tabs__icon {
				margin-top: 3px;
			}
		}

		.uagb-tabs__icon-position-top {
			display: block;

			.uagb-tabs__icon {
				display: block;
			}
		}

		.uagb-tabs__icon-position-bottom {
			display: block;

			.uagb-tabs__icon {
				display: block;
			}
		}

		.uagb-tabs__icon-position-right {
			display: block;

			.uagb-tabs__icon {
				margin-top: 3px;
			}
		}
	}

	.uagb-tabs__body-wrap {
		position: relative;
		max-width: 100%;
		padding: 10px;
	}
}
//Horizonatal Styles
.uagb-tabs__wrap.uagb-tabs__hstyle1-desktop,
.uagb-tabs__wrap.uagb-tabs__hstyle2-desktop,
.uagb-tabs__wrap.uagb-tabs__hstyle3-desktop,
.uagb-tabs__wrap.uagb-tabs__hstyle4-desktop,
.uagb-tabs__wrap.uagb-tabs__hstyle5-desktop {
	flex-direction: column;

	ul.uagb-tabs__panel {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		max-width: 100%;
	}

	.uagb-tabs__body-wrap {
		max-width: 100%;
	}
}

.uagb-tabs__wrap.uagb-tabs__hstyle1-desktop {

	.uagb-tab {
		border-style: solid;
		margin: 10px 10px 10px 0;
		border-radius: 4px;
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-tabs__wrap.uagb-tabs__hstyle2-desktop {

	ul.uagb-tabs__panel {
		border-bottom: 1px solid #b3b6b9;
	}

	.uagb-tab {
		margin: 10px 10px -1px 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.uagb-tabs__active {
		border-bottom-style: solid;
	}

	.uagb-tabs__body-wrap {
		border: none;
	}
}

.uagb-tabs__wrap.uagb-tabs__hstyle3-desktop {

	.uagb-tab {
		border-top-right-radius: 7px;
		border-top-left-radius: 7px;
		border-top-style: solid;
		border-left-style: solid;
		border-right-style: solid;
		margin: 10px 10px 0 0;
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-tabs__wrap.uagb-tabs__hstyle4-desktop {

	.uagb-tab {
		border-radius: 30px;
		border-style: solid;
		margin: 10px 10px 10px 0;
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-tabs__wrap.uagb-tabs__hstyle5-desktop {
	border-style: solid;

	ul.uagb-tabs__panel {
		justify-content: space-between;
		margin: 0;
	}

	.uagb-tab {
		margin: 10px 10px 10px 10px;
		text-align: center;
		width: 100%;
	}

	.uagb-tab.uagb-tabs__active {
		border-bottom-style: solid;
	}
}
//Vertical Styles
.uagb-tabs__wrap.uagb-tabs__vstyle6-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle7-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle8-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle9-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle10-desktop {
	flex-direction: row;

	ul.uagb-tabs__panel {
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-wrap: wrap;
	}

	.uagb-tabs__body-wrap {
		flex-grow: 3;
	}
}

.uagb-tabs__wrap.uagb-tabs__vstyle6-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle7-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle9-desktop,
.uagb-tabs__wrap.uagb-tabs__vstyle10-desktop {

	ul.uagb-tabs__panel {
		min-width: 24%;
		max-width: 24%;
		margin: 0;
	}

	.uagb-tabs__body-wrap {
		max-width: 75%;
	}
}

.uagb-tabs__wrap.uagb-tabs__vstyle6-desktop {

	ul.uagb-tabs__panel {

		.uagb-tab {
			border-style: solid;
			margin: 0 10px 10px 0;
			border-radius: 4px;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-tabs__wrap.uagb-tabs__vstyle7-desktop {

	ul.uagb-tabs__panel {

		.uagb-tab {
			margin: 10px 10px 0 0;
			border-top-style: none;
			border-left-style: none;
			border-right-style: none;
			border-bottom-style: solid;
		}

		.uagb-tabs__active {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		border: none;
	}
}

.uagb-tabs__wrap.uagb-tabs__vstyle8-desktop {

	ul.uagb-tabs__panel {
		min-width: 25%;
		max-width: 25%;

		.uagb-tab {
			border-top-style: solid;
			border-left-style: solid;
			border-bottom-style: none;
			border-top-left-radius: 4px;
		}

		.uagb-tab:last-child {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
		max-width: 75%;
	}
}

.uagb-tabs__wrap.uagb-tabs__vstyle9-desktop {

	ul.uagb-tabs__panel {

		.uagb-tab {
			border-radius: 30px;
			border-style: solid;
			margin: 0 10px 10px 0;
		}
	}

	.uagb-tabs__body-wrap {
		border-style: solid;
	}
}

.uagb-tabs__wrap.uagb-tabs__vstyle10-desktop {
	border-style: solid;

	ul.uagb-tabs__panel {

		.uagb-tab {
			margin: 10px 10px 10px 10px;
			text-align: center;
		}

		.uagb-tab.uagb-tabs__active {
			border-right-style: solid;
		}
	}
}

@media (max-width: 1023px) {
	//Horizonatal Styles
	.uagb-tabs__wrap.uagb-tabs__hstyle1-tablet,
	.uagb-tabs__wrap.uagb-tabs__hstyle2-tablet,
	.uagb-tabs__wrap.uagb-tabs__hstyle3-tablet,
	.uagb-tabs__wrap.uagb-tabs__hstyle4-tablet,
	.uagb-tabs__wrap.uagb-tabs__hstyle5-tablet {
		flex-direction: column;

		ul.uagb-tabs__panel {
			margin-bottom: 0;
			padding: 0;
			max-width: 100%;
			display: flex;
			flex-direction: row;
		}

		.uagb-tabs__body-wrap {
			max-width: 100%;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle1-tablet {

		.uagb-tab {
			border-style: solid;
			margin: 10px 10px 10px 0;
			border-radius: 4px;
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle2-tablet {

		ul.uagb-tabs__panel {
			border-bottom-style: solid;
		}

		.uagb-tab {
			margin: 10px 10px -1px 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.uagb-tabs__active {
			border-bottom-style: solid;
		}

		.uagb-tabs__body-wrap {
			border: none;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle3-tablet {

		.uagb-tab {
			border-top-right-radius: 7px;
			border-top-left-radius: 7px;
			border-top-style: solid;
			border-left-style: solid;
			border-right-style: solid;
			margin: 10px 10px 0 0;
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle4-tablet {

		.uagb-tab {
			border-radius: 30px;
			border-style: solid;
			margin: 10px 10px 10px 0;
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle5-tablet {
		border-style: solid;

		ul.uagb-tabs__panel {
			justify-content: space-between;
			margin: 0;
		}

		.uagb-tab {
			margin: 10px 10px 10px 10px;
			width: 100%;
			text-align: center;
		}

		.uagb-tab.uagb-tabs__active {
			border-bottom: 1px solid;
		}
	}
	//Vertical Styles
	.uagb-tabs__wrap.uagb-tabs__vstyle6-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle7-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle8-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle9-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle10-tablet {
		flex-direction: row;

		ul.uagb-tabs__panel {
			margin-bottom: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		.uagb-tab {

			p {
				margin: 0;
			}
		}

		.uagb-tabs__body-wrap {
			flex-grow: 3;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle6-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle7-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle9-tablet,
	.uagb-tabs__wrap.uagb-tabs__vstyle10-tablet {

		ul.uagb-tabs__panel {
			min-width: 24%;
			max-width: 24%;
		}

		.uagb-tabs__body-wrap {
			max-width: 75%;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle6-tablet {

		ul.uagb-tabs__panel {

			.uagb-tab {
				border-style: solid;
				margin: 0 10px 10px 0;
				border-radius: 4px;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle7-tablet {

		ul.uagb-tabs__panel {
			margin: 0;
			border-bottom-style: solid;

			.uagb-tab {
				margin: 10px 10px 0 0;
			}

			.uagb-tabs__active {
				border-bottom-style: solid;
			}
		}

		.uagb-tabs__body-wrap {
			border: none;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle8-tablet {

		ul.uagb-tabs__panel {
			margin-bottom: 0;
			min-width: 25%;
			max-width: 25%;

			.uagb-tab {
				border-top-style: solid;
				border-left-style: solid;
				border-bottom-style: none;
				border-top-left-radius: 4px;
			}

			.uagb-tab:last-child {
				border-bottom-style: solid;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle9-tablet {

		ul.uagb-tabs__panel {
			margin-bottom: 0;

			.uagb-tab {
				border-radius: 30px;
				border-style: solid;
				margin: 0 10px 10px 0;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle10-tablet {
		border-style: solid;

		ul.uagb-tabs__panel {
			margin: 0;

			.uagb-tab {
				margin: 10px 10px 10px 10px;
				text-align: center;
			}

			.uagb-tab.uagb-tabs__active {
				border-right-style: solid;
			}
		}
	}
}

/* Mobile */
@media (max-width: 767px) {

	.uagb-tabs__wrap.uagb-tabs__hstyle1-mobile,
	.uagb-tabs__wrap.uagb-tabs__hstyle2-mobile,
	.uagb-tabs__wrap.uagb-tabs__hstyle3-mobile,
	.uagb-tabs__wrap.uagb-tabs__hstyle4-mobile,
	.uagb-tabs__wrap.uagb-tabs__hstyle5-mobile {
		flex-direction: column;

		ul.uagb-tabs__panel {
			margin-bottom: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			max-width: 100%;
		}

		.uagb-tabs__body-wrap {
			flex-direction: row;
			max-width: 100%;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle6-mobile,
	.uagb-tabs__wrap.uagb-tabs__vstyle7-mobile,
	.uagb-tabs__wrap.uagb-tabs__vstyle8-mobile,
	.uagb-tabs__wrap.uagb-tabs__vstyle9-mobile,
	.uagb-tabs__wrap.uagb-tabs__vstyle10-mobile {
		flex-direction: row;

		ul.uagb-tabs__panel {
			margin-bottom: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}

		.uagb-tab {

			p {
				margin: 0;
			}
		}

		.uagb-tabs__body-wrap {
			flex-grow: 3;
			max-width: 75%;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle1-mobile {

		.uagb-tab {
			border-style: solid;
			margin: 10px 10px 10px 0;
			border-radius: 4px;
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle2-mobile {

		ul.uagb-tabs__panel {
			border-bottom: 1px solid #b3b6b9;
		}

		.uagb-tab {
			margin: 10px 10px -1px 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.uagb-tabs__active {
			border-bottom-style: solid;
		}

		.uagb-tabs__body-wrap {
			border: none;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle3-mobile {

		.uagb-tab {
			border-top-right-radius: 7px;
			border-top-left-radius: 7px;
			border-top-style: solid;
			border-left-style: solid;
			border-right-style: solid;
			margin: 10px 10px 0 0;
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle4-mobile {

		.uagb-tab {
			border-radius: 30px;
			border-style: solid;
			margin: 10px 10px 10px 0;
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__hstyle5-mobile {
		border-style: solid;

		ul.uagb-tabs__panel {
			justify-content: space-between;
			margin: 0;
		}

		.uagb-tab {
			margin: 10px 10px 10px 10px;
			text-align: center;
			width: 100%;
		}

		.uagb-tab.uagb-tabs__active {
			border-bottom-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle6-mobile {

		ul.uagb-tabs__panel {
			min-width: 24%;
			max-width: 24%;

			.uagb-tab {
				border-style: solid;
				margin: 0 10px 10px 0;
				border-radius: 4px;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle7-mobile {

		ul.uagb-tabs__panel {
			min-width: 24%;
			max-width: 24%;
			margin: 0;

			.uagb-tab {
				border-top-style: none;
				border-left-style: none;
				border-right-style: none;
				border-bottom-style: solid;
				margin: 10px 10px 0 0;
			}

			.uagb-tabs__active {
				border-bottom-style: solid;
			}
		}

		.uagb-tabs__body-wrap {
			border: none;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle8-mobile {

		ul.uagb-tabs__panel {
			min-width: 25%;
			max-width: 25%;

			.uagb-tab {
				border-top-style: solid;
				border-left-style: solid;
				border-bottom-style: none;
				border-top-left-radius: 4px;
			}

			.uagb-tab:last-child {
				border-bottom-style: solid;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle9-mobile {

		ul.uagb-tabs__panel {
			min-width: 24%;
			max-width: 24%;

			.uagb-tab {
				border-radius: 30px;
				border-style: solid;
				margin: 0 10px 10px 0;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__vstyle10-mobile {
		border-style: solid;

		ul.uagb-tabs__panel {
			min-width: 24%;
			max-width: 24%;
			margin: 0;

			.uagb-tab {
				margin: 10px 10px 10px 10px;
				text-align: center;
			}

			.uagb-tab.uagb-tabs__active {
				border-right-style: solid;
			}
		}
	}

	.uagb-tabs__wrap.uagb-tabs__stack1-mobile,
	.uagb-tabs__wrap.uagb-tabs__stack2-mobile,
	.uagb-tabs__wrap.uagb-tabs__stack3-mobile,
	.uagb-tabs__wrap.uagb-tabs__stack4-mobile {
		border-style: none;
		display: block;

		ul.uagb-tabs__panel {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			max-width: 100%;
			flex-grow: unset;

			.uagb-tab {

				p {
					margin: 0;
				}
			}
		}

		.uagb-tabs__body-wrap {
			max-width: 100%;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__stack1-mobile {
		border-style: none;
		display: block;

		ul.uagb-tabs__panel {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			max-width: 100%;
			flex-grow: unset;

			.uagb-tab {
				border-style: solid;
				margin: 0 0 10px 0;

				p {
					margin: 0;
				}
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
			max-width: 100%;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__stack2-mobile {

		ul.uagb-tabs__panel {
			border-bottom-style: solid;

			.uagb-tab {
				margin: 0 0 10px 0;
			}

			.uagb-tabs__active {
				border-bottom-style: solid;
			}
		}
	}

	.uagb-tabs__wrap.uagb-tabs__stack3-mobile {

		ul.uagb-tabs__panel {

			.uagb-tab {
				border-radius: 30px;
				border-style: solid;
				margin: 0 0 10px 0;
				padding: 6px 12px 6px 12px;
			}
		}

		.uagb-tabs__body-wrap {
			border-style: solid;
		}
	}

	.uagb-tabs__wrap.uagb-tabs__stack4-mobile {
		border-style: solid;
		margin: auto;

		ul.uagb-tabs__panel {

			.uagb-tab {
				margin: 0 0 10px 0;
				text-align: center;
			}

			.uagb-tab.uagb-tabs__active {
				border-right-style: solid;
			}
		}
	}
}

.uagb-tabs__wrap .uagb-tabs__body-container.uagb-tabs-body__active {
	display: block;
}
