/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.gutenberg-editor-page #wpwrap .uagb-rest_menu__outer-wrap ul.slick-dots{
    margin: 0 auto;
}

.uagb-rm__desc,
.editor-block-list__layout .uagb-rm__desc.editor-rich-text__tinymce{
    margin-bottom: 15px;
}
.uagb-rm__author-name,
.editor-block-list__layout .uagb-rm__author-name.editor-rich-text__tinymce{ 
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1em;    
}