/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-rest_menu__wrap{
    position:relative;
}
.uagb-rest_menu__wrap,
.uagb-rest_menu__wrap *{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}

.uagb-rm__image img,
.slick-slide .uagb-rm__image img {
    display: inline-block;
    box-sizing: content-box;
}
.uagb-rm__title,
.uagb-rm__price {
    display: inline-block;
}
.uagb-rm__desc{
    margin-bottom: 10px;
    font-style:italic;
}
.uagb-rm__content {
    overflow: hidden;
    text-align: left;
    word-break: break-word;
    padding:15px;
    border-radius:inherit;
    position: relative;
}
.uagb-rm__image-position-left .uagb-rm__content,
.uagb-rm__image-position-right .uagb-rm__content{
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}
.uagb-rm-details {
    display: table;
    width: 100%;
    line-height: 1;
}
.uagb-rm__title-wrap,
.uagb-rm__price-wrap{
    display: table-cell;
}
.uagb-rm__title-wrap{
    width:85%;
}
.uagb-rm__price-wrap{
    width:15%;
}

.uagb-rm__title, .uagb-rm__price {
    display: block;
}

.uagb-rm__image-aligned-middle .uagb-rm__image-content{
-ms-flex-item-align: center;
    align-self: center;
}
.uagb-rm__image{
    overflow: hidden;    
}

.uagb-rm__title{ 
    margin-bottom: 5px;
    font-size: 20px;
    font-weight:600;
    line-height: 1em;    
}
.uagb-rm__price{
    font-style: italic;
    line-height: 1em;
}

.uagb-rest_menu__outer-wrap{
    position: relative;   
}

.uagb-rm__overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:transparent;
}
.uagb-tm-parent{
    padding:30px;
}
.uagb-rm__text-wrap{
    position: relative;
}
.uagb-rest_menu__wrap{
    position: relative;
}
.uagb-rest_menu__outer-wrap:after{
    content: "";
    display: block;
    clear: both;
}
.uagb-rest_menu__wrap.uagb-rm__desk-column-3{
    display: block;
    width: 33%;
    float: left;
    width: calc(100% / 3);
    padding-left: 10px;
    padding-right: 10px;
}
.uagb-rest_menu__wrap.uagb-rm__desk-column-2{
    display: block;
    width: 49%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.uagb-rest_menu__wrap.uagb-rm__desk-column-1{
    display: block;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.uagb-rest_menu__wrap.uagb-rm__desk-column-2:nth-child(2n+1) {
    margin-left: 0%;
    clear: left;
}
.uagb-rest_menu__wrap.uagb-rm__desk-column-3:nth-child(3n+1) {
    margin-left: 0%;
    clear: left;
}
@media(max-width:976px) {
    /*.uagb-rm__image-position-bottom .uagb-rm__image-content, 
    .uagb-rm__image-position-bottom .uagb-rm-details {
        display: block;
        vertical-align: middle;
    }*/
    .uagb-rm__image-position-left .uagb-rm__content,
    .uagb-rm__image-position-right .uagb-rm__content{
        display: block;
        -js-display: block;
        display: block;
    }

    .uagb-rm__image-position-right.uagb-tm-stacked-tablet.uagb-tm-reverse-order-tablet .uagb-rm__content{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        -js-display: inline-flex;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    } 
    .uagb-rest_menu__wrap.uagb-rm__tablet-column-3{
        width: 33%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .uagb-rest_menu__wrap.uagb-rm__tablet-column-2{
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .uagb-rest_menu__wrap.uagb-rm__tablet-column-1{
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:768px) {
    /*.uagb-rm__image-position-bottom .uagb-rm__image-content, 
    .uagb-rm__image-position-bottom .uagb-rm-details {
        display: block;
        vertical-align: middle;
    }*/
    .uagb-rm__image-position-left .uagb-rm__content,
    .uagb-rm__image-position-right .uagb-rm__content{
        display: block;
        -js-display: block;
        display: block;
    }

    .uagb-rm__image-position-right.uagb-tm-stacked-mobile.uagb-tm-reverse-order-mobile .uagb-rm__content{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        -js-display: inline-flex;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    }
    .uagb-rest_menu__wrap.uagb-rm__mobile-column-3{
        width: 33%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .uagb-rest_menu__wrap.uagb-rm__mobile-column-2{
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .uagb-rest_menu__wrap.uagb-rm__mobile-column-1{
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

