/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .uagb-rm__desk-column-3 [data-type="uagb/restaurant-menu-child"]{    
    width: calc(100% / 3);   
    display: inline-block; 
    padding-left: 10px;
    padding-right: 10px;
}
.uagb-rm__desk-column-2 [data-type="uagb/restaurant-menu-child"]{    
    width: calc(100% / 2);   
    display: inline-block; 
    padding-left: 10px;
    padding-right: 10px;
}
.uagb-rm__desk-column-1 [data-type="uagb/restaurant-menu-child"]{    
    width: 100%;   
    display: inline-block; 
    padding-left: 10px;
    padding-right: 10px;
}

.uagb-rm__desc,
.editor-block-list__layout .uagb-rm__desc.block-editor-rich-text__editable{
    margin-bottom: 15px;
}
.block-editor-page #wpwrap .uagb-rm__separator-parent {
    margin-bottom: 10px;
}
.uagb-editor_imgpos_group {
    &.components-button-group {
        margin-bottom: 15px;
    }
}

.block-editor-page #wpwrap .wp-block-uagb-restaurant-menu .block-editor-block-list__block{
    margin-top: 0px;
    margin-bottom: 0px;
}