/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.editor-styles-wrapper {

	[data-type="uagb/restaurant-menu"].block-editor-block-list__block {
		display: flex;
	}

	.wp-block-uagb-restaurant-menu {
		padding: 15px;
		margin: 0;
		max-width: unset;

		.uagb-rm__title {
			margin-top: 0;
		}

		.uagb-rm__separator {
			margin-bottom: 10px;
		}

		&.uagb-rm__desk-column-3 [data-type="uagb/restaurant-menu-child"],
		&.uagb-rm__desk-column-2 [data-type="uagb/restaurant-menu-child"],
		&.uagb-rm__desk-column-1 [data-type="uagb/restaurant-menu-child"] {
			display: inline-block;
			padding-right: 10px;
			padding-left: 10px;
			box-sizing: border-box;
		}

		&.uagb-rm__desk-column-3 [data-type="uagb/restaurant-menu-child"] {
			width: calc(100% / 3);
			display: inline-flex;

			.wp-block-uagb-restaurant-menu-child.uagb-rest_menu__wrap.uagb-rm__desk-column-3 {
				// width: unset;
				width: 100%;
			}
		}

		&.uagb-rm__desk-column-2 [data-type="uagb/restaurant-menu-child"] {
			width: calc(100% / 2);
			display: inline-flex;

			.uagb-rm__desk-column-2 {
				// width: unset;
				width: 100%;
			}
		}

		.uagb-rest_menu__wrap.uagb-rm__align-left .uagb-rm__price {
			display: table-cell;
			text-align: right;
		}

		&.uagb-rm__desk-column-1 [data-type="uagb/restaurant-menu-child"] {
			width: 100%;
		}

		.uagb-rm__desc,
		.uagb-rm__desc.block-editor-rich-text__editable {
			margin-bottom: 15px;
		}

		/*
		/* Responsive for price-list on tablet in editor
		*/
		&.uagb-editor-preview-mode-tablet {
			float: left;
			padding-right: 10px;
			padding-left: 10px;

			&.uagb-rm__tablet-column-3 [data-type="uagb/restaurant-menu-child"] {
				width: calc(100% / 3);
			}

			&.uagb-rm__tablet-column-2 [data-type="uagb/restaurant-menu-child"] {
				width: calc(100% / 2);
			}

			&.uagb-rm__tablet-column-1 [data-type="uagb/restaurant-menu-child"] {
				width: 100%;
			}
		}

		/*
		/* Responsive for price-list on mobile in editor
		*/
		&.uagb-editor-preview-mode-mobile {

			float: left;
			padding-right: 10px;
			padding-left: 10px;

			&.uagb-rm__mobile-column-3 [data-type="uagb/restaurant-menu-child"] {
				width: calc(100% / 3);
			}

			&.uagb-rm__mobile-column-2 [data-type="uagb/restaurant-menu-child"] {
				width: calc(100% / 2);
			}

			&.uagb-rm__mobile-column-1 [data-type="uagb/restaurant-menu-child"] {
				width: 100%;
			}
		}
	}
}

