/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
//  .wp-block-uagb-restaurant-menu-child.uagb-rest_menu__outer-wrap {
//     display: block;
//     float: left;
//  }
.uagb-rm__desc,
.editor-block-list__layout .uagb-rm__desc.block-editor-rich-text__editable{
    margin-bottom: 15px;
}
.block-editor-page #wpwrap .uagb-rm__separator-parent {
    margin-bottom: 10px;
}
.uagb-editor_imgpos_group {
    &.components-button-group {
        margin-bottom: 15px;
    }
}

.block-editor-page #wpwrap .wp-block-uagb-restaurant-menu .block-editor-block-list__block{
    margin-top: 0px;
    margin-bottom: 0px;
}