.uagb-post__title {
    margin-top: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    word-break: break-word;
}
.uagb-post__title a {
    color: inherit;
    box-shadow: none;
    transition: .3s ease;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

.uagb-post__title a,
.uagb-post__title a:focus,
.uagb-post__title a:active {
    color: inherit;
    font-size: inherit;
}
.uagb-post__image-position-background {

	.uagb-post__text {
		opacity: 1;
		position: relative;
		z-index: 10;
		overflow: hidden;
		width: 100%;
    }
}