/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block[data-type="uagb/column"]:before {
 	content: '';
	position: absolute;
	border: 1px dashed #A3AEB6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.is-selected.wp-block[data-type="uagb/column"]:before {
	border-color: #59646C;
}

.editor-bg-image-control .components-button,
.editor-bg-video-control .components-button {
	vertical-align: middle;
}

.editor-bg-image-control .components-button:last-child,
.editor-bg-video-control .components-button:last-child {
	margin-left: 10px;
}

.wp-block[data-type="uagb/column"] .block-editor-block-list__block-edit {
	height: 100%;
}

.wp-block[data-type="uagb/column"] .block-editor-block-list__block-edit {
	height: 100%;
}

.uagb-column__inner-wrap .block-editor-block-list__block {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.block-editor-page #wpwrap .wp-block .wp-block-uagb-column .uagb-column__inner-wrap {
	width: 100%;
	padding: 30px;
}

.edit-post-visual-editor .uagb-column__inner-wrap .block-editor-block-list__block > .editor-block-mover {
    left: -30px;
}

@media (max-width: 449px) {
	.block-editor-page #wpwrap .uagb-columns__inner-wrap .block-editor-block-list__block{
		background-attachment: scroll!important;
	}
}

.wp-block-uagb-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="uagb/column"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 0;
    padding-right: 0;
    margin-left: -14px;
    margin-right: -14px;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    flex-basis: 100%;
}