
.uagb-forms-radio-wrap input[type="radio"], .uagb-form-radio-option input[type="radio"] {
    margin-right: 15px;
    vertical-align: middle;
}

.uagb-forms-radio-controls {
    margin-top: 10px;
}
.uagb-form-radio-option-delete.has-icon {
    margin: 0;
    padding: 10px;
    vertical-align: middle;
} 
