
.uagb-forms-radio-wrap input[type="radio"], .uagb-form-radio-option input[type="radio"] {
    margin-right: 15px;
    vertical-align: middle;
}

.uagb-forms-radio-controls {
    margin-top: 10px;
}
.uagb-form-radio-option-delete.has-icon {
    margin: 0;
    padding: 10px;
    vertical-align: middle;
} 
.uagb-forms-main-form .uagb-inner-input-view {
    width: 35% !important;
    margin: 0 10px !important;
    vertical-align: middle;
}
.uagb-forms-main-form .uagb-forms-radio-wrap input[type=radio]{
    border-radius: 50%;
}