
.uagb-forms-radio-wrap input[type="radio"],
.uagb-form-radio-option input[type="radio"] {
	vertical-align: middle;
	margin-right: 15px;
}

.uagb-forms-radio-controls {
	margin-top: 10px;
}

.uagb-form-radio-option-delete.has-icon {
	vertical-align: middle;
	padding: 10px;
	margin: 0;
}

.uagb-forms-main-form .uagb-inner-input-view {
	vertical-align: middle;
	width: 35% !important;
	margin: 0 10px !important;
}

.uagb-forms-main-form .uagb-forms-radio-wrap input[type="radio"] {
	border-radius: 50%;
}
