.editor-styles-wrapper {

	.uagb-forms-phone-wrap .uagb-form-phone-country-editor {
		line-height: normal;

		.components-input-control__backdrop {
			border: none;
		}
	}

	.uagb-forms-phone-wrap {

		.components-base-control {
			width: 30%;
		}

		.uagb-forms-phone-input {
			width: 70%;
		}
	}
}
