.editor-styles-wrapper {

	.uagb-forms-phone-wrap .uagb-form-phone-country-editor {
		line-height: normal;

		.components-input-control__backdrop {
			border: none;
			// gutenberg unwanted border remove from select tag
			box-shadow: none !important;
		}
	}

	.uagb-form-phone-country {
		border: 1px solid #8c8f94;
		border-radius: 4px;
	}

	.uagb-forms-phone-wrap {

		.components-base-control {
			width: 30%;
			float: right;
		}

		.uagb-forms-phone-input {
			width: 70%;
		}
	}
}

.uagb-editor-preview-mode-tablet {

	.uagb-forms-phone-flex {
		height: unset !important;

		.uagb-form-phone-country {
			height: unset;
		}
	}
}

.uagb-editor-preview-mode-mobile {

	.uagb-forms-phone-flex {
		height: unset !important;

		.uagb-form-phone-country {
			height: unset;
		}
	}
}
