/**
 * Editor styles for the admin
 */

.uagb-toc__list > p {
	color: #666;
	font-size: 13px;
	font-style: italic;
}

.block-editor-page {

	.uagb-toc__scroll-top {
		position: fixed;
		right: 343px;
		bottom: 50px;
		display: none;
		padding: 10px;
		background: #ccd0d4;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.85714285714286;

		svg {
			width: 1.6em;
			height: 0.6em;
			margin-left: 0;
			transform: translate(0, -20%) rotate(180deg);
			fill: currentColor;
		}

		&.uagb-toc__show-scroll {
			display: inline-table;
		}
	}
}

.uagb-light-font-weight {
	font-weight: 400;
}


.block-editor-block-list__block .wp-block-uagb-table-of-contents {

	ol.uagb-toc__list li.uagb-toc__list ul,
	ol.uagb-toc__list ul.uagb-toc__list ul {
		list-style-type: circle;
	}

	ol.uagb-toc__list > ul,
	ol.uagb-toc__list > li {
		list-style-type: disc;
	}
}
