/**
 * Editor styles for the admin
 */

.uagb-toc__list > p {
	font-size: 13px;
	font-style: italic;
	color: #666;
}

.block-editor-page {
	.uagb-toc__scroll-top {
		&.dashicons {
			right: 300px;
		}
		&.uagb-toc__show-scroll {
			display: inline-table;
		}
	}
}

.uagb-light-font-weight {
	font-weight: 400;
}
