/**
 * Editor styles for the admin
 */

.uagb-toc__list > p {
	color: #666;
	font-size: 13px;
	font-style: italic;
}

.block-editor-page {

	.uagb-toc__scroll-top {

		&.dashicons {
			right: 343px;
		}

		&.uagb-toc__show-scroll {
			display: inline-table;
		}
	}
}

.uagb-light-font-weight {
	font-weight: 400;
}


.block-editor-block-list__block .wp-block-uagb-table-of-contents {

	ol.uagb-toc__list li.uagb-toc__list ul,
	ol.uagb-toc__list ul.uagb-toc__list ul {
		list-style-type: circle;
	}

	ol.uagb-toc__list > ul,
	ol.uagb-toc__list > li {
		list-style-type: disc;
	}
}
