/**
 * Editor styles for the admin
 */

.uagb-toc__wrap {
	background: #eee;
	padding: 10px;
	border: 1px solid #333;
}

.uagb-toc__list-wrap ul li * {
	font-size: 16px;
	line-height: 1.2em;
}

.editor-styles-wrapper .uagb-toc__list-wrap ul {
	list-style: none;
}
