/**
 * Editor styles for the admin
 */

.uagb-toc__list > p {
	font-size: 13px;
	font-style: italic;
	color: #666;
}

.block-editor-page {
	.uagb-toc__scroll-top {
		display: none;
		position: fixed;
		bottom: 50px;
		padding: 10px;
		background: #ccd0d4;
		cursor: pointer;
		font-size: 1rem;
		right: 343px;

		svg {
			margin-left: 0px;
			transform: translate(0, -20%) rotate(180deg);
			width: 1.6em;
			height: .6em;
			fill: currentColor;
		}
		&.uagb-toc__show-scroll {
			display: inline-table;
		}
	}
}

.uagb-light-font-weight {
	font-weight: 400;
}


.block-editor-block-list__block .wp-block-uagb-table-of-contents {
	ol.uagb-toc__list li.uagb-toc__list ul,
	ol.uagb-toc__list ul.uagb-toc__list ul {
		list-style-type: circle;
	}
	ol.uagb-toc__list > ul,
	ol.uagb-toc__list > li {
		list-style-type: disc;
	}
}