/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-table-of-contents {

	.uagb-toc__wrap {
		display: inline-block;
	}

	ul.uagb-toc__list,
	ol.uagb-toc__list {
		margin-left:2.2em;
		padding-left: 0px;
		margin-bottom:0;
		li {
			margin: 0;
		}
	}

	&.uagb-toc__align-left {
		text-align: left;
	}

	&.uagb-toc__align-center {
		text-align: center;
	}

	&.uagb-toc__align-right {
		text-align: right;
	}

	ul li:empty {
		display: none;
	}

	.uagb-toc__title-wrap {
		display: flex;
		align-items: center;
	}

	.uagb-toc__is-collapsible.uagb-toc__title-wrap {
		cursor: pointer;
	}

	.uag-toc__collapsible-wrap svg {
		width: 20px;
		height: 20px;
	}

	.uag-toc__collapsible-wrap {
		margin-left: 10px;
		display: flex;
		cursor: pointer;
	}

	&.uagb-toc__collapse .uagb-toc__list-wrap {
		display: none;
	}
}

ol.uagb-toc__list li.uagb-toc__list ul,
ol.uagb-toc__list ul.uagb-toc__list ul {
	list-style-type: circle;
}
ol.uagb-toc__list > ul,
ol.uagb-toc__list > li {
	list-style-type: disc;
}
.uagb-toc__scroll-top {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 10px;
	background: #ccd0d4;
	cursor: pointer;
	font-size: 1rem;

	&.uagb-toc__show-scroll {
		display: inline-table;
	}
}