.uag-range-control {
	.uagb-control__header {
		justify-content: space-between;
		margin-bottom: 5px;
		margin-right: 0px;
		display: flex;
		.uagb-range-control__inputs {
			display: flex;
		}
		.uagb-range-control__label {
			margin-bottom: 0;
		}
		.uagb-range-control__actions {
			position: relative;
			top: 0px;
			display: flex;
			.uagb-reset {
				padding: 0;
				margin-right: 4px;
			}
			.uagb-range-control__units {
				display: flex;
				align-items: center;
				.components-button {
					font-size: 10px;
					justify-content: center;
					padding: 0;
					text-align: center;
					text-shadow: none;
					text-transform: uppercase;
					width: 100%;
					cursor: pointer;
					padding-right: 4px;
					font-size: 9px;
					&.is-secondary.is-small {
						box-shadow: unset;
					}
					&.is-primary {
						background: unset;
						background-color: unset;
						color: #007cba;
						box-shadow: unset;
					}
					&.is-secondary,
					&.is-tertiary {
						background: unset;
						background-color: unset;
						color: #050505;
					}
					&.is-primary:hover:not(:disabled) {
						background: unset;
						background-color: unset;
						color: #007cba;
					}
				}
				.components-button:last-child {
					padding: 0;
				}
			}
			.components-button.is-secondary:hover:not(:disabled) {
				background: 0 0;
				box-shadow: 0 0;
			}
			.components-button.is-secondary:disabled {
				background: 0 0;
				color: #827d7d;
			}
			.components-button.is-secondary {
				color: #007cba;
				box-shadow: 0 0;
			}
		}
	}

	.uagb-range-control__mobile-controls {
		display: flex;
		width: 100%;
		align-items: center;
		.components-base-control.components-range-control {
			-webkit-tap-highlight-color: transparent;
			box-sizing: border-box;
			align-items: flex-start;
			-webkit-box-pack: start;
			justify-content: flex-start;
			margin-right: 20px;
			position: relative;
			width: 100%;
			margin-bottom: 0;
			max-height: 30px;
			.components-range-control__tooltip {
				left: 45%;
			}
		}
		.components-input-control__container {
			flex: 0 0 0%;
			width: 100%;
		}
		.components-number-control {
			width: 35%;
			margin-left: 10px;
			.components-input-control__input {
				padding: 0 4px !important;
				text-align: center;
			}
		}
	}
}

/*.components-panel__body {
	.components-font-size-picker__controls {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;
		max-width: 248px;
	}
	.components-font-size-picker__select {
		margin-bottom: 0 !important;
		width: 115px;
	}
	.components-font-size-picker__select .components-base-control__field {
		margin-bottom: 0;
	}
	.components-font-size-picker__select .components-base-control__field {
		margin-bottom: 0;
	}
	.components-font-size-picker__select .components-base-control__label {
		display: none;
		margin-bottom: 5px;
		visibility: hidden;
	}
	input[type="number"].uagb-range-control__number {
		border-left: 1px solid #d5dadf;
		-webkit-border-radius: 3px 0 0 3px;
		border-right: 1px solid #d5dadf;
		border-color: #d5dadf;
	}
}*/

/*.components-panel__body {
	.uagb-range-control__mobile-controls-item {
		box-shadow: unset !important;
		border-radius: unset;
		&.uagb-range-control__mobile-controls-item--padding.components-button.is-secondary:active:not(:disabled),
		.uagb-range-control__mobile-controls-item.uagb-range-control__mobile-controls-item--padding.components-button.is-tertiary:active:not(:disabled) {
			background: #fff;
			color: black;
		}
	}
}*/
