.uagb-range-control__mobile-controls {
    display:flex;
    width: 133%;
    margin-left: -6px;
    .components-base-control.components-range-control.css-wdf2ti-Wrapper.e1puf3u0 {
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        align-items: flex-start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-right: 20px;
        position: relative;
        width: 120%;
    }
    .components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
        flex: 0 0 0%;
        width:50%
    }
    .components-range-control__wrapper {
        color: #dadadb;
        span[aria-hidden="true"] {
            background-color:rgb(215, 218, 222);
        }
        span > span[aria-hidden="true"] {
            background-color: rgb(87, 87, 87);
            height:60%;
            width:60%;
        }
    } 
    button[type=button] > span {
        cursor: pointer;
        width: 15px;
        height: 15px;
        font-size: 15px;
    }
}

.components-panel__body .uagb-range-control__header {
    justify-content: space-between;
    margin-bottom: 5px;
    display: flex;
    .uagb-range-control__inputs {
        display: flex;
    }
    .uagb-range-control__label {
        margin-bottom: 0;
    }
    .uagb-range-control__actions {
        position: relative;
        top: -2px;
        display: flex;
        .uagb-range-control__units .components-button {
            font-size: 10px;
            justify-content: center;
            padding: 0;
            text-align: center;
            text-shadow: none;
            text-transform: uppercase;
            width: 25px;
                cursor: pointer;
                padding: 0 2px;
                text-transform: uppercase;
                font-size: 9px;
            &.is-secondary.is-small {
                box-shadow:unset;
            }
            &.is-primary{
                background:unset;
                background-color:unset;
                color:#001ffd;
                box-shadow:unset;
            }
            &.is-secondary, &.is-tertiary{
                     background:unset;
                    background-color:unset;
                    color:#050505;
            }
            &.is-primary:hover:not(:disabled){
                background:unset;
                background-color:unset;
                color: #003bff;
            }
        }
        .components-button.is-secondary:hover:not(:disabled){
            background:0 0;
            box-shadow:0 0;
        }
        .components-button.is-secondary:disabled{
            background:0 0;
        }
        .components-button.is-secondary{
            box-shadow:0 0;
        }
    }
}

.components-panel__body { 
    .components-font-size-picker__controls {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        max-width: 248px
    }
    .components-font-size-picker__select {
        margin-bottom: 0 !important;
        width: 115px
    }
    .components-font-size-picker__select .components-base-control__field {
        margin-bottom: 0
    }
    .components-font-size-picker__select .components-base-control__field {
        margin-bottom: 0
    }
    .components-font-size-picker__select .components-base-control__label {
        display: none;
        margin-bottom: 5px;
        visibility: hidden
    }
    .uagb-range-control__actions .uagb-spacing-reset .dashicons-image-rotate {
        width: 12px;
        height: 12px;
        font-size: 12px;
    }
    input[type="number"].uagb-range-control__number{
        border-left:1px solid #d5dadf;
        -webkit-border-radius: 3px 0 0 3px;
        border-right: 1px solid #d5dadf;
        border-color:#d5dadf;
    }

}

.components-panel__body { 
  .uagb-range-control__mobile-controls-item {
        box-shadow:unset !important;
        border-radius:unset;
        &.uagb-range-control__mobile-controls-item--padding.components-button.is-secondary:active:not(:disabled), .uagb-range-control__mobile-controls-item.uagb-range-control__mobile-controls-item--padding.components-button.is-tertiary:active:not(:disabled){
            background:#fff;
            color:black;
        }
    }
}
