.uagb-range-control {
	width: 100%;
    margin-bottom: 15px;
   
}

.uagb-range-control {
	display: flex;
	align-items: center;
	.components-range-control {
		flex: 1;
		margin: 0 !important;
        .components-range-control__root {
            margin-top: 15px;
            .components-range-control__wrapper {
                color: #dadadb;
                span:nth-child(1) {
                    background-color:#7a7b7e;
                }
            }            
        }
	}

	.components-input-control__container {
		position: relative;
		border-radius: 2px;
		padding-top: 0px;
		box-sizing: border-box;
		display: inline-block;
		font-size: 13px;
		margin-top: 20px;
		width: 55px;
		margin-left: 16px;
	}
    .uagb-spacing-reset.is-secondary.is-small {
        box-shadow:unset;
        background: 0 0;
        padding-bottom:50px;
        padding-left: 208px;
        position: absolute;
    }
    .uagb-spacing-reset.is-secondary.is-small:not([aria-disabled=true]):active{
        cursor:arrow;
        color:#767676;
    }
	.components-base-control__field,
	.components-base-control {
		margin-bottom: 0;
	}

	.components-number-control {
		width: unset;
        margin-right: -17px;
        margin-top: 17px;
	}
}

.uagb-responsive-control-inner .components-button-group.uagb-size-type-field + .uagb-range-control .uagb-spacing-reset.is-secondary.is-small {
    padding-left: 207px;
}

.components-button-group.uagb-size-type-field + .uagb-range-control .uagb-spacing-reset.is-secondary.is-small {
    padding-left: 226px;
}

.uagb-range-control .uagb-spacing-reset.is-secondary.is-small {
    padding-left: 207px;
}