/**
 * Editor styles for the admin
 */

.uagb-post-grid {
	h2 a {
		text-decoration: none;
	}

	a {
		pointer-events: none;
		cursor: default;
	}
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .slick-dots button {
	color: transparent;
}
