/**
 * Editor styles for the admin
 */

.uagb-post-grid {
	h2 a {
		text-decoration: none;
	}

	a {
		pointer-events: none;
		cursor: default;
	}
}

.block-editor-page #wpwrap .edit-post-visual-editor .slick-dots button {
	color: transparent;
}

.block-editor-page #wpwrap .edit-post-visual-editor .uagb-post__image-position-background .uagb-post__image img {
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	max-width: none;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	min-height: 100%;
}
.uagb-post-pagination-wrap {
   a {	   
		outline: none;
		color: #3a3a3a;
		background: #efefef;
		padding: 5px 10px;
		margin: 0 0 5px;
   } 
   li {

		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;

	   span.page-numbers.current {

			color: #3a3a3a;
			background: #0274be;
			display: inline-block;
			padding: 5px 10px;
			margin: 0 0 5px;
			text-decoration: none;

	   }
   }
}
.wp-block-uagb-post-grid.uagb-post-grid .uagb-post-pagination-wrap ul {
	
	list-style: none;
    margin: 0;
    padding: 0;
}