/**
 * Editor styles for the admin
 */

.uagb-post-grid {
	h2 a {
		text-decoration: none;
	}

	a {
		pointer-events: none;
		cursor: default;
	}
}

.block-editor-page #wpwrap .edit-post-visual-editor .slick-dots button {
	color: transparent;
}

.block-editor-page #wpwrap .edit-post-visual-editor .uagb-post__image-position-background .uagb-post__image img {
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	max-width: none;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	min-height: 100%;
}