/**
 * Editor styles for the admin
 */

.editor-styles-wrapper {

	.uagb-blockquote__skin-quotation blockquote.uagb-blockquote {
		vertical-align: baseline;
		padding: 0;
		margin: 0;
		background: transparent;
		border: 0 none;
		outline: 0;
		font-size: 100%;
		font-style: normal;
		quotes: none;
	}

	blockquote.uagb-blockquote {
		padding: 0;
		margin: 0;
	}

	.uagb-blockquote__skin-border blockquote {
		padding-left: 10px;
	}

	.uagb-blockquote__content,
	cite.uagb-blockquote__author,
	.uagb-blockquote__author {
		font-style: normal;
	}

	.uagb-blockquote a {
		box-shadow: none;
		text-decoration: none;
		-webkit-box-shadow: none;
	}

	.uagb-blockquote__tweet-style-classic a.uagb-blockquote__tweet-button,
	.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button {
		color: #fff;
	}

	.uagb-blockquote__align-center a.uagb-blockquote__tweet-button {
		margin: 0 auto;
	}
}

.uagb-editor-preview-mode-tablet {

	.uagb-blockquote__stack-img-tablet footer {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;

		.uagb-blockquote__tweet-button {
			align-self: flex-start;
		}
	}
}

.uagb-editor-preview-mode-mobile {

	.uagb-blockquote__stack-img-mobile footer {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;

		.uagb-blockquote__tweet-button {
			align-self: flex-start;
		}
	}
}
