/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-blockquote {
	padding: 0;
	margin: 0 auto;

	.uagb-blockquote__content,
	cite.uagb-blockquote__author {
	    font-style: normal;
	    display: block;
	}

	cite.uagb-blockquote__author,
	.uagb-blockquote__author {
	    -ms-flex-item-align: center;
    	align-self: center;
	}
	.uagb-blockquote__skin-quotation blockquote.uagb-blockquote{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
		quotes: none;
		border-left: 0 none;
		border-right: 0 none;
		border-top: 0 none;
		border-bottom: 0 none;
		font-style: normal;
	}

	.uagb-blockquote__skin-quotation .uagb-blockquote__icon-wrap{
		position: relative;
		display: inline-block;
    	padding: 0px;
    	z-index: 1;	
	    background: #333;
	    padding: 10px;
	    border-radius: 100%;
	    margin-right: 10px;   
	}

	.uagb-blockquote__skin-quotation .uagb-blockquote__icon{
		height: 25px;
	    width: 25px;
	    display: inline-block;
    	float: left;
	}
	.uagb-blockquote__skin-quotation .uagb-blockquote__icon svg{
		height: inherit;
	    width: inherit;
	    display: inherit;
	}	
	.uagb-blockquote__skin-quotation.uagb-blockquote__style-style_2 .uagb-blockquote__icon-wrap{
		display: inline-block;
	    float: left;
	}

	blockquote.uagb-blockquote {
	    margin: 0;
	    padding: 0;
	}

	.uagb-blockquote__wrap, .uagb-blockquote__wrap * {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.uagb-blockquote__style-style_2 .uagb-blockquote__icon-wrap{
		display: inline-block;
	    float: left;
	    text-align: left;
	}
	
	.uagb-blockquote__separator-parent{
		display: -webkit-box;
	    display: -ms-flexbox;
	    -js-display: flex;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: flex;
	    -webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		justify-content: flex-start;
	}
	
	.uagb-blockquote__with-tweet .uagb-blockquote footer{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	.uagb-blockquote a {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    text-decoration: none;
	}

	/*Twitter icon CSS.*/
	.uagb-blockquote a.uagb-blockquote__tweet-button{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-transition: 0.2s;
	    -o-transition: 0.2s;
	    transition: 0.2s;
	    -webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	    align-self: flex-end;
	    line-height: 1;
	    position: relative;
	    width: -webkit-max-content;
	    width: -moz-max-content;
	    width: max-content;
	    padding: 0;	   	    
	    color: #1DA1F2;	
	    background-color: transparent;  
	    -ms-flex-item-align: center;
    	align-self: center; 
	}
	a.uagb-blockquote__tweet-button svg {
	    height: 15px;
	    width: 15px;
	    margin-right: 5px;
	    fill: #fff;
	}
	a.uagb-blockquote__tweet-button,
	a.uagb-blockquote__tweet-button svg{
		font-style:normal;
	}
	.uagb-blockquote__tweet-icon a.uagb-blockquote__tweet-button svg {
	    margin-right: 0;
	}
	.uagb-blockquote__tweet-icon_text svg {
	    margin-right: 10px;
	}
	.uagb-blockquote__tweet-icon a.uagb-blockquote__tweet-button {
	    padding: 8px;
	}
	.uagb-blockquote__tweet-icon_text a.uagb-blockquote__tweet-button,
	.uagb-blockquote__tweet-text a.uagb-blockquote__tweet-button {
	    padding: 10px 14px;
	}
	.uagb-blockquote__tweet-style-link a.uagb-blockquote__tweet-button{
		padding: 10px 0;
	}
	.uagb-blockquote__tweet-style-classic a.uagb-blockquote__tweet-button,
	.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button{
		background-color: #1DA1F2;
		border-radius: 100em;
		color: #fff;	
	}
	.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before {
	    content: '';
	    border: solid 0.5em transparent;
	    border-right-color: #1DA1F2;
	    position: absolute;
	    left: -0.8em;
	    top: 50%;
	    -webkit-transform: translateY(-50%) scale(1, 0.65);
	    -ms-transform: translateY(-50%) scale(1, 0.65);
	    transform: translateY(-50%) scale(1, 0.65);
	    -webkit-transition: 0.2s;
	    -o-transition: 0.2s;
	    transition: 0.2s;
	}

	.uagb-blockquote__align-right.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before {
	    left: auto;
	    right: -0.8em;
	    -webkit-transform: translateY(-50%) scale(1, 0.65) rotate(180deg);
	    -ms-transform: translateY(-50%) scale(1, 0.65) rotate(180deg);
	    transform: translateY(-50%) scale(1, 0.65) rotate(180deg);	  
	}

	.uagb-blockquote__align-center.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before {
	    left: 50%;
	    top: -0.8em;
	    right: auto;
	    -webkit-transform: translateX(-50%) scale(1, 0.85) rotate(90deg);
	    -ms-transform: translateX(-50%) scale(1, 0.85) rotate(90deg);
	    transform: translate(-50%, 10%) scale(1, 0.85) rotate(90deg);
	}
	
	.uagb-blockquote__with-tweet.uagb-blockquote__align-center .uagb-blockquote footer,
	.uagb-blockquote__align-center .uagb-blockquote footer{
		display: block;
		text-align: center;
	}

	.uagb-blockquote__align-center a.uagb-blockquote__tweet-button{
		display: block;
		text-align: center;
		margin: 0 auto;
		-ms-flex-item-align: center;
    	align-self: center;
	}

	.uagb-blockquote__with-tweet.uagb-blockquote__align-right .uagb-blockquote footer,
	.uagb-blockquote__align-right .uagb-blockquote footer{
		flex-direction: row-reverse;
	}

	/* image */
	.uagb-blockquote__author-image{
		align-self: center;
	}
	.uagb-blockquote__author-image img{
		width: 50px;
   		height: 50px;
    	border-radius: 100%;
    	margin-right:10px;    	
	}

	.uagb-blockquote__author-wrap{
	   	display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
    	flex-direction: row;
	}

	.uagb-blockquote__align-center .uagb-blockquote__author-wrap{
		justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
	}

	.uagb-blockquote__author-wrap .editor-rich-text{
		-ms-flex-item-align: center;
    	align-self: center;
	}

	/* Left Image */
	.uagb-blockquote__author-wrap.uagb-blockquote__author-at-right {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	}

	.uagb-blockquote__align-right .uagb-blockquote__author-wrap.uagb-blockquote__author-at-top {
	    text-align: right;
	}

	.uagb-blockquote__author-wrap.uagb-blockquote__author-at-right .uagb-blockquote__author-image img{
    	margin-left:10px;
    	margin-right:0;
	}

	/* Top Image */
	.uagb-blockquote__author-wrap.uagb-blockquote__author-at-top {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
	    flex-direction: column;
	}
}

@media only screen and (max-width: 976px) {
	.wp-block-uagb-blockquote {
		.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-wrap.uagb-blockquote__author-at-right,
		.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		}
		.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-wrap.uagb-blockquote__author-at-right .uagb-blockquote__author-image img,
		.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left .uagb-blockquote__author-image img{
	    	margin-left:0;
	    	margin-right:0;
	    	margin-bottom: 10px;
		}

		/* Left alignment */
		.uagb-blockquote__stack-img-tablet.uagb-blockquote__with-tweet .uagb-blockquote footer{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		    -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}
		.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left,
		.uagb-blockquote__stack-img-tablet a.uagb-blockquote__tweet-button{
			 -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}

		/* Right ALignment */
		.uagb-blockquote__stack-img-tablet.uagb-blockquote__align-right.uagb-blockquote__with-tweet .uagb-blockquote footer,
		.uagb-blockquote__stack-img-tablet.uagb-blockquote__align-right .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left,
		.uagb-blockquote__stack-img-tablet.uagb-blockquote__align-right a.uagb-blockquote__tweet-button{
			-ms-flex-item-align: flex-end;
    		align-self: flex-end;
		}

		.uagb-blockquote__stack-img-tablet a.uagb-blockquote__tweet-button{
			margin-top: 10px;
		}	

		.uagb-blockquote__align-right.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-image{
			-ms-flex-item-align: flex-end;
		    align-self: flex-end;
		}

		.uagb-blockquote__align-left.uagb-blockquote__stack-img-tablet .uagb-blockquote__author-image{
			-ms-flex-item-align: flex-start;
		    align-self: flex-start;
		}	
		.uagb-blockquote__stack-img-tablet.uagb-blockquote__align-right.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before,
		.uagb-blockquote__stack-img-tablet.uagb-blockquote__align-left.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before {
		    left: 50%;
		    top: -0.8em;
		    right: auto;
		    -webkit-transform: translateX(-50%) scale(1, 0.85) rotate(90deg);
		    -ms-transform: translateX(-50%) scale(1, 0.85) rotate(90deg);
		    transform: translate(-50%, 10%) scale(1, 0.85) rotate(90deg);
		}
	}
}

@media screen and (max-width: 767px) {
	.wp-block-uagb-blockquote {
		.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-wrap.uagb-blockquote__author-at-right,
		.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		}
		.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-wrap.uagb-blockquote__author-at-right .uagb-blockquote__author-image img,
		.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left .uagb-blockquote__author-image img{
	    	margin-left:0;
	    	margin-right:0;
	    	margin-bottom: 10px;
		}

		/* Left alignment */
		.uagb-blockquote__stack-img-mobile.uagb-blockquote__with-tweet .uagb-blockquote footer{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		    -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}
		.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left,
		.uagb-blockquote__stack-img-mobile a.uagb-blockquote__tweet-button{
			 -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}

		/* Right ALignment */
		.uagb-blockquote__stack-img-mobile.uagb-blockquote__align-right.uagb-blockquote__with-tweet .uagb-blockquote footer,
		.uagb-blockquote__stack-img-mobile.uagb-blockquote__align-right .uagb-blockquote__author-wrap.uagb-blockquote__author-at-left,
		.uagb-blockquote__stack-img-mobile.uagb-blockquote__align-right a.uagb-blockquote__tweet-button{
			-ms-flex-item-align: flex-end;
    		align-self: flex-end;
		}
		
		.uagb-blockquote__stack-img-mobile a.uagb-blockquote__tweet-button{
			margin-top: 10px;
		}

		.uagb-blockquote__align-right.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-image{
			-ms-flex-item-align: flex-end;
		    align-self: flex-end;
		}

		.uagb-blockquote__align-left.uagb-blockquote__stack-img-mobile .uagb-blockquote__author-image{
			-ms-flex-item-align: flex-start;
		    align-self: flex-start;
		}
		.uagb-blockquote__stack-img-mobile.uagb-blockquote__align-right.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before,
		.uagb-blockquote__stack-img-mobile.uagb-blockquote__align-left.uagb-blockquote__tweet-style-bubble a.uagb-blockquote__tweet-button:before {
		    left: 50%;
		    top: -0.8em;
		    right: auto;
		    -webkit-transform: translateX(-50%) scale(1, 0.85) rotate(90deg);
		    -ms-transform: translateX(-50%) scale(1, 0.85) rotate(90deg);
		    transform: translate(-50%, 10%) scale(1, 0.85) rotate(90deg);
		}
	}
}