/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-blockquote {
	padding: 0;
	margin: 0 auto;

	.uagb-blockquote__skin-quotation blockquote.uagb-blockquote,
	.uagb-blockquote__skin-clean blockquote.uagb-blockquote{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
		quotes: none;
		border-left: 0 none;
		border-right: 0 none;
		border-top: 0 none;
		border-bottom: 0 none;
		font-style: normal;
	}

	.uagb-blockquote__skin-quotation .uagb-blockquote:before{
		content: "“";
	    font-size: 100px;
	    color: rgb(230, 233, 236);
	    font-family: "Times New Roman", Times, serif;
	    font-weight: 900;
	    line-height: 1;
	    display: block;
	    height: 0.6em;
	}

	blockquote.uagb-blockquote {
	    margin: 0;
	    padding: 0;
	}

	.uagb-blockquote__wrap, .uagb-blockquote__wrap * {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
		
}
