/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-blockquote {
	padding: 0;
	margin: 0 auto;

	.uagb-blockquote__content,
	cite.uagb-blockquote__author {
	    font-style: normal;
	    display: block;
	}

	cite.uagb-blockquote__author {
	    -ms-flex-item-align: center;
    	align-self: center;
	}
	.uagb-blockquote__skin-quotation blockquote.uagb-blockquote{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
		quotes: none;
		border-left: 0 none;
		border-right: 0 none;
		border-top: 0 none;
		border-bottom: 0 none;
		font-style: normal;
	}

	.uagb-blockquote__skin-quotation .uagb-quote__icon-wrap{
		display: inline-block;
		background: #333;
    	padding: 0px;	   
	}
	.uagb-blockquote__skin-quotation span.uagb-quote__icon {
	    width: 45px;
	    height: 45px;
	    line-height: 45px;
	    display: block;
	    text-align: center;
	    border-radius: inherit;
	}

	.uagb-blockquote__skin-quotation span.fa.fa-quote {
	    font-size: 45px;
	    width: 45px;
	    height: 45px;
	}	
	
	.uagb-blockquote__skin-quotation .fa-quote:before{
		content: "“";
	    color: inherit;	 	
	    display: inline-block; 
	    vertical-align: middle;  
	}
	.uagb-blockquote__skin-quotation.uagb-quote__style-style_2 .uagb-quote__icon-wrap{
		display: inline-block;
	    float: left;
	}
	/*.uagb-blockquote__skin-quotation .uagb-blockquote .uagb-quote__icon{
	    font-size: 60px;
	    color: rgb(230, 233, 236);
	    font-family:"Font Awesome 5 Free";
	    font-weight: 900;
	    line-height: 60px;
	    display: block;
	    height: 100%;	
	    display: inline-block;
	    width: 60px;
	    height: 60px;   
	    text-align: center; 
	}
	.uagb-blockquote__skin-quotation .uagb-blockquote .uagb-quote__icon:before{
		content: "“";
	    color: inherit;	 
	    vertical-align: middle;
	}
	.uagb-quote__style-style_2 .uagb-quote__icon{
		display: inline-block;
	    float: left;
	    text-align: left;
	}
	.uagb-quote__style-style_2 .uagb-quote__icon:before {		
	    width: auto;
	    height: auto;
	    line-height: 1em;	    
	}	*/

	blockquote.uagb-blockquote {
	    margin: 0;
	    padding: 0;
	}

	.uagb-blockquote__wrap, .uagb-blockquote__wrap * {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.uagb-quote__style-style_2 .uagb-quote-icon-wrap{
		display: inline-block;
	    float: left;
	    text-align: left;
	}
	
	.uagb-quote__separator-parent{
		display: -webkit-box;
	    display: -ms-flexbox;
	    -js-display: flex;
	    display: -webkit-flex;
	    display: -moz-box;
	    display: flex;
	    -webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		justify-content: flex-start;
	}
	
	.uagb-quote__with-tweet .uagb-blockquote footer{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	.uagb-blockquote a {
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    text-decoration: none;
	}

	/*Twitter icon CSS.*/
	.uagb-blockquote a.uagb-blockquote__tweet-button{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	    -webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	    align-self: flex-end;
	    line-height: 1;
	    position: relative;
	    width: -webkit-max-content;
	    width: -moz-max-content;
	    width: max-content;
	    padding: 0;	   	    
	    color: #1DA1F2;	
	    background-color: transparent;  
	    -ms-flex-item-align: center;
    	align-self: center; 
	}

	a.uagb-blockquote__tweet-button,
	a.uagb-blockquote__tweet-button i{
		font-style:normal;
	}
	.uagb-quote__tweet-icon_text i.fab.fa-twitter {
	    margin-right: 10px;
	}
	.uagb-quote__tweet-icon a.uagb-blockquote__tweet-button {
	    padding: 8px;
	}
	.uagb-quote__tweet-icon_text a.uagb-blockquote__tweet-button,
	.uagb-quote__tweet-text a.uagb-blockquote__tweet-button {
	    padding: 10px 14px;
	}
	.uagb-quote__tweet-style-link a.uagb-blockquote__tweet-button{
		padding: 10px 0;
	}
	.uagb-quote__tweet-style-classic a.uagb-blockquote__tweet-button,
	.uagb-quote__tweet-style-bubble a.uagb-blockquote__tweet-button{
		background-color: #1DA1F2;
		border-radius: 100em;
		color: #fff;	
	}
	.uagb-quote__tweet-style-bubble a.uagb-blockquote__tweet-button:before {
	    content: '';
	    border: solid 0.5em transparent;
	    border-right-color: #1DA1F2;
	    position: absolute;
	    left: -0.8em;
	    top: 50%;
	    -webkit-transform: translateY(-50%) scale(1, 0.65);
	    -ms-transform: translateY(-50%) scale(1, 0.65);
	    transform: translateY(-50%) scale(1, 0.65);
	    -webkit-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	}
	
	.uagb-quote__with-tweet.uagb-quote__align-center .uagb-blockquote footer,
	.uagb-quote__align-center .uagb-blockquote footer{
		display: block;
		text-align: center;
	}

	.uagb-quote__align-center a.uagb-blockquote__tweet-button{
		display: block;
		text-align: center;
		margin: 0 auto;
		-ms-flex-item-align: center;
    	align-self: center;
	}

	.uagb-quote__with-tweet.uagb-quote__align-right .uagb-blockquote footer,
	.uagb-quote__align-right .uagb-blockquote footer{
		flex-direction: row-reverse;
	}

	/* image */
	.uagb-quote__author-image img{
		width: 50px;
   		height: 50px;
    	border-radius: 100%;
    	margin-right:10px;
	}

	.uagb-quote__author-wrap{
	   	display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
    	flex-direction: row;
	}

	.uagb-quote__align-center .uagb-quote__author-wrap{
		justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
	}

	.uagb-quote__author-wrap .editor-rich-text{
		-ms-flex-item-align: center;
    	align-self: center;
	}

	/* Left Image */
	.uagb-quote__author-wrap.uagb-quote__author-at-right {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
	    flex-direction: row-reverse;
	}

	.uagb-quote__align-right .uagb-quote__author-wrap.uagb-quote__author-at-top {
	    text-align: right;
	}

	.uagb-quote__author-wrap.uagb-quote__author-at-right .uagb-quote__author-image img{
    	margin-left:10px;
    	margin-right:0;
	}

	/* Top Image */
	.uagb-quote__author-wrap.uagb-quote__author-at-top {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
	    flex-direction: column;
	}
}

@media only screen and (max-width: 976px) {
	.wp-block-uagb-blockquote {
		.uagb-quote-stack-img-tablet .uagb-quote__author-wrap.uagb-quote__author-at-right,
		.uagb-quote-stack-img-tablet .uagb-quote__author-wrap.uagb-quote__author-at-left{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		}
		.uagb-quote-stack-img-tablet .uagb-quote__author-wrap.uagb-quote__author-at-right .uagb-quote__author-image img,
		.uagb-quote-stack-img-tablet .uagb-quote__author-wrap.uagb-quote__author-at-left .uagb-quote__author-image img{
	    	margin-left:0;
	    	margin-right:0;
	    	margin-bottom: 10px;
		}

		/* Left alignment */
		.uagb-quote-stack-img-tablet.uagb-quote__with-tweet .uagb-blockquote footer{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		    -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}
		.uagb-quote-stack-img-tablet .uagb-quote__author-wrap.uagb-quote__author-at-left,
		.uagb-quote-stack-img-tablet a.uagb-blockquote__tweet-button{
			 -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}

		/* Right ALignment */
		.uagb-quote-stack-img-tablet.uagb-quote__align-right.uagb-quote__with-tweet .uagb-blockquote footer,
		.uagb-quote-stack-img-tablet.uagb-quote__align-right .uagb-quote__author-wrap.uagb-quote__author-at-left,
		.uagb-quote-stack-img-tablet.uagb-quote__align-right a.uagb-blockquote__tweet-button{
			-ms-flex-item-align: flex-end;
    		align-self: flex-end;
		}
		
	}
}

@media screen and (max-width: 767px) {
	.wp-block-uagb-blockquote {
		.uagb-quote-stack-img-mobile .uagb-quote__author-wrap.uagb-quote__author-at-right,
		.uagb-quote-stack-img-mobile .uagb-quote__author-wrap.uagb-quote__author-at-left{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		}
		.uagb-quote-stack-img-mobile .uagb-quote__author-wrap.uagb-quote__author-at-right .uagb-quote__author-image img,
		.uagb-quote-stack-img-mobile .uagb-quote__author-wrap.uagb-quote__author-at-left .uagb-quote__author-image img{
	    	margin-left:0;
	    	margin-right:0;
	    	margin-bottom: 10px;
		}

		/* Left alignment */
		.uagb-quote-stack-img-mobile.uagb-quote__with-tweet .uagb-blockquote footer{
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
		    flex-direction: column;
		    -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}
		.uagb-quote-stack-img-mobile .uagb-quote__author-wrap.uagb-quote__author-at-left,
		.uagb-quote-stack-img-mobile a.uagb-blockquote__tweet-button{
			 -ms-flex-item-align: flex-start;
    		align-self: flex-start;
		}

		/* Right ALignment */
		.uagb-quote-stack-img-mobile.uagb-quote__align-right.uagb-quote__with-tweet .uagb-blockquote footer,
		.uagb-quote-stack-img-mobile.uagb-quote__align-right .uagb-quote__author-wrap.uagb-quote__author-at-left,
		.uagb-quote-stack-img-mobile.uagb-quote__align-right a.uagb-blockquote__tweet-button{
			-ms-flex-item-align: flex-end;
    		align-self: flex-end;
		}
	}
}