.uag-blocks-settings {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    width: 100%;
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
}
.components-toggle-control__label{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-weight-500);
    font-size: 16px;
    line-height: 1.5em;
}
.uag-toggle-field .components-toggle-control {
    width: 100%;
   
    .components-toggle-control__label {
        width: 80%;
    }
}
.uag-extension__metabox .uag-individual-block-settings-metabox a:last-child{
		padding-left: 0px; 
	}

.uag-individual-block-settings-metabox {
    background: var(--metabox-background-color);
    padding: 18px;
    box-shadow: 0px 3px 20px rgba(190, 190, 190, 0.15);
    border-radius: 2px;
    a{
        text-decoration: none;
    }
    a:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid #ddd;
    }
    a:last-child {
        padding-left: 10px;
    }
}

.uag-bulk-blocks-settings-wrap {
    display: grid;
    grid-template-columns: 79% 20%;
    column-gap: 16px;
    padding-bottom: 25px;
    .uag-block-cat-list{
        background-color: #ffffff;
        display: inline-flex;
        list-style:none;
        margin: 0px;
        padding: 6px;
        .uag-block-cat-label{
            font-weight: 500;
            padding: 10px;
        }
        .uag-block-cat{
            margin-bottom: 0px;
            display:inline-block; 
            padding: 10px; 
            position:relative;
            text-transform: capitalize;
            cursor: pointer;
            a{
                color:black;
                padding: 0px 15px;
            }
        }
        .uag-uppercase-cat{
            text-transform: uppercase;
        }
        .uag-block-cat a:active,.uag-block-cat a:hover{
            color: #2271b1;
        }
        .uag-cat-active a {
            color: #2271b1;
            text-decoration: underline;
        }
        .uag-block-cat:not(:last-child)::after{
            content: "";
            border: 1px solid #e2e2e2;
            border-width: 1px 1px 0 0;
            position: relative;
            right: -11px;
            top: 0;
            height: 65%;
          }
    }
    .uag-bulk-blocks-action-btn{
        display: inline-flex;
        justify-content: flex-end;
        .uag-button{
            border: none;
            background-color: #fff;
            color:black;
            padding: 17px;
        }
        .uag-button:hover,
        .uag-button:focus,
        .uag-button:active {
            background:#2271b1;
            color: var(--metabox-background-color);
        }
    }
    
    .components-base-control__field{
        align-items: flex-start;
    }
    .components-toggle-control__label{
        font-size: 16px;
    }
}
