.uag-blocks-settings {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	width: 100%;
	justify-content: center;
	column-gap: 25px;
	row-gap: 25px;
}

.components-toggle-control__label {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-weight-500);
	font-size: 14px;
	line-height: 1.5em;
	font-style: var(--heading-font-style);
}

.uag-toggle-field .components-toggle-control {
	width: 100%;

	.components-toggle-control__label {
		width: 80%;
	}
}

.uag-individual-block-settings-metabox {
	background: var(--metabox-background-color);
	padding: 25px;
	border-radius: 2px;

	a {
		text-decoration: none;
		padding-right: 15px;
		font-weight: var(--heading-weight-400);
		font-family: var(--heading-font-family);
		font-style: var(--heading-font-style);
		font-size: 13px;
	}

	a:not(:last-child)::after {
		content: "";
		border: 1px solid #ddd;
		border-width: 1px 1px 0 0;
		position: relative;
		right: -15px;
		top: 0;
		height: 65%;
	}

	a:last-child {
		padding-left: 15px;
	}
}

.uag-extension__metabox.uag-individual-block-settings-metabox a:last-child {
	padding-left: 0;
}

.uag-bulk-blocks-settings-wrap {
	display: inline-flex;
	width: 100%;
	margin-bottom: 25px;
	background-color: var(--metabox-background-color);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	padding: 0 10px;

	.uag-block-cat-list {
		display: inline-flex;
		list-style: none;
		margin: 0;
		align-items: center;

		.uag-block-cat-label {
			padding: 20px 13px;
			font-family: var(--heading-font-family);
			font-style: var(--heading-font-style);
			font-weight: var(--heading-weight-500);
			font-size: 14px;
		}

		.uag-block-cat {
			margin-bottom: 0;
			display: inline-block;
			text-transform: capitalize;
			cursor: pointer;
			clear: both;
			overflow: hidden;
			white-space: nowrap;
			padding: 20px 13px;
			text-decoration: none;
			color: #3c434a;
			font-weight: var(--heading-weight-400);
		}

		.uag-uppercase-cat {
			text-transform: uppercase;
		}

		.uag-block-cat:active,
		.uag-block-cat:hover {
			color: var(--link-color);
		}

		.uag-cat-active {
			box-shadow: inset 0 -4px 0 -2px #2271b1;
			color: var(--link-color);
			font-weight: var(--heading-weight-400);
			padding: 20px 13px;
		}

		.uag-block-cat:not(:last-child)::after {
			content: "";
			border: 1px solid #ddd;
			border-width: 1px 1px 0 0;
			position: relative;
			top: 0;
			height: 65%;
			right: -13px;
		}
	}

	.uag-bulk-blocks-action-btn {
		display: inline-flex;
		background-color: #fff;
		justify-content: flex-end;
		align-items: center;
		width: 100%;

		.uag-button {
			border: none;
			background-color: #fff;
			color: #3c434a;
			padding: 20px 13px;
			width: 100%;
			font-weight: var(--heading-weight-400);

			&.disabled {
				color: #666;
				cursor: not-allowed;
			}

			&.disabled:hover,
			&.disabled:focus,
			&.disabled:active {
				color: #666;
			}
		}

		.uag-button:hover {
			color: var(--link-color);
		}

		.uag-field:not(:last-child)::after {
			content: "";
			border: 1px solid #ddd;
			border-width: 1px 1px 0 0;
			position: relative;
			top: 20px;
		}
	}

	.components-base-control__field {
		align-items: flex-start;
	}

	.components-toggle-control__label {
		font-size: 16px;
	}
}
