.uag-blocks-settings {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    justify-content: center;
    .components-toggle-control__label{
        font-family: var(--heading-font-family);
        font-weight: var(--heading-weight-500);
        font-size: 16px;
        line-height: 1.5em;
    } 
    .uag-individual-block-settings-metabox {
        background: var(--metabox-background-color);
        padding: 15px;
        margin: 10px;
        box-shadow: 0px 3px 15px rgba(190, 190, 190, 0.08);
        border-radius: 2px;
        a:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid #ddd;
        }
        a:last-child {
            padding-left: 10px;
        }
    }
    .uag-toggle-field .components-toggle-control {
        width: 100%;
        .components-form-toggle {
            width: 10%;
        }
        .components-toggle-control__label {
            width: 80%;
        }
    }
}
.uag-bulk-blocks-settings-wrap {
    margin: 0px 10px 20px 10px;
    display: flex;
    white-space:pre;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    :last-child {
        margin-left: auto;
        display: flex;
    }
    a{
        text-decoration: unset;
        margin-bottom: 0px;
        font-family: var(--heading-font-family);
        font-weight: var(--heading-weight-400);
        font-size: 14px;
        line-height: 1.5em;
    }
    .uag-bulk-blocks-action-btn{
        align-items: center;
        column-gap: 10px;
    }
    
    .components-base-control__field{
        align-items: flex-start;
    }
    .components-toggle-control__label{
        font-size: 16px;
    }
}
@media (min-width: 783px){
    .uag-blocks-settings {
        grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    }
}