
.uag-blocks-nav__contents{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 20px;
	row-gap:20px;
}
.uag-blocks-nav__content {
	padding: 25px;
	background: var(--metabox-background-color);
}
