.uagb-timeline__events-inner-new {
	background-color: #eee;
	border-radius: 2px;
	padding: 20px;
}

.wp-block-uagb-content-timeline {

	svg {
		fill: #333;
		color: #333;
		font-size: 15px;
		width: 15px;
	}
}

.uagb-timeline__field {
	margin-bottom: 15px;
}
