.uagb-timeline__events-inner-new {
    background-color: #eee;
    border-radius: 2px;
    padding: 20px;
}

.uagb-timeline__icon-new svg {
    fill: #333;
}

.uagb-timeline__main .uagb-timeline__icon-new {
    color: #333;
    font-size: 15px;
    width: 15px;
}

.uagb-timeline__field{
    margin-bottom: 15px;
}