.uagb-lottie_upload_wrap {
    padding: 50px;
    background:#eee;
}
.uagb-lottie_upload_wrap-controller .components-placeholder {
 box-shadow: none;
}
.uagb-show-notice {
    padding: 20px;
    background:#eee;
}

