.uagb-lottie_upload_wrap {
    background: #f0f0f0;
    padding: 50px;
    height: auto;
    text-align: center;
    
    .uagb-lottie-upload-heading {
        margin-top: 0;
    }
}

.uagb-lottie-url-input{
    width: 50%;
    margin: 0 auto;
}
