.uagb-lottie_upload_wrap {
    background:#eee;
    padding: 50px;     
}
.uagb-lottie_upload_wrap-controller .components-placeholder {
 box-shadow: none;
}
.uagb-show-notice {
    background:#eee;
    padding: 20px;
}

