.editor-styles-wrapper [data-type="uagb/demo-control"] .uagb-notice-title {
	margin:0;
}
.uagb-advanced-color-settings-container {
    display: flex;
    align-items: center;
}
.uagb-beside-color-click {
    display: flex;
    align-items: center;
}
.uagb-advanced-color-settings-container .uagb-color-icon-indicate {
    height: auto;
    position: relative;
    transform: scale(1);
    transition: transform .1s ease;
    border-radius: 50%;
    padding: 0;
}
.uagb-advanced-color-settings-container .uagb-has-alpha {
    background-image: linear-gradient(
45deg
, #ddd 25%, transparent 0),linear-gradient(
-45deg
, #ddd 25%, transparent 0),linear-gradient(
45deg
, transparent 75%, #ddd 0),linear-gradient(
-45deg
, transparent 75%, #ddd 0);
    background-size: 10px 10px;
    background-position: 0 0,0 5px,5px -5px,-5px 0;
}
.uagb-advanced-color-settings-container .uagb-color-icon-indicate .component-color-indicator.uagb-advanced-color-indicate {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0;
}
.uagb-advanced-color-settings-container h2.uagb-beside-color-label {
    flex-grow: 1;
    font-weight: 400;
}

/* Alignment control*/
.uagb-advanced-toolbar-control .components-base-control__field {
    margin-bottom: 24px;
}

.uagb-base-control-multi-label {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 10px;
    align-items: center;
}

.uagb-advanced-toolbar-control .components-button-group.uagb-toolbar--full-width {
    display: flex;
    flex-wrap: nowrap;
}

.uagb-advanced-toolbar-control .components-button-group {
    width: 100%;
}

.uagb-advanced-toolbar-control .components-button-group.uagb-toolbar--full-width>button, .uagb-advanced-toolbar-control .components-button-group.uagb-toolbar--full-width>button>svg {
    width: 100%!important;
}

button.components-button.uagb-button-component.has-icon {
    border-left:1px solid #b2adad;
}

button.components-button.uagb-button-component.has-icon[value="left"] {
    border-left:0px
}

button.components-button.uagb-button-component.has-icon {
    box-shadow: unset;
    box-shadow: unset;
}
/* alignment */
.uagb-toolbar--full-width {
    border: solid 1px #a4afb7;
	&:focus:not(:disabled){
		box-shadow:unset;
        background:unset;
	}
	&.components-button-group { 
		.uagb-button-component {
			border-right: none;
			font-size: 12px;
			cursor: pointer;
            &:hover, &[aria-expanded=true]{
                color:#000;
            }
		}
	}
	.uagb-button-component.is-primary.has-icon {
		color: #fff;
		background-color: #a4afb7;
		border-color: #a4afb7;
	}	
	.components-button.is-primary:focus:not(:disabled){
		box-shadow:unset;
	}
 }
 /* toggle */
 .uag-toggle-wrap {
    display:flex;
}

label.uag-toggle-label {
    margin-right:133px
}

/* border */
.uag-border-wrap {
    display:flex;
}

label.uag-border-label {
    margin-right:130px
}
/* background */
.uag-background-wrap {
    display:flex;
}

label.uag-background-label {
    margin-right:47px
}
/* Image Position */
.uag-image-position-wrap {
    display:flex;
}

label.uag-image-position-label {
    margin-right:64px
}
/* image-attachment */
.uag-image-attachment-wrap {
    display:flex;
}

label.uag-image-attachment-label {
    margin-right:42px
}

.uag-image-attachment-wrap .components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
    margin-right:72px;
}
/* Image repeat */
.uag-image-repeat-wrap {
    display:flex;
}

label.uag-image-repeat-label {
    margin-right:69px
}
.uag-image-repeat-wrap .components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
    margin-right:70px;
}
/* Image size */
.uag-image-size-wrap {
    display:flex;
}

label.uag-image-size-label {
    margin-right:85px
}
.uag-image-size-wrap .components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
    margin-right:65px;
}
/* Image overlay */
.uag-image-overlay-wrap {
    display:flex;
}

label.uag-image-overlay-label {
    margin-right:33px
}
.uag-image-overlay-wrap .components-input-control__container.css-bmkl3j-Container.e1cr7zh11 {
    margin-right:59px;
}
/* Multi Button */
.components-button-group {
    display:flex;
}

button.components-button.is-secondary {
    box-shadow:inset 0 0 0 1px #8f9395;
}

.components-button.is-secondary:hover:not(:disabled), .components-button.is-tertiary:hover:not(:disabled){
    color:#000;
    box-shadow:inset 0 0 0 1px #8f9395;
}
.components-button.is-secondary, .components-button.is-tertiary{
    color:#000;
}

.components-button.is-primary:focus:not(:disabled){
    box-shadow:unset;
}
/* Box position */
/* Image size */
.uag-box-position-wrap {
    display:flex;
}

label.uag-box-position-label {
    margin-right:85px
}

span.dashicon.dashicons.dashicons-image-rotate {
    height: 16px;
   font-size: 14px;
}