/**
 * Editor styles for the admin
 */

.uagb-buttons__outer-wrap {
	.uagb-button__wrapper  {
	    display: flex;
	}
}

.editor-url-input input[type=text] {
	width: 100%;
}

[data-type="uagb/buttons"] .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
}

[data-type="uagb/buttons"] .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
	width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
