/**
 * Editor styles for the admin
 */

.wp-block[data-type="uagb/buttons"][data-btn-width="full"] {
	.block-editor-inner-blocks,
	.wp-block[data-type="uagb/buttons-child"] {
		width: 100%;
	}
}

.uagb-buttons__outer-wrap .block-editor-inner-blocks {
	width: 100%;

	.block-editor-block-list__layout {
		display: inline-flex;
	}
}

.uagb-buttons__outer-wrap {
	.uagb-buttons__wrap .block-editor-block-list__layout .block-list-appender {
		margin-right: -60px !important;
	}

	&.uagb-btn__small-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 5px 10px;
	}

	&.uagb-btn__medium-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 12px 24px;
	}

	&.uagb-btn__large-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 20px 30px;
	}

	&.uagb-btn__extralarge-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 30px 65px;
	}

	@media ( max-width: 976px ) {
		&.uagb-btn-tablet__small-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 5px 10px;
		}

		&.uagb-btn-tablet__medium-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 12px 24px;
		}

		&.uagb-btn-tablet__large-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 20px 30px;
		}

		&.uagb-btn-tablet__extralarge-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 30px 65px;
		}
	}

	@media ( max-width: 767px ) {
		&.uagb-btn-mobile__small-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 5px 10px;
		}

		&.uagb-btn-mobile__medium-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 12px 24px;
		}

		&.uagb-btn-mobile__large-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 20px 30px;
		}

		&.uagb-btn-mobile__extralarge-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 30px 65px;
		}
	}
}
