/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-buttons__outer-wrap {

	.uagb-buttons__wrap {
		display: inline-flex;
		width: 100%;
	}

	a {
		color: inherit;
	}

	&.uagb-btn__small-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 5px 10px;
	}

	&.uagb-btn__medium-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 12px 24px;
	}

	&.uagb-btn__large-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 20px 30px;
	}

	&.uagb-btn__extralarge-btn .uagb-buttons-repeater.wp-block-button__link {
		padding: 30px 65px;
	}

	@media (max-width: 976px) {

		&.uagb-btn-tablet__small-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 5px 10px;
		}
	
		&.uagb-btn-tablet__medium-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 12px 24px;
		}
	
		&.uagb-btn-tablet__large-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 20px 30px;
		}
	
		&.uagb-btn-tablet__extralarge-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 30px 65px;
		}

	}

	@media (max-width: 767px) {

		&.uagb-btn-mobile__small-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 5px 10px;
		}
	
		&.uagb-btn-mobile__medium-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 12px 24px;
		}
	
		&.uagb-btn-mobile__large-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 20px 30px;
		}
	
		&.uagb-btn-mobile__extralarge-btn .uagb-buttons-repeater.wp-block-button__link {
			padding: 30px 65px;
		}

	}

}
