/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-buttons__outer-wrap {

	.uagb-buttons__wrap {
		display: inline-flex;
		width: 100%;
	}
	a {
		color: inherit;
	}
	.uagb-btn__small-btn .uagb-buttons-repeater {
		padding: 5px 10px;
	}

	.uagb-btn__medium-btn .uagb-buttons-repeater {
		padding: 12px 24px;
	}

	.uagb-btn__large-btn .uagb-buttons-repeater {
		padding: 20px 30px;
	}

	.uagb-btn__extralarge-btn .uagb-buttons-repeater {
		padding: 30px 65px;
	}

}
