/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-buttons__outer-wrap {

	.uagb-buttons__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.uagb-button__wrapper .uagb-button__link:not(.wp-block-button__link) {
	    width: 100%;
		text-decoration: none;
		font-family: inherit;
		line-height: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	.uagb-button__wrapper .uagb-button__link:not(.wp-block-button__link),
	.uagb-button__wrapper:hover .uagb-button__link:not(.wp-block-button__link) {
		text-decoration: none;
	}
}