/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-uagb-cf7-styler {

	.wpcf7 *,
	.wpcf7 ::after,
	.wpcf7 ::before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	span.wpcf7-list-item-label::before,
	span.wpcf7-list-item-label::after {
		content: " ";
	}

	.wpcf7-acceptance input[type="checkbox"] + span::before,
	.wpcf7-checkbox input[type="checkbox"] + span::before,
	.wpcf7-radio input[type="radio"] + span::before {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		margin-right: 10px;
		border-color: #eaeaea;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		text-align: center;
		content: "";
	}

	span.wpcf7-list-item {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	.wpcf7-acceptance input[type="checkbox"]:checked + span::before,
	.wpcf7-checkbox input[type="checkbox"]:checked + span::before {
		line-height: 1.2;
		content: "\2714";
	}

	.wpcf7-acceptance input[type="checkbox"] + span::before,
	.wpcf7-acceptance input[type="checkbox"]:checked + span::before,
	.wpcf7-checkbox input[type="checkbox"] + span::before,
	.wpcf7-checkbox input[type="checkbox"]:checked + span::before,
	.wpcf7-radio input[type="radio"] + span::before {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	input[type="checkbox"]:checked + span::before {
		font-size: -webkit-calc(12px / 1.2);
		font-size: calc(12px / 1.2);
	}

	.wpcf7-radio input[type="radio"] + span::before {
		-webkit-border-radius: 100%;
		border-radius: 100%;
	}

	.uagb-cf7-styler__field-style-box .wpcf7-radio input[type="radio"]:checked + span::before,
	.uagb-cf7-styler__field-style-underline .wpcf7-radio input[type="radio"]:checked + span::before {
		box-shadow: inset 0 0 0 4px #fafafa;
		background-color: #545454;
	}

	/* Submit button */
	.uagb-cf7-styler__btn-align-justify input.wpcf7-form-control.wpcf7-submit,
	.uagb-cf7-styler__btn-align-left input.wpcf7-form-control.wpcf7-submit,
	.uagb-cf7-styler__btn-align-right input.wpcf7-form-control.wpcf7-submit,
	.uagb-cf7-styler__btn-align-center input.wpcf7-form-control.wpcf7-submit {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		width: auto;
		padding: 10px 25px;
		background: transparent;
		border-color: #333;
		border-width: 1px;
		line-height: 16px;
		-js-display: flex;
	}

	.uagb-cf7-styler__btn-align-right input.wpcf7-form-control.wpcf7-submit {
		margin-right: 0;
		margin-left: auto;
	}

	.uagb-cf7-styler__btn-align-left input.wpcf7-form-control.wpcf7-submit {
		margin-right: auto;
		margin-left: 0;
	}

	.uagb-cf7-styler__btn-align-center input.wpcf7-form-control.wpcf7-submit {
		margin-right: auto;
		margin-left: auto;
	}

	.uagb-cf7-styler__btn-align-justify input.wpcf7-form-control.wpcf7-submit {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		justify-content: center;
		width: 100%;
	}

	.wpcf7 input[type=checkbox],
	.wpcf7 input[type=radio] {
		display: none;
	}

	.wpcf7 select {
		height: auto;
		padding: 10px;
		-webkit-appearance: menulist-button;
		-moz-appearance: menulist-button;
	}

	select.wpcf7-form-control.wpcf7-select[multiple="multiple"] {
		padding: 0;
	}

	.wpcf7 select option {
		padding: 10px;
	}

	/* Form validation */
	.uagb-cf7-styler__highlight-style-bottom_right span.wpcf7-not-valid-tip {
		top: 100%;
		right: 0;
		display: inline-block;
		float: right;
		padding: 5px 10px;
		margin-top: 5px;
		background-color: rgba(255, 0, 0, 0.6);
		border-radius: 2px;
		color: #fff;
		font-size: 15px;
		-webkit-border-radius: 2px;
	}

	.wpcf7 input[type="number"] {
		height: auto;
	}

	.wpcf7 input.wpcf7-date {
		-webkit-appearance: none;
	}
}

@media (min-width: 769px) {

	.wp-block-uagb-cf7-styler {

		.uagb-cf7_styler-col {
			-js-display: flex;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
		}

		.uagb-cf7_styler-col label,
		.uagb-cf7_styler-col > span {
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			-moz-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			flex-basis: 100%;
		}

		.uagb-cf7_styler-col br {
			display: none;
		}

		.uagb-cf7_styler-col > span.uagb-cf7_styler-col-1 {
			padding-right: 15px;
			padding-left: 0;
		}

		.uagb-cf7_styler-col > span.uagb-cf7_styler-col-3 {
			padding-right: 0;
			padding-left: 15px;
		}

		.wpcf7 .uagb-cf7_styler-col span.wpcf7-form-control-wrap {
			height: 100%;
		}

		.wpcf7 .uagb-cf7_styler-col select {
			height: 100%;
		}
	}
}
