.uagb-confirm-rollback-popup {
	position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	display: none;
}
.uagb-confirm-rollback-popup__content {
	top: 40%;
    left: 35%;
    right: 35%;
	margin: auto;
    width: 375px;
	background-color: var(--metabox-background-color);
    position: absolute;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.uagb-confirm-rollback-popup__header {
	font-size: 15px;
    color: #495157;
    padding: 30px 0 10px;
    font-weight: var(--heading-weight-500);
	text-align: center;
}
.uagb-confirm-rollback-popup__message {
	font-size: 12px;
    line-height: 1.55em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	padding: 0 30px 30px;
    min-height: 50px;
	text-align: center;
}
.uagb-confirm-rollback-popup__buttons-wrapper {
	border-top: 1px solid #e6e9ec;
    text-align: center;
	display: inline-flex;
    width: 100%;
}
.uagb-confirm-rollback-popup__button.confirm-ok {
    color:var(--link-color);
}
.uagb-confirm-rollback-popup__button {
	font-family: var(--heading-font-family);
    width: 50%;
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    padding: 13px 0;
    outline: 0;
}
.uagb-confirm-rollback-popup__button:hover {
	background:#e6e9ec6b
}
.uagb-confirm-rollback-popup__button.confirm-cancel {
	border-right: 1px solid #e6e9ec;
}
.uagb-confirm-rollback-popup.show {
	display: block;
}
@media screen and (max-width: 960px){
    .uagb-confirm-rollback-popup__content {
        top: 40%;
        left: 20%;
        right: 20%;
        width: auto;
    }
}