.uag-general-settings__form-table {
	min-width: 200px;
	height: 34px;
	line-height: 34px;
	text-align: left;
}

// Common settings for setting page
.uag-general-settings__form-table th {
	padding: 15px 10px 15px 0;
}
.uag-field-row-rollback_to_previous_version {
	.uag-field__data {
		display: block;
	}
	.uag-field__data--label {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 10px;
	}
}
.uag-version-control-button{
	padding: 15px;
}