
.uag-field-row-rollback_to_previous_version {
	.uag-field__data {
		display: block;
	}
	.uag-field__data--label {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 10px;
	}
}
.uag-version-control-button{
	background-color: #F9FBFD;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: -25px;
	margin-top:10px;
    padding: 20px;
	column-gap: 25px;
	.uag-button{
		margin-top: 15px;
		margin-bottom:15px;
	}
}
.uag-version-control__elements{
	display: grid;
	justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	column-gap: 20px;
	.uag-version-control__element{
		box-shadow: 0px 3px 15px rgba(190, 190, 190, 0.08);
		border-radius: 2px;
		background: var(--metabox-background-color);
		text-align: left;
		padding: 25px;
		padding-bottom: 0px;
		margin-bottom: 50px;
	}
}