/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-advanced-heading {
	padding: 0;
	margin: 0 auto;

	.uagb-heading-text {
		margin: 0;
	}

	.uagb-separator {
		font-size: 0;
		border-top-style: solid;
		display: inline-block;
		margin: 0 0 10px 0;
	}
	.uagb-highlight {
		color: #f78a0c;
		transition: all .3s ease;
	}
}
