.uagb-post__image-position-background {
    .uagb-post__image img {

		position: absolute;
		width: auto;
		height: auto;
		min-width: 100%;
		max-width: none;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		min-height: 100%;
	}

	.uagb-post__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		text-align: center;
		position: relative;
	}

	.uagb-post__image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.uagb-post__image::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba( 255,255,255,0.5 );
	}
}
.uagb-post__image {

    img {
        display: block;
        width: 100%;
    }
}