.uagb-post__image-position-background {

	.uagb-post__image img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		max-width: none;
		min-width: 100%;
		min-height: 100%;
		transform: translate(-50%, -50%);
	}


	.uagb-post__image {
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		overflow: hidden;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	.uagb-post__image::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.5);
		content: "";
	}
}

.uagb-post__image {

	img {
		display: block;
		width: 100%;
	}
}
