/**
 * Editor styles for the admin
 */

 .uagb-buttons__outer-wrap {
	.uagb-button__wrapper div {
	    display: inline-flex;
	}
}

.editor-url-input input[type=text] {
	width: 100%;
}
.uagb-buttons__wrap .block-list-appender {
    margin-top: 0;
}