.uagb-buttons-repeater {
    display: inline-flex;
    a.uagb-button__link {
        display: flex;
        justify-content: center;
    }
    .uagb-button__icon {
        font-size: inherit;
        display: flex;
        align-items: center;
        width: 15px;

        svg {
            fill: currentColor;
            width: inherit;
            height: inherit;
        }
    }
}