.uagb-buttons-repeater {
	display: flex;
	justify-content: center;
	align-items: center;

	a.uagb-button__link {
		display: flex;
		justify-content: center;
	}

	.uagb-button__icon {
		font-size: inherit;
		display: flex;
		align-items: center;

		svg {
			fill: currentColor;
			width: inherit;
			height: inherit;
		}
	}
}

// This helps to fix alignment of gradient control input fields.
.uagb-gradient-picker .components-flex.components-custom-gradient-picker__ui-line {
	align-items: first baseline;
}
