.uagb-buttons-repeater {
	display: flex;
	justify-content: center;
	align-items: center;

	a.uagb-button__link {
		display: flex;
		justify-content: center;
	}

	.uagb-button__icon {
		font-size: inherit;
		display: flex;
		align-items: center;

		svg {
			fill: currentColor;
			width: inherit;
			height: inherit;
		}
	}
}
