@import "../../styles/variables";

.uag-border-select-control {

	&.components-base-control {

		h2 {
			font-weight: $spectra-font-weight-label;
			color: $spectra-color-body;
			margin: 0 0 $spectra-control-vertical-gap;
		}
	}

	// Border Style Label.
	.uag-border-type {

		label.components-input-control__label {
			color: $spectra-color-body;
			margin-bottom: 0;
		}
	}

	.uag-border-type .components-select-control {
		align-items: center;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.uag-border-width,
	.uag-border-radius,
	.uag-border-color,
	.uag-border-hv-color {
		margin-top: $spectra-control-vertical-gap;
	}

	.uag-border-radius {
		margin-bottom: $spectra-control-vertical-gap;
	}
}
