/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uagb-testinomial-content-wrap .components-button,
.uagb-testinomial-content-wrap .components-button:hover,
.uagb-testinomial-content-wrap .components-button:focus:enabled{
    background-color: transparent;
    color:#333;
    box-shadow: none;
    border:none;
    outline: none;
    outline-offset: -2px;
}