/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uagb-icon-wrap .uagb-icon {
    display: inline-block;
}

.uagb-testimonial-imgicon-style-circle .uagb-testinomial-image-content img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.uagb-testimonial-imgicon-style-square .uagb-testinomial-image-content img {
    border-radius: 0%;
    -webkit-border-radius: 0%;
}

 .uagb-testinomial-image-content img,
 .uagb-testimonial-imgicon-style-circle .components-button svg{
  display : inline-block;
  box-sizing : content-box;
}

.uagb-testinomial-author-name,
.uagb-testinomial-designation{
  display: inline-block;;
}