/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .uagb-slick-carousel {
 	padding: 45px;
 }

.uagb-testimonial__wrap{
    position:relative;
}
.uagb-testimonial__wrap,
.uagb-testimonial__wrap *{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.uagb-icon-wrap .uagb-icon {
    display: inline-block;
}
.uagb-tm__image{
    position:relative;
}
.uagb-tm__imgicon-style-circle .uagb-tm__image img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.uagb-tm__imgicon-style-square .uagb-tm__image img {
    border-radius: 0%;
    -webkit-border-radius: 0%;
}
.uagb-tm__image img,
.slick-slide .uagb-tm__image img {
    display: inline-block;
    box-sizing: content-box;
}
.uagb-tm__author-name,
.uagb-tm__company {
    display: inline-block;
}

.uagb-tm__content {
    overflow: hidden;
    text-align: center;
    word-break: break-word;
    padding:15px;
    border-radius:inherit;
    position: relative;
}
.uagb-tm__image-position-left .uagb-tm__content,
.uagb-tm__image-position-right .uagb-tm__content{
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}
.uagb-tm__meta-inner {
    display: inline-block;
}
.uagb-tm__image-position-bottom .uagb-tm__image-content,
.uagb-tm__image-position-bottom .uagb-testimonial-details {
    display: table-cell;
    vertical-align: middle;
}
.uagb-tm__meta {
    width: 100%;
    line-height: 1;
}
.uagb-tm__image-position-bottom .uagb-tm__image-content {
    padding-right: 10px;
}
.uagb-tm__author-name, .uagb-tm__company {
    display: block;
}

.uagb-tm__image-aligned-middle .uagb-tm__image-content{
-ms-flex-item-align: center;
    align-self: center;
}
.uagb-tm__desc{
    margin-bottom: 15px;
}
.uagb-tm__author-name{
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1em;
}
.uagb-tm__company{
    font-size:15px;
    font-style: italic;
    line-height: 1em;
    color: #888888;
}

.is-carousel .uagb-testomonial__outer-wrap{
    padding-left: 10px;
    padding-right: 10px;
}

.uagb-tm__overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:transparent;
}
.uagb-slick-carousel{
    padding:45px;
}
.uagb-tm__text-wrap{
    position: relative;
}
.uagb-tm__items{
    visibility:hidden;
}
.uagb-tm__items.slick-initialized {
    visibility: visible;
}

@media(max-width:976px) {
    .uagb-tm__image-position-bottom .uagb-tm__image-content,
    .uagb-tm__image-position-bottom .uagb-testimonial-details {
        display: block;
        vertical-align: middle;
    }
    .uagb-tm__image-position-left .uagb-tm__content,
    .uagb-tm__image-position-right .uagb-tm__content{
        display: block;
        -js-display: block;
        display: block;
    }

    .uagb-tm__image-position-right.uagb-tm-stacked-tablet.uagb-tm-reverse-order-tablet .uagb-tm__content{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        -js-display: inline-flex;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    }
}

@media(max-width:768px) {
    .uagb-tm__image-position-bottom .uagb-tm__image-content,
    .uagb-tm__image-position-bottom .uagb-testimonial-details {
        display: block;
        vertical-align: middle;
    }
    .uagb-tm__image-position-left .uagb-tm__content,
    .uagb-tm__image-position-right .uagb-tm__content{
        display: block;
        -js-display: block;
        display: block;
    }

    .uagb-tm__image-position-right.uagb-tm-stacked-mobile.uagb-tm-reverse-order-mobile .uagb-tm__content{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        -js-display: inline-flex;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
    }
}

/* -------- Slick CSS */

.uagb-slick-carousel .slick-prev,
.uagb-slick-carousel .slick-next,
.uagb-slick-carousel .slick-prev:hover,
.uagb-slick-carousel .slick-next:hover,
.uagb-slick-carousel .slick-prev:focus,
.uagb-slick-carousel .slick-next:focus {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: auto;
    height: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #aaa;
    border: 1px solid #aaa;
    outline: none;
    background: transparent;
}

.uagb-slick-carousel .slick-prev:before,
.uagb-slick-carousel .slick-next:before {
    font-size: 35px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uagb-slick-carousel .slick-prev {
    left: -45px;
    z-index: 1;
    padding: 5px 10px;
    border-radius:0;
}

[dir="rtl"] .uagb-tm__arrow-outside.uagb-slick-carousel .slick-prev {
    left: auto;
    right: -45px;
}

.uagb-slick-carousel .slick-prev:before {
    content: '';
    font-size: 0;
    line-height: 0;
}

[dir="rtl"] .uagb-slick-carousel .slick-prev:before {
    content: '';
    font-size: 0;
    line-height: 0;
}

.uagb-tm__arrow-outside.uagb-slick-carousel .slick-next {
    right: -45px;
    padding: 5px 10px;
    border-radius:0;
}

[dir="rtl"] .uagb-tm__arrow-outside.uagb-slick-carousel .slick-next {
    left: -45px;
    right: auto;
    padding: 5px 10px;
}
.uagb-slick-carousel .slick-next:before {
    content: '';
    font-size: 0;
    line-height: 0;
}

[dir="rtl"] .uagb-slick-carousel .slick-next:before {
    content: '';
    font-size: 0;
    line-height: 0;
}

.uagb-slick-carousel .slick-prev i,
.uagb-slick-carousel .slick-next i,
.uagb-slick-carousel .slick-prev i:hover,
.uagb-slick-carousel .slick-next i:hover,
.uagb-slick-carousel .slick-prev i:focus,
.uagb-slick-carousel .slick-next i:focus {
    font-size: 20px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6em;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.uagb-slick-carousel ul.slick-dots {
    padding-top: 0;
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 0px;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    text-align: center;
}

.uagb-slick-carousel ul.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.uagb-slick-carousel ul.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.uagb-slick-carousel ul.slick-dots li button:before {
	font-family: Font Awesome\ 5 Free;
	content: '\f111';
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:900;
}

.uagb-slick-carousel ul.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.uagb-tm__arrow-inside.uagb-slick-carousel .slick-prev {
    left: 25px;
    z-index: 1;
}

[dir="rtl"] .uagb-tm__arrow-inside.uagb-slick-carousel .slick-prev {
    left: auto;
    right: 25px;
}

.uagb-tm__arrow-inside.uagb-slick-carousel .slick-next {
    right: 25px;
}

[dir="rtl"] .uagb-tm__arrow-inside.uagb-slick-carousel .slick-next {
    left: 25px;
    right: auto;
}

@media (max-width: 1024px) {

    .uagb-tm__arrow-outside.uagb-slick-carousel .slick-prev {
        left: 15px;
        z-index: 1;
    }

    [dir="rtl"] .uagb-tm__arrow-outside.uagb-slick-carousel .slick-prev {
        left: auto;
        right: 15px;
    }

    .uagb-tm__arrow-outside.uagb-slick-carousel .slick-next {
        right: 15px;
    }

    [dir="rtl"] .uagb-tm__arrow-outside.uagb-slick-carousel .slick-next {
        left: 15px;
        right: auto;
    }

}
