.uagb-countdown__datetime-picker {

	// UTC Notice.
	.uagb-countdown-settings_utc-notice {
		margin-right: unset;
		margin-left: unset;
		padding-right: unset;
		padding-bottom: unset;
		margin-bottom: 1.5em;

		.components-notice__content {
			margin-right: unset;
		}
	}

	h3.components-heading {
		margin-bottom: unset;
	}

	// Help note.
	.components-datetime__calendar-help {

		.components-heading {
			margin-bottom: 1.5em;
		}

		ul:not(:last-child) {
			margin-bottom: 1.5em;
		}
	}
}
