// The following selector is needed so as to create some space around the gutenberg selector,
// as it makes the block selectable and provides better editing experience
// while editing the Countdown innerblocks for 'Replace With Content' expiry option.
[data-type="uagb/countdown"] {
	padding: 10px 0;
}

.uagb-countdown__datetime-picker {
	// UTC Notice.
	.uagb-countdown-settings_utc-notice {
		margin-right: unset;
		margin-left: unset;
		padding-right: unset;
		padding-bottom: unset;
		margin-bottom: 1.5em;

		.components-notice__content {
			margin-right: unset;
		}
	}

	h3.components-heading {
		margin-bottom: unset;
	}

	// Help note.
	.components-datetime__calendar-help {
		.components-heading {
			margin-bottom: 1.5em;
		}

		ul:not( :last-child ) {
			margin-bottom: 1.5em;
		}
	}
}

// Toolbar.
.uagb-countdown-pro-toolbar {
	.components-toolbar-button {
		font-weight: bold;

		&:focus {
			&::before {
				box-shadow: unset;
			}
		}
	}
}
