/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

/* ------------------------------------------------------------------------------------------------*/
/* Gutenberg Reset CSS */
.block-editor-block-inspector {
	.uagb-inspector-tab {
		.components-panel__body {
			> .components-base-control {
				margin-bottom: 24px;

				.components-base-control,
				.components-base-control__field {
					margin-bottom: 0;
				}
			}

			> .components-base-control:last-child {
				margin-bottom: 0;
			}
			/* Gutenberg DatePicker CSS */
			.components-datetime {
				.components-datetime__buttons {
					margin: 10px 0 10px 0;
					/* Unset box-shadow */
					.components-button:focus:not(:disabled) {
						box-shadow: unset;
					}
				}
			}
		}
	}
}

/* Reset CSS*/
.components-panel__body
	.uagb-control__header
	.uagb-control__actions
	.uagb-reset {
	padding: 0;
	margin-right: 4px;
}
/* Spacing control Units CSS*/
.components-panel__body
	.uagb-control__header
	.uagb-control__actions
	.uagb-spacing-control__units {
	display: flex;
	align-items: center;
}
/* UAG Control Label CSS*/
.uag-control-label,
.uagb-inspector-tab .components-base-control__label,
.uagb-inspector-tab .components-panel__body label,
.uagb-extention-tab label {
	font-size: 13px;
	line-height: 1.4;
}
/* Panel Body CSS*/
.uagb-inspector-tab,
[data-uagb-tab] {
	.components-panel__body-title .components-button {
		font-size: 14px;
	}
}
/* GB Select Control CSS*/
.uagb-inspector-tab .components-select-control {
	height: auto;
	.components-input-control__label {
		padding-bottom: 8px !important;
	}
	.components-select-control__input {
		font-size: 12px !important;
		line-height: 2 !important;
	}
}

/* Tabs Pabel CSS for .uagb-size-type-field-tabs START*/
.uagb-size-type-field-tabs .components-tab-panel__tabs {
	z-index: unset;
}

.uagb-size-type-field-tabs .components-tab-panel__tabs {
	display: block;
	border-bottom: 0;
	text-align: right;
	padding-right: 28px;
	margin-right: 45px;
	margin-bottom: -20px;
	display: block;
}
.uagb-size-type-field-tabs .components-tab-panel__tabs button svg,
.uagb-size-type-field-tabs .uag-responsive-label-wrap svg {
	width: 10px;
	height: 10px;
}

.uagb-size-type-field-tabs .components-tab-panel__tabs button {
	border: 0;
	border-bottom: 0;
	padding: 4px;
	margin-bottom: 0;
	outline: 0;
	width: auto;
	font-size: 8px;
	background: transparent;
	color: #999;
	display: inline-block;
	height: 16px;
	width: 22px;
	margin-right: 3px;
}

.uagb-size-type-field-tabs .components-tab-panel__tabs button.active-tab,
.uagb-size-type-field-tabs .components-tab-panel__tabs button.active-tab:focus {
	box-shadow: none;
	color: #007cba;
	box-shadow: none;
	border-radius: 100%;
	padding: 0;
	margin: 0;
	line-height: 0;
}

.uagb-size-type-field-tabs
	.components-tab-panel__tabs
	button
	span.dashicon.dashicons {
	font-size: 15px;
}

.uagb-control__actions .uagb-size-type-field-tabs {
	margin: 0;
}
/* Tabs Pabel CSS for .uagb-size-type-field-tabs END*/
/* ------------------------------------------------------------------------------------------------*/

.uagb-inspect-tabs .components-tab-panel__tabs button {
	padding: 10px;
	background: transparent;
	color: #333;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #eee;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

hr.uagb-editor__separator {
	border-bottom: 1px solid #e2e4e7;
}

.uagb-inspect-tabs > .components-tab-panel__tabs button.active-tab,
.uagb-inspect-tabs > .components-tab-panel__tabs button:focus {
	border-bottom: 3px solid #333;
	outline: none;
	font-weight: 500;
}

.uagb-inspect-tab-title {
	margin-top: 20px;
}

.uagb-inspect-tabs-col-2 > .components-tab-panel__tabs button,
.uagb-inspect-tabs.uagb-inspect-tabs-col-2
	> .components-tab-panel__tabs
	button {
	width: 50%;
}
.DayPickerNavigation,
.DayPicker_weekHeader,
.components-button-group .components-button.is-primary,
.components-button-group .components-button:focus,
.components-toolbar .components-button,
.components-toolbar .components-button:before {
	z-index: unset;
}
.uagb-inspect-tabs .components-tab-panel__tabs {
	margin-bottom: 15px;
}

.uagb-inspect-tabs-col-3 > .components-tab-panel__tabs button {
	width: 33.33%;
}

.uagb-settings-notice {
	color: #478a3b;
	background-color: #e5fce3;
	padding: 15px;
	border-left: 5px solid #c3f9c5;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
}

.uagb-note,
.components-base-control__help {
	color: #a4afb7;
	font-size: 12px;
	font-style: italic;
}

.components-range-control.uagb-margin-control .components-base-control__label {
	width: 30px;
}

.uagb-icons-list .uagb-widget-icon {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	padding: 1em;
	margin: 0;
	border: 1px solid #f1f1f1;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
}

.uagb-icons-list {
	display: inline-block;
	max-height: 200px;
	padding: 0;
	margin: 1em 0 0 0;
	overflow: auto;
}

.uagb-widget-icon svg {
	width: 20px;
	height: 20px;
}

.uagb-icon-picker-wrap {
	position: relative;
	vertical-align: middle;
	width: 100%;
	margin: 8px 0;
}

.uagb-icon-picker-wrap .search-icon {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	width: 100%;
}

.components-button-group.uagb-size-type-field {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	margin-bottom: -18px;
}
.edit-post-sidebar h2.uagb-size-type-field-title {
	font-size: 14px;
	margin-bottom: 0;
	color: #555d66;
	margin-top: 30px;
}
.uagb-size-type-field button.components-button.uagb-size-btn {
	background: transparent;
	color: #777;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	height: 18px;
	line-height: 18px;
	padding: 0 3px;
}

.uagb-size-type-field button.components-button.uagb-size-btn:first-child {
	padding-left: 0;
}

.uagb-size-type-field button.components-button.uagb-size-btn:last-child {
	padding-right: 0;
}

.uagb-size-type-field button.components-button.uagb-size-btn.is-primary,
.uagb-size-type-field
	button.components-button.uagb-size-btn.is-primary:focus:not(:disabled):not([aria-disabled="true"]) {
	box-shadow: none;
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	text-decoration: underline;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	outline: none;
}

.components-button-group .components-button.is-button {
	position: relative;
	z-index: 1;
}

.uagb-size-type-field button.components-button.uagb-size-btn:hover,
.uagb-size-type-field
	button.components-button.uagb-size-btn:hover:focus:not(:disabled):not([aria-disabled="true"]) {
	color: #000;
	box-shadow: none;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	outline: none;
}

.uagb-size-type-field__common-tabs .components-tab-panel__tabs {
	display: block;
	margin-bottom: -34px;
}

.uag-box-shadow-option-actions {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

/*.uag-typography-option-actions .uagb-typography-reset-btn,
.uag-typography-option-actions .uagb-typography-reset-btn:hover,
.uag-typography-option-actions .uagb-typography-reset-btn:active:enabled {
	float: right;
	box-shadow: none;
	background: none;
	border: none;
}

.uag-typography-option-actions button svg {
	width: 15px;
	height: 15px;
}

.uag-typography-option-actions button svg:hover {
	fill: #23282d;
}

.uag-typography-option-actions button.uagb-typography-reset-btn svg {
	width: 13px;
	height: 13px;
	fill: #777;
}*/

.uagb__url-panel-body .block-editor-url-input input {
	width: 100%;
}

/*
 Fonticon picker css
 */

/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uagb-setting-label .component-color-indicator {
	vertical-align: middle;
	background-color: transparent;
}

.components-button.uagb-rm-btn {
	margin-left: 10px;
}

[class^="fipicon-"] {
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
}

i.fipicon-angle-down::before {
	font-family: dashicons, serif;
	content: "\f140";
}

i.fipicon-angle-up::before {
	font-family: dashicons, serif;
	content: "\f142";
}

i.fipicon-angle-right::before {
	font-family: dashicons, serif;
	content: "\f345";
}

i.fipicon-angle-left::before {
	font-family: dashicons, serif;
	content: "\f341";
}

label.wp-block-uagb-blockquote__via-label svg {
	fill: #6c7781;
	vertical-align: middle;
}
.slick-arrow svg {
	vertical-align: middle;
}
.components-select-control__input {
	text-transform: capitalize;
}

.components-panel__body.uagb-repeater-panel {
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
	border: 1px solid #e2e4e7;
	background: #fff;
	margin-top: 1em;
}
.edit-post-settings-sidebar__panel-block
	.components-panel__body.uagb-repeater-panel:last-child {
	margin-bottom: 1em;
}

.uagb-inline-margin .uagb-margin-control label.components-base-control__label {
	display: inline-block;
}

.uagb-inline-margin .components-button-group.uagb-size-type-field {
	display: inline-block;
	float: right;
}

.uagb-forms-button-group {
	margin-bottom: 15px;
}
.uag-typography-range-options
	+ .components-base-control
	.components-base-control__field
	.css-unzpkb-Flex-Root {
	position: inherit;
}

.uag-typography-range-options + .components-button-group.uagb-size-type-field {
	margin-bottom: -33px;
}
/* Common uagb reset CSS start here */
button.components-button.uagb-reset.is-secondary.is-small:not(:disabled) {
	color: #2e92c4;
}

.uagb-reset .dashicons-image-rotate {
	width: 12px;
	height: 11px;
	font-size: 9px;
}
.uagb-reset {
	margin-top: 0.3em;
	height: auto;
}
button.components-button.uagb-reset.is-secondary.is-small {
	box-shadow: unset;
	background: 0 0;
}
/* Common uagb reset CSS end here */

/* Common CSS for border start here */
.uagb-border-width {
	margin-bottom: -15px;
}

.uagb-border-wrap {
	display: flex;
	margin-bottom: 5px;
}

.uagb-border-radius {
	margin-bottom: -20px;
}

label.uagb-border-label {
	margin-right: 130px;
}
/* Common CSS for border ens here */

button.components-button.uagb-review-select-btn.is-secondary {
	margin-bottom: 10px;
}

.components-toggle-control__label {
	line-height: 2;
}
.uagb-control__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.components-panel__body .uagb-control__label {
	margin-bottom: 0;
}
.uagb-components-base-control {
	margin-bottom: 18px;
}
.uag-typography-range-options
	.components-base-control
	.components-flex.components-select-control {
	position: unset;
}
.uag-typography-option-actions
	.uagb-typography-control-btn.components-button:focus:not(:disabled) {
	box-shadow: unset;
	outline: none;
	color: #2e92c4;
}
.uagb-inspector-tab
	.components-panel__body.is-opened
	> .components-panel__body-title {
	margin-bottom: 16px;
}

.uagb-inspector-tab > .components-base-control,
.uagb-inspector-tab > h2 {
	padding: 0 10px;
	margin: -10px;
	margin-bottom: 16px;
}
.uagb-inspector-tab
	.components-panel__body
	> .components-panel__body-title
	.components-button.components-panel__body-toggle:focus {
	box-shadow: none;
}
.uag-responsive-common-button {
	box-shadow: none;
	color: #007cba;
	border-radius: 100%;
	border: 0;
	border-bottom: 0;
	outline: 0;
	font-size: 8px;
	display: inline-block;
	height: 16px;
	width: 22px;
	cursor: pointer;
	font-weight: 500;
	padding: 4px;
	margin: 0;
	line-height: 0;
	margin-left: 5px;
}
.uag-responsive-common-button .dashicon {
	font-size: 15px;
}
.components-button.uag-responsive-common-button:hover,
.components-button.uag-responsive-common-button:focus,
.components-button.uag-responsive-common-button:active {
	box-shadow: none;
	outline: none;
	color: #007cba;
}

.uag-responsive-label-wrap {
	display: flex;
	align-items: center;
}
.components-panel__body.is-opened .uagb-range-control-responsive {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-left: 5px;
}
.components-base-control
	.uagb-control__header
	.uagb-range-control-responsive
	.uagb-responsive-tabs {
	margin: 0;
	padding: 4px;
	line-height: 0;
	box-shadow: none;
}
.uagb-inspector-tab
	.components-base-control
	.components-range-control__wrapper {
	margin-left: 0px;
}
.components-range-control__slider {
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.uagb-inspector-tab span[CLASS*="-ThumbWrapper"] {
	left: 0%;
	height: 17px;
	width: 17px;
	margin-left: 0px;
	margin-top: 6px;
}

.uagb-bg-image {
	border-radius: 2px;
	background-color: #f0f0f0;
	min-height: 90px;
	padding: 8px 0;
	text-align: center;
	display: block;
	width: 100%;
	transition: all 0.1s ease-out;
	box-shadow: 0 0 0 0 #0085ba;
	margin-top: 10px;
}
.uagb-bg-image button.components-button.is-secondary {
	margin-top: 20px;
	margin-right: 30px;
}
.uagb-bg-image button.components-button.uagb-rm-btn.is-link.is-destructive {
	margin-top: 18px;
}
.uagb-bg-image .components-button:focus:not(:disabled) {
	box-shadow: 0 0;
	color: 0 0;
}
.uagb-bg-image .components-button.is-secondary:hover:not(:disabled),
.components-button.is-tertiary:hover:not(:disabled) {
	box-shadow: 0 0;
	color: 0 0;
}
.uagb-bg-image .components-button.is-secondary,
.components-button.is-tertiary {
	box-shadow: 0 0;
	color: 0 0;
}
.interface-interface-skeleton__sidebar
	.components-panel[data-uagb-tab="advance"]
	.block-editor-block-inspector__advanced.uagb-extention-tab {
	border: none;
	border-bottom: 1px solid #e0e0e0;
}
