/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

.uagb-inspect-tabs .components-tab-panel__tabs button{
	border: 0px;
    padding: 10px;
}

.uagb-inspect-tabs .active-tab {
    background-color: #a4afb7;
    color: #fff;   
    outline:none;
}

.uagb-inspect-tabs .components-tab-panel__tabs button:focus{
    border: 0px solid #a4afb7;
    border-style: initial;
    outline: none;
}