.uagb-bg-image {
	display: flex;

	.components-button {
		margin: 0;
		border-radius: 2px;
		background-color: #f0f0f0;
		min-height: 90px;
		padding: 8px 0;
		text-align: center;
		display: flex;
		width: 100%;
		transition: all 0.1s ease-out;
		box-shadow: 0 0 0 0 #0085ba;
		margin-top: 10px;
		align-items: center;
		justify-content: center;

		&.is-destructive:hover:not(:disabled) {
			color: #710d0d;
			box-shadow: inset 0 0 0 0 #710d0d;
		}

		&.is-link.is-destructive {

			&:hover:not(:disabled) {
				background: #f0f0f0;
			}

			&:focus:not(:disabled) {
				outline: none;
			}
		}
	}

	.uagb-rm-btn {
		margin-left: 0;
	}
}

.uagb-bg-image .components-button:focus:not(:disabled),
.uagb-bg-image .components-button.is-secondary:hover:not(:disabled),
.components-button.is-tertiary:hover:not(:disabled),
.uagb-bg-image .components-button.is-secondary,
.components-button.is-tertiary {
	box-shadow: none;
}

.uag-background-image,
.uag-background-video {

	.uagb-bg-image {
		display: block;
		.components-button {
			min-height: 55px;

		}
		.components-button:last-child {
			margin-left: 0;
			margin-top: 0;
		}

	}
}
