/**
 * Editor styles for the admin
 */

.uagb-note {
	font-size: 11px;
    font-style: italic;
    line-height: 1.4;
    color: #a4afb7;
}

.uagb-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #f9f0c3;
    padding: 15px;
    border-left: 5px solid transparent;
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}
