.uagb-ratings-feature .uagb-features {
       display:flex;
       padding: 10px 0 10px 0;
   }

.uagb-star-inner-container {
   margin-left: 100px;
   min-width: 100px;
   display:flex;
}

.uagb-ratings-wrap {
    display:inline-flex;
    .uagb-avg-review-star {
	    padding-left: 10px;
	    padding-bottom: 10px;
	    padding-right: 25px;
	    padding-top: 10px;
	}

	.uagb-product-price {
	    padding-left: 50px;
	    padding-bottom: 10px;
	    padding-right: 50px;
	    padding-top: 10px;
	}

    .uagb-product-price-value, .uagb-product-price-currency {
	  display:inline-flex;
	  margin-top: -22px;
	  margin-bottom: 0px;
	}

	.uagb-stock-availability {
	    padding-left: 50px;
	    padding-bottom: 10px;
	    padding-right: 50px;
	    padding-top: 10px;
	}
}

.dashicons.dashicons-plus-alt{
    left: 50%;
    width: 100%;
}

.dashicons.dashicons-trash{
  margin-left: 50px;
}

.editor-styles-wrapper [data-type="uagb/ratings"] .rating-schema-notices {
  background-color: #FFF8E5;
  border-left: 5px solid #FFB901;
  padding: 8px 10px;
  font-size: 13px;
  line-height: 20px;
  color: #32373c; 
}

.editor-styles-wrapper [data-type="uagb/ratings"] .rating-schema-notices ul {
  margin: 0;
  padding-bottom: 0; 
}

.editor-styles-wrapper [data-type="uagb/ratings"] .rating-schema-notices h6 {
  margin: 0;
  font-size: inherit;
  line-height: inherit; 
}

.editor-styles-wrapper [data-type="uagb/ratings"] .rating-schema-notices p {
  margin: 0;
  margin-top: 15px;
  font-size: inherit;
  color: #555d66; 
}