.dashicons.dashicons-plus-alt{
    left: 50%;
    width: 100%;
}

.dashicons.dashicons-trash{
  margin-left: 50px;
}
  .uagb_review_average_stars, .uagb_review_entry .dashicons-trash {
	float: right;
  }