.uagb-avg-review-star-inner-container {
    display:flex;
    padding:10px 0px 10px 0px;
}

.dashicons.dashicons-plus-alt{
    left: 50%;
    width: 100%;
}

  .dashicons.dashicons-trash{
      float: right;
  }