.uagb-tax-not-available {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
.uagb-layout-list .uagb-list-wrap{
    margin: 0;
}
.uagb-list-display-style-group{
    margin-bottom: 20px !important;
}