/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .components-button-group{
	 z-index: 0;
 }
.uagb-columns__wrap:before {
	content: '';
	position: absolute;
	border: 1px dashed #03ddff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
 }

.uagb-columns__edit-active.uagb-columns__wrap:before {
	border-color: #035cff;
}

.editor-bg-image-control .components-button,
.editor-bg-video-control .components-button {
	vertical-align: middle;
}

.editor-bg-image-control .components-button:last-child,
.editor-bg-video-control .components-button:last-child {
	margin-left: 10px;
}

.uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: nowrap;
}

.uagb-columns__inner-wrap > .block-editor-inner-blocks,
.uagb-columns__inner-wrap > .block-editor-block-list__layout {
	width: 100%;
}
.wp-block-uagb-columns .block-editor-block-list__layout {
	margin-left: 0;
	margin-right: 0;

	.editor-block-list__block {
		max-width: none !important;
	}
}

.block-editor-block-list__block[data-type="uagb/columns"] {
    clear: both;
}

.block-editor-block-list__block[data-align=center][data-type="uagb/columns"] {
	text-align: inherit;
}

.block-editor-block-list__block[data-type="uagb/column"] > .editor-block-contextual-toolbar {
    top: 38px;
    transform: translateY(-38px);
    margin-left: -29px;
    margin-right: -29px;
}

.block-editor-block-list__block[data-type="uagb/column"]>.editor-block-list__insertion-point {
    top: 0;
    margin-top: 0;
}

.block-editor-block-list__block[data-align="full"] .wp-block-uagb-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
	&:first-child {
		margin-left: 30px;
	}
	&:last-child {
		margin-right: 30px;
	}
}

.wp-block-uagb-columns.uagb-columns__valign-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wp-block-uagb-columns.uagb-columns__valign-center>.uagb-columns__inner-wrap {
	width:100%;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom>.uagb-columns__inner-wrap {
	width:100%;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="uagb/column"] > .block-editor-block-list__block-edit {

	margin-left: 14px;
	margin-right: 14px;

	> div:not(.editor-block-contextual-toolbar) {
		width: 100%;
	}
	> .editor-block-contextual-toolbar {
		position: absolute;
		top: 0;
		transform: translateY(-39px);
	}
}

.wp-block-uagb-columns>.uagb-columns__inner-wrap>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="uagb/column"]>.block-editor-block-list__block-edit:before {
    bottom: 0;
    top: 0;
}

.block-editor-block-list__block[data-align="full"] .wp-block-uagb-columns {
	padding-left: 15px;
    padding-right: 15px;
}
/* for editor preview */
.uagb-editor-preview-mode-mobile.uagb-columns__stack-mobile,
.uagb-editor-preview-mode-tablet.uagb-columns__stack-tablet,
.uagb-editor-preview-mode-mobile.uagb-columns__stack-tablet{
	> .uagb-columns__inner-wrap>.block-editor-inner-blocks>.block-editor-block-list__layout,
	> .uagb-columns__inner-wrap>.block-editor-inner-blocks>.block-editor-block-list__layout,
	> .uagb-columns__inner-wrap>.block-editor-inner-blocks>.block-editor-block-list__layout
	{
		display:block;
		> .block-editor-block-list__block[data-type="uagb/column"]{
			width: 100%!important;
		}
	}

}
.wp-block-uagb-columns {
	display: block;
	position: relative;

	> .uagb-columns__inner-wrap {
		z-index: 10;
		position: relative;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-left: 0;
			margin-right: 0;
			> [data-type="uagb/column"] {
				display: flex;
				flex-direction: column;
				max-width: none;
				margin-top: 0;
				margin-bottom: 0;
				.block-editor-block-list__block-edit {
					flex-basis: 100%;
				}
			}
		}
	}
}
.uagb-columns__columns-1 .block-editor-block-list__block[data-type="uagb/column"] { width: 100%; }
.uagb-columns__columns-2 .block-editor-block-list__block[data-type="uagb/column"] { width: 50%; }
.uagb-columns__columns-3 .block-editor-block-list__block[data-type="uagb/column"] { width: 33.33%; }
.uagb-columns__columns-4 .block-editor-block-list__block[data-type="uagb/column"] { width: 25%; }
.uagb-columns__columns-5 .block-editor-block-list__block[data-type="uagb/column"] { width: 20%; }
.uagb-columns__columns-6 .block-editor-block-list__block[data-type="uagb/column"] { width: 16.66%; }

.wp-block-uagb-columns.uagb-columns__valign-center > .uagb-columns__inner-wrap {
	justify-content: center;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom > .uagb-columns__inner-wrap {
	justify-content: flex-end;
}

.wp-block-uagb-columns.uagb-columns__valign-center > .uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="uagb/column"] > .block-editor-block-list__block-edit {
    align-items: center;
    display: flex;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom > .uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="uagb/column"] > .block-editor-block-list__block-edit {
    align-items: flex-end;
    display: flex;
}

.wp-block-uagb-column {
	width: 100%;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"][data-type="uagb/columns"] {
	margin-left: 0;
	margin-right: 0;
}

.edit-post-visual-editor .editor-writing-flow .block-editor-block-list__layout .block-editor-block-list__block[data-type="uagb/column"] > .block-editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0;
}

.block-editor-block-list__layout .uagb-column__wrap .uagb-column__inner-wrap {
    z-index: unset;
}

.block-editor-block-list__layout .uagb-column__wrap {
    overflow: visible;
}

@media (min-width: 600px) {
    .edit-post-visual-editor .block-editor-block-list__block[data-type="uagb/column"] .block-editor-block-list__block-edit {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 976px) {

	.uagb-columns__reverse-tablet.wp-block-uagb-columns > .uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-direction: column-reverse;
	}
}

@media (max-width: 767px) {

	.uagb-columns__reverse-mobile.wp-block-uagb-columns > .uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-direction: column-reverse;
	}
}

@media (max-width: 600px) {
	.wp-block-uagb-columns > .uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
		flex-direction: column;
	}
	.wp-block-uagb-columns > .uagb-columns__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="uagb/column"] {
		flex: none !important;
		width: 100%;
		margin-right: 0;
	}
}

.block-editor-block-list__block[data-type="uagb/columns"]>.block-editor-block-list__block-edit:before {
    pointer-events: inherit;
}

.block-editor-block-list__block[data-type="uagb/columns"]>.editor-block-list__insertion-point {
	height: 16px;
	.editor-block-list__insertion-point-inserter {
		height: 16px;
	}
}