/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .uagb-columns__wrap:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	border: 1px dashed #03ddff;
	content: "";
}

.uagb-columns__edit-active.uagb-columns__wrap:before {
	border-color: #035cff;
}

.editor-bg-image-control .components-button,
.editor-bg-video-control .components-button {
	vertical-align: middle;
}

.editor-bg-image-control .components-button:last-child,
.editor-bg-video-control .components-button:last-child {
	margin-left: 10px;
}

.uagb-columns__wrap
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	display: flex;
	flex-wrap: nowrap;
}

.uagb-columns__wrap > .block-editor-inner-blocks,
.uagb-columns__wrap > .block-editor-block-list__layout {
	z-index: 2;
	width: 100%;
}

.uagb-columns__columns-1
	.block-editor-block-list__block[data-type="uagb/column"] {
	width: 100%;
}
.uagb-columns__columns-2
	.block-editor-block-list__block[data-type="uagb/column"] {
	width: 50%;
}
.uagb-columns__columns-3
	.block-editor-block-list__block[data-type="uagb/column"] {
	width: 33.33%;
}
.uagb-columns__columns-4
	.block-editor-block-list__block[data-type="uagb/column"] {
	width: 25%;
}
.uagb-columns__columns-5
	.block-editor-block-list__block[data-type="uagb/column"] {
	width: 20%;
}
.uagb-columns__columns-6
	.block-editor-block-list__block[data-type="uagb/column"] {
	width: 16.66%;
}

.wp-block-uagb-columns .block-editor-block-list__layout {
	margin-right: 0;
	margin-left: 0;

	.editor-block-list__block {
		max-width: none !important;
	}
}

.block-editor-block-list__block[data-type="uagb/columns"] {
	clear: both;
}

.block-editor-block-list__block[data-align="center"][data-type="uagb/columns"] {
	text-align: inherit;
}

.block-editor-block-list__block[data-type="uagb/column"]
	> .editor-block-contextual-toolbar {
	top: 38px;
	margin-right: -29px;
	margin-left: -29px;
	transform: translateY(-38px);
}

.block-editor-block-list__block[data-type="uagb/column"]
	> .editor-block-list__insertion-point {
	top: 0;
	margin-top: 0;
}

.block-editor-block-list__block[data-align="full"]
	.wp-block-uagb-columns
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	&:first-child {
		margin-left: 30px;
	}
	&:last-child {
		margin-right: 30px;
	}
}

.wp-block-uagb-columns.uagb-columns__valign-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wp-block-uagb-columns.uagb-columns__valign-center {
	width: 100%;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom,
.wp-block-uagb-columns.uagb-columns__valign-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.block-editor-block-list__layout
	.block-editor-block-list__block[data-type="uagb/column"]
	> .block-editor-block-list__block-edit {
	margin-right: 14px;
	margin-left: 14px;

	> div:not(.editor-block-contextual-toolbar) {
		width: 100%;
	}
	> .editor-block-contextual-toolbar {
		position: absolute;
		top: 0;
		transform: translateY(-39px);
	}
}

.wp-block-uagb-columns
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> [data-type="uagb/column"]
	> .block-editor-block-list__block-edit:before {
	top: 0;
	bottom: 0;
}

.block-editor-block-list__block[data-align="full"] .wp-block-uagb-columns {
	padding-right: 15px;
	padding-left: 15px;
}

.wp-block-uagb-columns {
	position: relative;
	display: flex;
	z-index: 10;
	flex-direction: column;
	margin: 0 auto;
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-right: 0;
		margin-left: 0;
		> [data-type="uagb/column"] {
			display: flex;
			flex-direction: column;
			max-width: none;
			margin-top: 0;
			margin-bottom: 0;
			.block-editor-block-list__block-edit {
				flex-basis: 100%;
			}
		}
	}
}

.wp-block-uagb-columns.uagb-columns__valign-center {
	justify-content: center;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom {
	justify-content: flex-end;
}

.wp-block-uagb-columns.uagb-columns__valign-center
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> [data-type="uagb/column"]
	> .block-editor-block-list__block-edit {
	display: flex;
	align-items: center;
}

.wp-block-uagb-columns.uagb-columns__valign-bottom
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> [data-type="uagb/column"]
	> .block-editor-block-list__block-edit {
	display: flex;
	align-items: flex-end;
}

.wp-block-uagb-column {
	width: 100%;
}

.block-editor-block-list__layout
	.block-editor-block-list__block[data-align="full"][data-type="uagb/columns"] {
	margin-right: 0;
	margin-left: 0;
}

.edit-post-visual-editor
	.editor-writing-flow
	.block-editor-block-list__layout
	.block-editor-block-list__block[data-type="uagb/column"]
	> .block-editor-block-list__block-edit {
	margin-right: 0;
	margin-left: 0;
}

.block-editor-block-list__layout .uagb-column__wrap {
	z-index: unset;
}

.block-editor-block-list__layout .uagb-column__wrap {
	overflow: visible;
}

@media (min-width: 600px) {
	.edit-post-visual-editor
		.block-editor-block-list__block[data-type="uagb/column"]
		.block-editor-block-list__block-edit {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 976px) {
	.uagb-columns__reverse-tablet.wp-block-uagb-columns
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		flex-direction: column-reverse;
	}
}

@media (max-width: 767px) {
	.uagb-columns__reverse-mobile.wp-block-uagb-columns
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		flex-direction: column-reverse;
	}
}

@media (max-width: 600px) {
	.wp-block-uagb-columns
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout {
		flex-direction: column;
	}
	.wp-block-uagb-columns
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout
		> [data-type="uagb/column"] {
		flex: none !important;
		width: 100%;
		margin-right: 0;
	}
}

.block-editor-block-list__block[data-type="uagb/columns"]
	> .block-editor-block-list__block-edit:before {
	pointer-events: inherit;
}

.block-editor-block-list__block[data-type="uagb/columns"]
	> .editor-block-list__insertion-point {
	height: 16px;
	.editor-block-list__insertion-point-inserter {
		height: 16px;
	}
}
