/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.uagb-columns__wrap:before {
	content: '';
	position: absolute;
	border: 1px dashed #03ddff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
 }

.uagb-columns__edit-active.uagb-columns__wrap:before {
	border-color: #035cff;
}

.editor-bg-image-control .components-button,
.editor-bg-video-control .components-button {
	vertical-align: middle;
}

.editor-bg-image-control .components-button:last-child,
.editor-bg-video-control .components-button:last-child {
	margin-left: 10px;
}

.uagb-columns__inner-wrap > .editor-inner-blocks > .editor-block-list__layout {
	display: flex;
	flex-wrap: nowrap;
}

.uagb-columns__inner-wrap > .editor-inner-blocks,
.uagb-columns__inner-wrap > .editor-block-list__layout {
	width: 100%;
}

.uagb-columns__columns-1 .editor-block-list__block[data-type="uagb/column"] { width: 100%; }
.uagb-columns__columns-2 .editor-block-list__block[data-type="uagb/column"] { width: 50%; }
.uagb-columns__columns-3 .editor-block-list__block[data-type="uagb/column"] { width: 33.33%; }
.uagb-columns__columns-4 .editor-block-list__block[data-type="uagb/column"] { width: 25%; }
.uagb-columns__columns-5 .editor-block-list__block[data-type="uagb/column"] { width: 20%; }
.uagb-columns__columns-6 .editor-block-list__block[data-type="uagb/column"] { width: 16.66%; }
