/**
 * Editor styles for the admin
 */

p.uagb-marketing-btn__prefix.block-editor-rich-text__editable {
	margin: 0 !important;
}

#wpwrap .edit-post-visual-editor a.uagb-marketing-btn__link {
	pointer-events: all;
}
.uagb-marketing-btn__align-text-center .uagb-marketing-btn__link{
	text-align: center;
}
.uagb-marketing-btn__align-text-left .uagb-marketing-btn__link{
	text-align: left;
}
.uagb-marketing-btn__align-text-right .uagb-marketing-btn__link{
	text-align: right;
}