/**
 * Editor styles for the admin
 */

p.uagb-marketing-btn__prefix.block-editor-rich-text__editable {
	margin: 0 !important;
}
#wpwrap .edit-post-visual-editor a.uagb-marketing-btn__link{
	pointer-events: all;
}