/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-uagb-marketing-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	p:empty {
		display: none;
	}

	.uagb-marketing-btn__title,
	p.uagb-marketing-btn__prefix {
		margin-bottom: 0;
	}

	.uagb-marketing-btn__link {
		z-index: 1;
		display: inline-block;
		position: relative;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

	svg {
		width: 20px;
		height: 20px;
		z-index: 1;
	}

	.uagb-marketing-btn__title,
	svg {
		display: inline;
	}

	&.uagb-marketing-btn__align-center,
	&.uagb-marketing-btn__align-text-center .uagb-marketing-btn__title-wrap,
	&.uagb-marketing-btn__align-text-center .uagb-marketing-btn__link {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}

	&.uagb-marketing-btn__align-left,
	&.uagb-marketing-btn__align-text-left .uagb-marketing-btn__title-wrap,
	&.uagb-marketing-btn__align-text-left .uagb-marketing-btn__link {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: left;
	}

	&.uagb-marketing-btn__align-right,
	&.uagb-marketing-btn__align-text-right .uagb-marketing-btn__title-wrap,
	&.uagb-marketing-btn__align-text-right .uagb-marketing-btn__link {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: right;
	}

	&.uagb-marketing-btn__align-full .uagb-marketing-btn__link {
		width: 100%;
	}

	&.uagb-marketing-btn__align-text-center .uagb-marketing-btn__prefix {
		text-align: center;
	}

	&.uagb-marketing-btn__align-text-left .uagb-marketing-btn__prefix {
		text-align: left;
	}

	&.uagb-marketing-btn__align-text-right .uagb-marketing-btn__prefix {
		text-align: right;
	}

	&.uagb-marketing-btn__icon-after svg {
		order: 2;
	}

	/* Start Backward Compatability CSS */
	&.uagb-marketing-btn__align-full .uagb-marketing-btn__wrap {
		width: 100%;
	}

	&.uagb-marketing-btn__align-center .uagb-marketing-btn__wrap,
	&.uagb-marketing-btn__align-text-center .uagb-marketing-btn__title-wrap {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.uagb-marketing-btn__title-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: self-end;
		-ms-flex-align: self-end;
		align-items: self-end;
	}

	&.uagb-marketing-btn__icon-after .uagb-marketing-btn__icon-wrap {
		order: 2;
	}

	/* End of Backward Compatibility CSS */

}

.entry-content {

	.wp-block-uagb-marketing-button .uagb-marketing-btn__link {
		text-decoration: none;
	}
}
