.uag-hide-desktop.uagb-google-map__wrap,
.uag-hide-desktop {
 display: none;
}
@media (max-width: 976px) {
    .uag-hide-tab.uagb-google-map__wrap,
    .uag-hide-tab {
        display: none;
    }
}
@media (max-width: 767px) {
    .uag-hide-mob.uagb-google-map__wrap,
    .uag-hide-mob {
        display: none;
    }
}